{% extends "herobase/layout/box.html" %}
{% load crispy_forms_tags i18n hero_actions static %}
{% load url from future %}

{% block buttons_top %}

{% endblock %}

{% block title %}
    <h2>Top 10</h2>
{% endblock %}

{% block content %}
    <table class="table">
        {% for user in global %}
            <tr>
                <td>
                    <a href="{% url "userprofile_public" user.username %}">
                        <img src="{{ user.profile.avatar_thumbnail }}">
                        {{ user.username }}
                    </a>
                </td>
                <td>
                    {{ user.get_profile.experience }} Erfahrungspunkte
                    <br/>
                    {{ user.get_profile.quests_done }} Quests erledigt und {{ user.get_profile.quests_created }} Quests erstellt
                    <br/>
                    Mitglied seit {{ user.date_joined.date }}
                </td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}





