{% extends "herobase/layout/box.html" %}
{% load crispy_forms_tags i18n hero_actions static %}
{% load url from future %}

{% block buttons_top %}

{% endblock %}

{% block title %}
    <h2>Top 10</h2>
{% endblock %}

{% block content %}
    <table class="table">
        {% for currentuser in global %}
            <tr {% if currentuser.user.username == myname %} class="self" {% endif %}>
                <td>
                    <img src="{{ currentuser.userprofile.avatar_thumbnail }}">
                    <div class="user"><a href="{% url "userprofile_public" currentuser.username %}">{{ currentuser.username }}</a></div>
                    <div class="meta">{{ currentuser.userprofile.experience }} XP</div>
                </td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}





