{% extends "herobase/layout/box.html" %}
{% load crispy_forms_tags i18n hero_actions static %}
{% load url from future %}

{% block buttons_top %}

{% endblock %}

{% block title %}
    <h2>Top 10</h2>
{% endblock %}

{% block content %}
    <table class="table">
        {% for user in global %}
            <tr>
                <td>
                    <a href="{% url "userprofile_public" user.username %}"><img src="{{ user.profile.avatar_thumbnail }}"></a>
                    <div class="user"><a href="{% url "userprofile_public" user.username %}">{{ user.username }}</a></div>
                    <div class="meta">{{ user.profile.experience }} XP</div>
                </td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}





