/*
--- 
description: youarehero frontpage style

authors: 
- Benedikt Morschheuser (http://bmo-design.de)

license:
- MIT
 
requires:
- 
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,600italic,400,700,600);

/* =Spezielles Startseiten-Layout
----------------------------------------------- */
html, body {
	background-color: #ffffff;
	height: 100%; /* WICHTIG!!! STRECKT ANZEIGENBEREICH AUF 100% */
}

/*bootstrap overwrite*/
.span3 {
    width: 220px;/*gegen fluid etc.*/
}
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-variant:400;
}

/*Fixed elements*/
#logo{
	position: fixed;
	top:30px;
	left:50px;
	z-index:5;
}
#nav {
	position: fixed;
	top: 145px;
	left: 0;
	padding: 0px;
	float: left;
	z-index:4;
}

#nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#nav ul li{
	list-style-type: none;
	margin: 0px 0px 5px 5px;
	padding: 0 10px 0 0px;
}

#nav ul li a{
	display: block;
	float:left;
	margin: 0;
	padding: 20px 10px 0px 8px;
	background:url(../img/link_bg_small.png) no-repeat left bottom;
	
	font-size:13px;
	font-weight:700;
}

#menu {
	position: fixed;
	top: 40px;
	right: 0;
	clear: both;
	float: left;
	margin: 0;
	padding: 18px;
	z-index:4;
}

#menu ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#menu ul li{
	list-style-type: none;
	float:left;
	margin: 0px 0px 0px 30px;
	padding: 0;
}

#menu ul li a{
	display: block;
	margin: 0;
	padding: 20px 10px 5px 10px;
	background:url(../img/link_bg.png) no-repeat left bottom;
	
	font-size:20px;
}


#footer {
	position: fixed;
	bottom: 0px;
	right: 0;
	padding:20px;
	z-index:4;
}

#footer a{
	color:#ffffff;
}

/*Content*/
#container_absolute {
	position: absolute;
	top: 120px; left: 0px;
	width: 1200px;/*nur so kurz wie nötig, für shadow darunter in mobile version*/
	margin: 0;
	padding: 0;
	z-index:3;
}
#container_absolute .box {
	float: left;
	margin-top:52px;
}
#bg_container_shadow .box{
	float: left;
	margin-top:100px;
}
/*einzelne Contentelemente*/
#container_absolute #login{
	margin-left:110px;
}
#container_absolute #signUp{
	margin-left:270px;
}
#signUp .content{
	margin-left:220px;
	
	width:181px;
	height:90px;
}
#signUp .content a{
	display:block;
	background:url(../img/Shout-stripes.png) left top no-repeat;
	padding:20px 10px 10px 45px;
	line-height:30px;
	font-weight:bold;
	font-size:24px;
}
#bg_container_shadow #song{
	margin-top:180px;
	margin-left:1110px;
}
#song .content{
	margin-left:160px;
	
	width:181px;
	height:90px;
}
#bg_container_shadow #video{
	margin-left:510px;
}
#video .content{
	margin-left:220px;
	
	width:181px;
	height:90px;
}





/*Background*/
#bg_container {
	width: 6000px;
	margin: auto; /* Div soll zentriert werden */
	min-height: 50%; /* Mindesthöhe für moderne Browser */
	height:auto !important; /* Important Regel für moderne Browser */
	height:50%; /* Mindesthöhe für den IE */
	overflow: hidden !important; /* FF Scroll-leiste */
	
	position:relative;
}

#bg_container_shadow {
	background-color:#000000;
	width: 6000px;
	margin: auto; /* Div soll zentriert werden */
	min-height: 50%; /* Mindesthöhe für moderne Browser */
	height:auto !important; /* Important Regel für moderne Browser */
	height:50%; /* Mindesthöhe für den IE */
	overflow: hidden !important; /* FF Scroll-leiste */
	
	position:relative;
}
.hero{
	position:absolute;
	z-index:1;
	bottom:50%;
	
	height:300px;
	width:200px;
	margin-left:200px;
}

.hero img{
	height:300px;
	width:200px;
}

.shadow{
	position:absolute;
	z-index:1;
	top:50%;
	height:300px;
	width:200px;
	margin-left:200px;
}

.shadow img{
	height:300px;
	width:200px;
}

/*einzelne Shapes oben und unten*/
#hero1{
	margin-left:700px;
}
#hero2{
	margin-left:1600px;
}
#hero3{
	margin-left:2600px;
	width:273px;
	height:200px;
}
#hero3 img{
	width:273px;
	height:200px;
}
#hero4{
	margin-left:3500px;
}
#hero5{
	margin-left:4550px;
	
	width:246px;
	height:256px;
}
#hero5 img{
	width:246px;
	height:256px;
}
#hero6{
	margin-left:5700px;
}



#shadow1{
	margin-left:380px;
}
#shadow2{
	margin-left:1100px;
}
#shadow3{
	margin-left:2000px;
}
#shadow4{
	margin-left:3200px;
}
#shadow5{
	margin-left:4100px;
}
#shadow6{
	margin-left:5150px;
}



/* =Mobile Layouts
----------------------------------------------- */

@media (max-height: 600px) {
	#bg_container_shadow{
		min-height: 100%; /* Mindesthöhe für moderne Browser */
		height:100%; /* Mindesthöhe für den IE */
		
		position:absolute;
		bottom:0px;
		border-bottom:20px solid #000000;
		background: transparent;
		z-index:1;
	}
	#bg_container {
		display:none;
	}
	.hero{
		bottom:20px;
	}
	.shadow{
		display:none;
	}
	#footer {
		padding:0px 20px;
	}
	#bg_container_shadow .box {
		margin-top: 180px;
	}
	#container_absolute{
		top:100px;
	}
}

@media (max-height: 319px) {
	#bg_container_shadow{
		border-bottom:0px solid #000000;
	}
	.hero{
		bottom:0px;
	}
	#footer a{
		color:#000;
	}
	#nav{
		top:100px;
	}
	#container_absolute{
		top:80px;
	}
}

@media (max-width: 600px) {
	#menu{
		position:absolute;
		left:1000px;
		right:auto;
		width:400px;
	}
	#logo img{
		width:150px;
	}
}
/* =Print
----------------------------------------------- */
@media print {
}


