*/.idea
build/*
*.pyc
*.pyo
*.swp
*.swo
*.sqlite
src/projecttemplate/settings/local.py
deploy/configs/hosts/*/*
*/media/*
*/static/*
vm/*
!vm/Vagrantfile
!vm/manifests/*
media/*
static/*
env/*
docs/_build/*
.DS_Store
