.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
[class^="icon-yah"],
[class*=" icon-yah"] {
  margin: 0;
  vertical-align: middle;
  font-style: normal;
  font-family: 'Open Sans Condensed', sans-serif;
  font-variant: small-caps;
  white-space: nowrap;
  *margin-right: .3em;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  position: relative;
}
.icon-yah-home {
  background-image: url("../img/icons/icons_40.png");
  background-position: 0px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-home.icon-80 {
  background-image: url("../img/icons/icons_80.png");
  background-position: 0px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-home.icon-60 {
  background-image: url("../img/icons/icons_60.png");
  background-position: 0px 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.icon-yah-home.icon-30 {
  background-image: url("../img/icons/icons_30.png");
  background-position: 0px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-home.icon-20 {
  background-image: url("../img/icons/icons_20.png");
  background-position: 0px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-billboard {
  background-image: url("../img/icons/icons_40.png");
  background-position: -40px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-billboard.icon-80 {
  background-image: url("../img/icons/icons_80.png");
  background-position: -80px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-billboard.icon-60 {
  background-image: url("../img/icons/icons_60.png");
  background-position: -60px 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.icon-yah-billboard.icon-30 {
  background-image: url("../img/icons/icons_30.png");
  background-position: -30px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-billboard.icon-20 {
  background-image: url("../img/icons/icons_20.png");
  background-position: -20px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-messages {
  background-image: url("../img/icons/icons_40.png");
  background-position: -80px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-messages.icon-80 {
  background-image: url("../img/icons/icons_80.png");
  background-position: -160px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-messages.icon-60 {
  background-image: url("../img/icons/icons_60.png");
  background-position: -120px 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.icon-yah-messages.icon-30 {
  background-image: url("../img/icons/icons_30.png");
  background-position: -60px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-messages.icon-20 {
  background-image: url("../img/icons/icons_20.png");
  background-position: -40px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-calendar {
  background-image: url("../img/icons/icons_40.png");
  background-position: -120px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-calendar.icon-80 {
  background-image: url("../img/icons/icons_80.png");
  background-position: -240px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-calendar.icon-60 {
  background-image: url("../img/icons/icons_60.png");
  background-position: -180px 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.icon-yah-calendar.icon-30 {
  background-image: url("../img/icons/icons_30.png");
  background-position: -90px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-calendar.icon-20 {
  background-image: url("../img/icons/icons_20.png");
  background-position: -60px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-quest-new {
  background-image: url("../img/icons/icons_40.png");
  background-position: -160px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-quest-new.icon-80 {
  background-image: url("../img/icons/icons_80.png");
  background-position: -320px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-quest-new.icon-60 {
  background-image: url("../img/icons/icons_60.png");
  background-position: -240px 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.icon-yah-quest-new.icon-30 {
  background-image: url("../img/icons/icons_30.png");
  background-position: -120px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-quest-new.icon-20 {
  background-image: url("../img/icons/icons_20.png");
  background-position: -80px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-my-quests {
  background-image: url("../img/icons/icons_40.png");
  background-position: -200px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-my-quests.icon-80 {
  background-image: url("../img/icons/icons_80.png");
  background-position: -400px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-my-quests.icon-60 {
  background-image: url("../img/icons/icons_60.png");
  background-position: -300px 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.icon-yah-my-quests.icon-30 {
  background-image: url("../img/icons/icons_30.png");
  background-position: -150px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-my-quests.icon-20 {
  background-image: url("../img/icons/icons_20.png");
  background-position: -100px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-x {
  background-image: url("../img/icons/icons_40.png");
  background-position: -240px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-x.icon-80 {
  background-image: url("../img/icons/icons_80.png");
  background-position: -480px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-x.icon-60 {
  background-image: url("../img/icons/icons_60.png");
  background-position: -360px 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.icon-yah-x.icon-30 {
  background-image: url("../img/icons/icons_30.png");
  background-position: -180px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-x.icon-20 {
  background-image: url("../img/icons/icons_20.png");
  background-position: -120px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-edit {
  background-image: url("../img/icons/icons_40.png");
  background-position: -280px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-edit.icon-80 {
  background-image: url("../img/icons/icons_80.png");
  background-position: -560px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-edit.icon-60 {
  background-image: url("../img/icons/icons_60.png");
  background-position: -420px 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.icon-yah-edit.icon-30 {
  background-image: url("../img/icons/icons_30.png");
  background-position: -210px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-edit.icon-20 {
  background-image: url("../img/icons/icons_20.png");
  background-position: -140px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-arrow {
  background-image: url("../img/icons/icons_40.png");
  background-position: -320px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-arrow.icon-80 {
  background-image: url("../img/icons/icons_80.png");
  background-position: -640px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-arrow.icon-60 {
  background-image: url("../img/icons/icons_60.png");
  background-position: -480px 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.icon-yah-arrow.icon-30 {
  background-image: url("../img/icons/icons_30.png");
  background-position: -240px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-arrow.icon-20 {
  background-image: url("../img/icons/icons_20.png");
  background-position: -160px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-mail-all {
  background-image: url("../img/icons/icons_40.png");
  background-position: -360px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-mail-all.icon-80 {
  background-image: url("../img/icons/icons_80.png");
  background-position: -720px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-mail-all.icon-60 {
  background-image: url("../img/icons/icons_60.png");
  background-position: -540px 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.icon-yah-mail-all.icon-30 {
  background-image: url("../img/icons/icons_30.png");
  background-position: -270px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-mail-all.icon-20 {
  background-image: url("../img/icons/icons_20.png");
  background-position: -180px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-time-short {
  background-image: url("../img/icons/icons_40.png");
  background-position: -400px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-time-short.icon-80 {
  background-image: url("../img/icons/icons_80.png");
  background-position: -800px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-time-short.icon-60 {
  background-image: url("../img/icons/icons_60.png");
  background-position: -600px 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.icon-yah-time-short.icon-30 {
  background-image: url("../img/icons/icons_30.png");
  background-position: -300px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-time-short.icon-20 {
  background-image: url("../img/icons/icons_20.png");
  background-position: -200px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-time-middle {
  background-image: url("../img/icons/icons_40.png");
  background-position: -440px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-time-middle.icon-80 {
  background-image: url("../img/icons/icons_80.png");
  background-position: -880px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-time-middle.icon-60 {
  background-image: url("../img/icons/icons_60.png");
  background-position: -660px 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.icon-yah-time-middle.icon-30 {
  background-image: url("../img/icons/icons_30.png");
  background-position: -330px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-time-middle.icon-20 {
  background-image: url("../img/icons/icons_20.png");
  background-position: -220px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-time-long {
  background-image: url("../img/icons/icons_40.png");
  background-position: -480px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-time-long.icon-80 {
  background-image: url("../img/icons/icons_80.png");
  background-position: -960px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-time-long.icon-60 {
  background-image: url("../img/icons/icons_60.png");
  background-position: -720px 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.icon-yah-time-long.icon-30 {
  background-image: url("../img/icons/icons_30.png");
  background-position: -360px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-time-long.icon-20 {
  background-image: url("../img/icons/icons_20.png");
  background-position: -240px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-logout {
  background-image: url("../img/icons/icons_40.png");
  background-position: -520px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-logout.icon-80 {
  background-image: url("../img/icons/icons_80.png");
  background-position: -1040px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-logout.icon-60 {
  background-image: url("../img/icons/icons_60.png");
  background-position: -780px 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.icon-yah-logout.icon-30 {
  background-image: url("../img/icons/icons_30.png");
  background-position: -390px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-logout.icon-20 {
  background-image: url("../img/icons/icons_20.png");
  background-position: -260px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-leaderboard {
  background-image: url("../img/icons/icons_40.png");
  background-position: -560px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-leaderboard.icon-80 {
  background-image: url("../img/icons/icons_80.png");
  background-position: -1120px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-leaderboard.icon-60 {
  background-image: url("../img/icons/icons_60.png");
  background-position: -840px 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.icon-yah-leaderboard.icon-30 {
  background-image: url("../img/icons/icons_30.png");
  background-position: -420px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-leaderboard.icon-20 {
  background-image: url("../img/icons/icons_20.png");
  background-position: -280px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-local {
  background-image: url("../img/icons/icons_40.png");
  background-position: -600px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-local.icon-80 {
  background-image: url("../img/icons/icons_80.png");
  background-position: -1200px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-local.icon-60 {
  background-image: url("../img/icons/icons_60.png");
  background-position: -900px 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.icon-yah-local.icon-30 {
  background-image: url("../img/icons/icons_30.png");
  background-position: -450px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-local.icon-20 {
  background-image: url("../img/icons/icons_20.png");
  background-position: -300px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-social {
  background-image: url("../img/icons/icons_40.png");
  background-position: -640px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-social.icon-80 {
  background-image: url("../img/icons/icons_80.png");
  background-position: -1280px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-social.icon-60 {
  background-image: url("../img/icons/icons_60.png");
  background-position: -960px 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.icon-yah-social.icon-30 {
  background-image: url("../img/icons/icons_30.png");
  background-position: -480px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-social.icon-20 {
  background-image: url("../img/icons/icons_20.png");
  background-position: -320px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-like {
  background-image: url("../img/icons/icons_40.png");
  background-position: -680px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-like.icon-80 {
  background-image: url("../img/icons/icons_80.png");
  background-position: -1360px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-like.icon-60 {
  background-image: url("../img/icons/icons_60.png");
  background-position: -1020px 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.icon-yah-like.icon-30 {
  background-image: url("../img/icons/icons_30.png");
  background-position: -510px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-like.icon-20 {
  background-image: url("../img/icons/icons_20.png");
  background-position: -340px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-upload {
  background-image: url("../img/icons/icons_40.png");
  background-position: -720px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-upload.icon-80 {
  background-image: url("../img/icons/icons_80.png");
  background-position: -1440px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-upload.icon-60 {
  background-image: url("../img/icons/icons_60.png");
  background-position: -1080px 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.icon-yah-upload.icon-30 {
  background-image: url("../img/icons/icons_30.png");
  background-position: -540px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-upload.icon-20 {
  background-image: url("../img/icons/icons_20.png");
  background-position: -360px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-ok {
  background-image: url("../img/icons/icons_40.png");
  background-position: -760px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-ok.icon-80 {
  background-image: url("../img/icons/icons_80.png");
  background-position: -1520px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-ok.icon-60 {
  background-image: url("../img/icons/icons_60.png");
  background-position: -1140px 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.icon-yah-ok.icon-30 {
  background-image: url("../img/icons/icons_30.png");
  background-position: -570px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-ok.icon-20 {
  background-image: url("../img/icons/icons_20.png");
  background-position: -380px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-ok-all {
  background-image: url("../img/icons/icons_40.png");
  background-position: -800px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-ok-all.icon-80 {
  background-image: url("../img/icons/icons_80.png");
  background-position: -1600px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-ok-all.icon-60 {
  background-image: url("../img/icons/icons_60.png");
  background-position: -1200px 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.icon-yah-ok-all.icon-30 {
  background-image: url("../img/icons/icons_30.png");
  background-position: -600px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-ok-all.icon-20 {
  background-image: url("../img/icons/icons_20.png");
  background-position: -400px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-mail {
  background-image: url("../img/icons/icons_40.png");
  background-position: -840px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-mail.icon-80 {
  background-image: url("../img/icons/icons_80.png");
  background-position: -1680px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-mail.icon-60 {
  background-image: url("../img/icons/icons_60.png");
  background-position: -1260px 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.icon-yah-mail.icon-30 {
  background-image: url("../img/icons/icons_30.png");
  background-position: -630px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-mail.icon-20 {
  background-image: url("../img/icons/icons_20.png");
  background-position: -420px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-postit {
  background-image: url("../img/icons/icons_40.png");
  background-position: -880px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-postit.icon-80 {
  background-image: url("../img/icons/icons_80.png");
  background-position: -1760px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-postit.icon-60 {
  background-image: url("../img/icons/icons_60.png");
  background-position: -1320px 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.icon-yah-postit.icon-30 {
  background-image: url("../img/icons/icons_30.png");
  background-position: -660px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-postit.icon-20 {
  background-image: url("../img/icons/icons_20.png");
  background-position: -440px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-back {
  background-image: url("../img/icons/icons_40.png");
  background-position: -920px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-back.icon-80 {
  background-image: url("../img/icons/icons_80.png");
  background-position: -1840px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-back.icon-60 {
  background-image: url("../img/icons/icons_60.png");
  background-position: -1380px 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.icon-yah-back.icon-30 {
  background-image: url("../img/icons/icons_30.png");
  background-position: -690px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-back.icon-20 {
  background-image: url("../img/icons/icons_20.png");
  background-position: -460px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-disk {
  background-image: url("../img/icons/icons_40.png");
  background-position: -960px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-disk.icon-80 {
  background-image: url("../img/icons/icons_80.png");
  background-position: -1920px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-disk.icon-60 {
  background-image: url("../img/icons/icons_60.png");
  background-position: -1440px 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.icon-yah-disk.icon-30 {
  background-image: url("../img/icons/icons_30.png");
  background-position: -720px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-disk.icon-20 {
  background-image: url("../img/icons/icons_20.png");
  background-position: -480px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-star {
  background-image: url("../img/icons/icons_40.png");
  background-position: -1000px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-star.icon-80 {
  background-image: url("../img/icons/icons_80.png");
  background-position: -2000px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-star.icon-60 {
  background-image: url("../img/icons/icons_60.png");
  background-position: -1500px 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.icon-yah-star.icon-30 {
  background-image: url("../img/icons/icons_30.png");
  background-position: -750px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-star.icon-20 {
  background-image: url("../img/icons/icons_20.png");
  background-position: -500px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-info {
  background-image: url("../img/icons/icons_40.png");
  background-position: -1040px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-info.icon-80 {
  background-image: url("../img/icons/icons_80.png");
  background-position: -2080px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-info.icon-60 {
  background-image: url("../img/icons/icons_60.png");
  background-position: -1560px 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.icon-yah-info.icon-30 {
  background-image: url("../img/icons/icons_30.png");
  background-position: -780px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-info.icon-20 {
  background-image: url("../img/icons/icons_20.png");
  background-position: -520px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-trash {
  background-image: url("../img/icons/icons_40.png");
  background-position: -1080px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-trash.icon-80 {
  background-image: url("../img/icons/icons_80.png");
  background-position: -2160px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-trash.icon-60 {
  background-image: url("../img/icons/icons_60.png");
  background-position: -1620px 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.icon-yah-trash.icon-30 {
  background-image: url("../img/icons/icons_30.png");
  background-position: -810px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-trash.icon-20 {
  background-image: url("../img/icons/icons_20.png");
  background-position: -540px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-settings {
  background-image: url("../img/icons/icons_40.png");
  background-position: -1120px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-settings.icon-80 {
  background-image: url("../img/icons/icons_80.png");
  background-position: -2240px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-settings.icon-60 {
  background-image: url("../img/icons/icons_60.png");
  background-position: -1680px 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.icon-yah-settings.icon-30 {
  background-image: url("../img/icons/icons_30.png");
  background-position: -840px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-settings.icon-20 {
  background-image: url("../img/icons/icons_20.png");
  background-position: -560px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-forward {
  background-image: url("../img/icons/icons_40.png");
  background-position: -1160px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-forward.icon-80 {
  background-image: url("../img/icons/icons_80.png");
  background-position: -2320px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-forward.icon-60 {
  background-image: url("../img/icons/icons_60.png");
  background-position: -1740px 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.icon-yah-forward.icon-30 {
  background-image: url("../img/icons/icons_30.png");
  background-position: -870px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-forward.icon-20 {
  background-image: url("../img/icons/icons_20.png");
  background-position: -580px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-reply {
  background-image: url("../img/icons/icons_40.png");
  background-position: -1200px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-reply.icon-80 {
  background-image: url("../img/icons/icons_80.png");
  background-position: -2400px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-reply.icon-60 {
  background-image: url("../img/icons/icons_60.png");
  background-position: -1800px 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.icon-yah-reply.icon-30 {
  background-image: url("../img/icons/icons_30.png");
  background-position: -900px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-reply.icon-20 {
  background-image: url("../img/icons/icons_20.png");
  background-position: -600px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-quest-ok {
  background-image: url("../img/icons/icons_40.png");
  background-position: -1240px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-quest-ok.icon-80 {
  background-image: url("../img/icons/icons_80.png");
  background-position: -2480px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-quest-ok.icon-60 {
  background-image: url("../img/icons/icons_60.png");
  background-position: -1860px 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.icon-yah-quest-ok.icon-30 {
  background-image: url("../img/icons/icons_30.png");
  background-position: -930px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-quest-ok.icon-20 {
  background-image: url("../img/icons/icons_20.png");
  background-position: -620px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-quest-x {
  background-image: url("../img/icons/icons_40.png");
  background-position: -1280px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-quest-x.icon-80 {
  background-image: url("../img/icons/icons_80.png");
  background-position: -2560px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-quest-x.icon-60 {
  background-image: url("../img/icons/icons_60.png");
  background-position: -1920px 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.icon-yah-quest-x.icon-30 {
  background-image: url("../img/icons/icons_30.png");
  background-position: -960px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-quest-x.icon-20 {
  background-image: url("../img/icons/icons_20.png");
  background-position: -640px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-quest-star {
  background-image: url("../img/icons/icons_40.png");
  background-position: -1320px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-quest-star.icon-80 {
  background-image: url("../img/icons/icons_80.png");
  background-position: -2640px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-quest-star.icon-60 {
  background-image: url("../img/icons/icons_60.png");
  background-position: -1980px 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.icon-yah-quest-star.icon-30 {
  background-image: url("../img/icons/icons_30.png");
  background-position: -990px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-quest-star.icon-20 {
  background-image: url("../img/icons/icons_20.png");
  background-position: -660px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-quest-arrow {
  background-image: url("../img/icons/icons_40.png");
  background-position: -1360px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-quest-arrow.icon-80 {
  background-image: url("../img/icons/icons_80.png");
  background-position: -2720px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-quest-arrow.icon-60 {
  background-image: url("../img/icons/icons_60.png");
  background-position: -2040px 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.icon-yah-quest-arrow.icon-30 {
  background-image: url("../img/icons/icons_30.png");
  background-position: -1020px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-quest-arrow.icon-20 {
  background-image: url("../img/icons/icons_20.png");
  background-position: -680px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-mail-new {
  background-image: url("../img/icons/icons_40.png");
  background-position: -1400px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-mail-new.icon-80 {
  background-image: url("../img/icons/icons_80.png");
  background-position: -2800px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-mail-new.icon-60 {
  background-image: url("../img/icons/icons_60.png");
  background-position: -2100px 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.icon-yah-mail-new.icon-30 {
  background-image: url("../img/icons/icons_30.png");
  background-position: -1050px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-mail-new.icon-20 {
  background-image: url("../img/icons/icons_20.png");
  background-position: -700px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-stop {
  background-image: url("../img/icons/icons_40.png");
  background-position: -1440px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-stop.icon-80 {
  background-image: url("../img/icons/icons_80.png");
  background-position: -2880px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-stop.icon-60 {
  background-image: url("../img/icons/icons_60.png");
  background-position: -2160px 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.icon-yah-stop.icon-30 {
  background-image: url("../img/icons/icons_30.png");
  background-position: -1080px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-stop.icon-20 {
  background-image: url("../img/icons/icons_20.png");
  background-position: -720px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-forbidden {
  background-image: url("../img/icons/icons_40.png");
  background-position: -1480px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-forbidden.icon-80 {
  background-image: url("../img/icons/icons_80.png");
  background-position: -2960px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-forbidden.icon-60 {
  background-image: url("../img/icons/icons_60.png");
  background-position: -2220px 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.icon-yah-forbidden.icon-30 {
  background-image: url("../img/icons/icons_30.png");
  background-position: -1110px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-forbidden.icon-20 {
  background-image: url("../img/icons/icons_20.png");
  background-position: -740px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-home-arrow {
  background-image: url("../img/icons/icons_40.png");
  background-position: -1520px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-home-arrow.icon-80 {
  background-image: url("../img/icons/icons_80.png");
  background-position: -3040px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-home-arrow.icon-60 {
  background-image: url("../img/icons/icons_60.png");
  background-position: -2280px 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.icon-yah-home-arrow.icon-30 {
  background-image: url("../img/icons/icons_30.png");
  background-position: -1140px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-home-arrow.icon-20 {
  background-image: url("../img/icons/icons_20.png");
  background-position: -760px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-40 span {
  top: 35px;
  left: 1px;
  line-height: 20px;
  position: absolute;
}
.icon-60 span {
  top: 60px;
  left: 0px;
  line-height: 20px;
  position: absolute;
}
.icon-80 span {
  padding-left: 5px;
  line-height: 20px;
  vertical-align: bottom;
}
.iconbg {
  background: #ffe700;
}
ul.page-tabs {
  margin-left: -10px;
  margin-bottom: 0px;
  list-style: none;
}
ul.page-tabs li {
  display: block;
  float: left;
  margin-left: -10px;
  margin-right: -5px;
  background: url("../img/tabs.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  padding: 18px 20px 2px;
  line-height: 20px;
}
ul.page-tabs li:nth-child(even) {
  background-position: -300px 0px;
}
ul.page-tabs li:nth-child(3n) {
  background-position: -600px 0px;
}
ul.page-tabs li:nth-child(4n) {
  background-position: -900px 0px;
}
ul.page-tabs li:nth-child(5n) {
  background-position: -1200px 0px;
}
ul.page-tabs li:hover,
ul.page-tabs li.on {
  background-position: 0px -40px;
}
ul.page-tabs li:hover:nth-child(even),
ul.page-tabs li.on:nth-child(even) {
  background-position: -300px -40px;
}
ul.page-tabs li:hover:nth-child(3n),
ul.page-tabs li.on:nth-child(3n) {
  background-position: -600px -40px;
}
ul.page-tabs li:hover:nth-child(4n),
ul.page-tabs li.on:nth-child(4n) {
  background-position: -900px -40px;
}
ul.page-tabs li:hover:nth-child(5n),
ul.page-tabs li.on:nth-child(5n) {
  background-position: -1200px -40px;
}
ul.page-tabs li:hover a,
ul.page-tabs li.on a {
  color: #ffc40d;
}
ul.page-tabs a {
  color: #333333;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.span1-5 {
  width: 120px;
}
.span2-25 {
  width: 200px;
}
.span2-5 {
  width: 220px;
}
.span2-75 {
  width: 240px;
}
.span3-25 {
  width: 300px;
}
.span3-5 {
  width: 320px;
}
.span3-75 {
  width: 340px;
}
.span4-25 {
  width: 400px;
}
.span4-5 {
  width: 420px;
}
.span4-75 {
  width: 440px;
}
ul.grid {
  list-style: none;
  margin: 0 0 0 -20px;
  *zoom: 1;
}
ul.grid li {
  float: left;
  margin: 0px 0px 20px 20px;
}
ul.grid li .box {
  margin-bottom: 0;
}
ul.grid:before,
ul.grid:after {
  display: table;
  content: "";
  line-height: 0;
}
ul.grid:after {
  clear: both;
}
ul.grid:before,
ul.grid:after {
  display: table;
  content: "";
  line-height: 0;
}
ul.grid:after {
  clear: both;
}
ul.small-grid {
  list-style: none;
  margin: 0 0 0 -10px;
  *zoom: 1;
}
ul.small-grid li {
  float: left;
  margin: 0px 0px 10px 10px;
}
ul.small-grid:before,
ul.small-grid:after {
  display: table;
  content: "";
  line-height: 0;
}
ul.small-grid:after {
  clear: both;
}
ul.small-grid:before,
ul.small-grid:after {
  display: table;
  content: "";
  line-height: 0;
}
ul.small-grid:after {
  clear: both;
}
ul.menu li {
  width: 80px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.45);
}
ul.menu li i {
  margin-left: 10px;
}
ul.menu li i span {
  margin-left: -5px;
}
ul.menu li a {
  color: #333333;
}
ul.menu li.on,
ul.menu li:hover {
  background-color: rgba(255, 255, 255, 0.85);
}
ul.menu li.on a,
ul.menu li:hover a {
  color: #cb6e06;
}
ul.user-menu li {
  width: 55px;
  height: 55px;
}
ul.user-menu li i {
  margin-left: 7px;
}
ul.user-menu li i span {
  margin-left: -3px;
}
.box {
  position: relative;
  background: #eeeeee;
  color: #222222;
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
  *zoom: 1;
}
.box a {
  color: #24828e;
}
.box a:hover {
  color: #1a5d65;
}
.box.mini {
  width: 210px;
}
.box.small {
  width: 250px;
}
.box.half {
  width: 270px;
}
.box.big {
  width: 290px;
}
.box.large {
  width: 310px;
}
.box:before,
.box:after {
  display: table;
  content: "";
  line-height: 0;
}
.box:after {
  clear: both;
}
.box:before,
.box:after {
  display: table;
  content: "";
  line-height: 0;
}
.box:after {
  clear: both;
}
.inner-box {
  position: relative;
  margin-top: 6px;
  margin-right: 13px;
  margin-bottom: 6px;
}
.box {
  word-wrap: break-word;
}
.box .box-buttons-top {
  position: relative;
  display: inline-block;
  float: right;
  margin-top: -16px;
  margin-right: -23px;
  margin-left: 10px;
  margin-bottom: 5px;
}
.box .box-buttons-top-left {
  position: relative;
  display: inline-block;
  float: left;
  margin-top: -16px;
  margin-left: -23px;
  margin-right: -20px;
  margin-bottom: 5px;
}
.box .box-buttons-bottom {
  position: relative;
  display: inline-block;
  float: right;
  margin-bottom: -22px;
  margin-right: -23px;
  margin-left: 10px;
  margin-top: 5px;
}
.box .box-buttons-bottom a,
.box .box-buttons-bottom form,
.box .box-buttons-bottom button,
.box .box-buttons-bottom input {
  vertical-align: bottom;
}
.box .box-buttons-top a,
.box .box-buttons-top-left a,
.box .box-buttons-bottom a,
.box .box-buttons-top form,
.box .box-buttons-top-left form,
.box .box-buttons-bottom form,
.box .box-buttons-top button,
.box .box-buttons-top-left button,
.box .box-buttons-bottom button,
.box .box-buttons-top input,
.box .box-buttons-top-left input,
.box .box-buttons-bottom input {
  display: inline-block;
  background: #ffe700;
  border: 0px none;
  padding: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin: 0px;
}
.box .box-buttons-top a.text,
.box .box-buttons-top-left a.text,
.box .box-buttons-bottom a.text,
.box .box-buttons-top form.text,
.box .box-buttons-top-left form.text,
.box .box-buttons-bottom form.text,
.box .box-buttons-top button.text,
.box .box-buttons-top-left button.text,
.box .box-buttons-bottom button.text,
.box .box-buttons-top input.text,
.box .box-buttons-top-left input.text,
.box .box-buttons-bottom input.text {
  padding-right: 5px;
}
.box .box-buttons-top a:hover,
.box .box-buttons-top-left a:hover,
.box .box-buttons-bottom a:hover,
.box .box-buttons-top form:hover,
.box .box-buttons-top-left form:hover,
.box .box-buttons-bottom form:hover,
.box .box-buttons-top button:hover,
.box .box-buttons-top-left button:hover,
.box .box-buttons-bottom button:hover,
.box .box-buttons-top input:hover,
.box .box-buttons-top-left input:hover,
.box .box-buttons-bottom input:hover {
  background: #ccb900;
  color: #000000;
}
.box .box-buttons-top a span,
.box .box-buttons-top-left a span,
.box .box-buttons-bottom a span,
.box .box-buttons-top form span,
.box .box-buttons-top-left form span,
.box .box-buttons-bottom form span,
.box .box-buttons-top button span,
.box .box-buttons-top-left button span,
.box .box-buttons-bottom button span,
.box .box-buttons-top input span,
.box .box-buttons-top-left input span,
.box .box-buttons-bottom input span {
  margin: 2px 5px;
  font-weight: bold;
}
.box .box-content {
  *zoom: 1;
}
.box .box-content:before,
.box .box-content:after {
  display: table;
  content: "";
  line-height: 0;
}
.box .box-content:after {
  clear: both;
}
.box .box-content:before,
.box .box-content:after {
  display: table;
  content: "";
  line-height: 0;
}
.box .box-content:after {
  clear: both;
}
.inner-box .content-wrapper {
  position: relative;
  margin-top: 5px;
  margin-left: 0px;
}
.inner-box .box-buttons-top,
.inner-box .box-buttons-bottom {
  display: block;
  position: absolute;
  margin: 0;
}
.inner-box .box-buttons-top {
  top: -5px;
  right: -10px;
}
.inner-box .box-buttons-bottom {
  bottom: -5px;
  right: -10px;
}
.inner-box img {
  margin: 0;
}
.box .caret {
  display: none;
}
.box.collapsible > .box-title {
  cursor: pointer;
}
.box.collapsible .caret {
  display: inline-block;
  margin-right: 10px;
  margin-top: 6px;
  border-top: 10px solid #222222;
  border-bottom: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}
.box.collapsible.collapsed .box-content {
  display: none;
}
.box.collapsible.collapsed .caret {
  border-left: 10px solid #222222;
  border-right: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}
.box.collapsible.collapsed .box-buttons-top,
.box.collapsible.collapsed .box-buttons-bottom {
  display: none;
}
hr {
  border: 0 none;
  margin: 10px 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px 0;
}
#id_honeypot {
  display: none;
}
h1 {
  font-weight: normal;
  line-height: 40px;
  font-size: 26px;
}
h2 {
  line-height: 20px;
  font-size: 20px;
}
h3 {
  line-height: 20px;
  font-size: 16px;
}
h4 {
  line-height: 20px;
  font-size: 13px;
}
.logo img {
  height: 56px;
}
#be-a-hero {
  height: 0;
  padding-top: 107px;
  overflow: hidden;
  margin-left: -20px;
  margin-top: -60px;
  background: url("../img/SeiHelddeinerStadt.png") no-repeat scroll 0 0 transparent;
  background-size: 100%;
  margin-bottom: 15px;
}
#register-now a {
  margin-left: -8px;
  margin-top: -35px;
  overflow: hidden;
  background: url("../img/register_now.png") no-repeat scroll 0 0 transparent;
  background-size: 100%;
  width: 232px;
  height: 105px;
  padding-top: 150px;
  padding-left: 48px;
  font-variant: small-caps;
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  font-size: 23px;
  color: #24828e;
}
#register-now a:hover {
  color: #1a5d65;
}
.modal {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#butler {
  margin-top: 20px;
  position: relative;
  z-index: 1050;
}
#butler:focus {
  border: 0 none;
}
#butler-bubble {
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  border-radius: 75px;
  padding: 25px;
  background: #eeeeee;
  color: #222222;
  min-height: 165px;
}
#butler-bubble a {
  color: #24828e;
}
#butler-bubble a:hover {
  color: #1a5d65;
}
#butler-bubble .iconbg {
  margin-top: -20px;
  margin-right: -20px;
}
#butler-bubble .bubble-line {
  position: absolute;
  right: -41px;
  top: 62px;
  width: 41px;
  height: 91px;
  background: url("../img/bubble_line.png") no-repeat 0 0 transparent;
}
#butler-bubble.modal,
#butler-bubble.modal.fade.in {
  width: 200px;
  margin-left: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
}
#background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  background: url("../img/city.jpg") no-repeat scroll 50% 0 #333333;
  background-size: cover;
}
.sidebar-left {
  margin-right: 20px;
}
.sidebar-right {
  float: left;
  width: 120px;
  margin-left: 20px;
}
#layout-container {
  width: 970px;
  position: relative;
}
.span100 {
  width: 970px;
}
#site-header-container {
  margin: 20px 0 20px -20px;
}
#sidebar-left-container {
  margin-bottom: 40px;
}
#sidebar-left-container p {
  padding: 0 5px;
  background: rgba(0, 0, 0, 0.25);
}
#sidebar-right-container {
  z-index: 1045;
  margin-bottom: 40px;
}
#page-container {
  width: 630px;
  margin-left: 0;
}
#page-container .span100 {
  width: 610px;
}
#page-title {
  padding: 0 10px;
  font-variant: small-caps;
  background-color: rgba(255, 255, 255, 0.45);
  *zoom: 1;
  height: 40px;
  width: 610px;
  overflow: hidden;
}
#page-title:before,
#page-title:after {
  display: table;
  content: "";
  line-height: 0;
}
#page-title:after {
  clear: both;
}
#page-title:before,
#page-title:after {
  display: table;
  content: "";
  line-height: 0;
}
#page-title:after {
  clear: both;
}
#submenu {
  height: 40px;
  width: 610px;
  overflow: hidden;
  padding: 0px 10px;
  font-variant: small-caps;
  background-color: rgba(255, 255, 255, 0.45);
}
#page-content {
  position: relative;
  padding: 10px 20px 20px 10px;
  background-color: rgba(255, 255, 255, 0.75);
  *zoom: 1;
  margin-bottom: 40px;
}
#page-content:before,
#page-content:after {
  display: table;
  content: "";
  line-height: 0;
}
#page-content:after {
  clear: both;
}
#page-content:before,
#page-content:after {
  display: table;
  content: "";
  line-height: 0;
}
#page-content:after {
  clear: both;
}
#page-footer {
  width: 970px;
  position: fixed;
  bottom: 0;
}
#page-footer a {
  color: #eeeeee;
  padding: 3px 10px;
  background: rgba(0, 0, 0, 0.4);
}
#page-footer a:hover {
  color: #999999;
}
.help-block,
.help-inline {
  color: #999999;
}
.alert {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  margin-bottom: 10px;
  padding: 4px 31px 4px 10px;
}
.notification.read .box {
  background-color: #a2a2a2;
}
.notification a:hover {
  text-decoration: none;
}
.notification .box {
  line-height: 40px;
  margin-bottom: 10px;
}
.notification .box p {
  vertical-align: middle;
  margin: 0;
  display: inline-block;
  line-height: 20px;
  max-width: 530px;
}
.notification .box img {
  vertical-align: middle;
  margin-right: 10px;
}
.badge {
  border-radius: 0px;
  padding: 0px 3px 0px 2px;
  text-shadow: none;
  font-size: 10px;
  background-color: #d3412c;
}
.badge + span {
  left: 0;
}
[class^="icon-"] .badge,
[class*="icon-"] .badge {
  position: relative;
  left: 0;
}
.tooltip {
  font-variant: normal;
  font-size: 14px;
  line-height: 20px;
  min-width: 80px;
}
form {
  margin-bottom: 0px;
  font-variant: small-caps;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  border-top: 1px solid #999999;
  border-left: 1px solid #a6a6a6;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
input,
textarea,
.uneditable-input {
  width: 266px;
}
textarea {
  height: 80px;
}
.btn-toolbar input {
  margin-top: 0px !important;
}
.select2-container .select2-choice {
  border-top: 1px solid #999999;
  border-left: 1px solid #a6a6a6;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  background: #ffffff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  width: 212px;
  height: 28px;
  line-height: 28px;
}
.select2-container .select2-choice div {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.form-actions {
  margin: 0 0px 0px 0;
  padding: 0;
  border: 0px none;
  position: relative;
}
.form-actions .btn {
  background: #ffe700;
  margin-left: 10px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  float: right;
  border: 0px none;
  min-width: 40px;
}
.userprofile-small {
  background: rgba(255, 255, 255, 0.75);
  padding: 5px;
  width: 110px;
  margin-right: 0px;
  font-variant: small-caps;
}
.userprofile-small h4 {
  margin-bottom: 0;
}
.userprofile-small .progress {
  margin-bottom: 0;
  width: 110px;
  height: 20px;
  background: #999999;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  position: relative;
  display: inline-block;
}
.userprofile-small .progress .bar {
  background: #ffc40d;
}
span.action {
  color: #d3412c;
}
span.scientist {
  color: #7e7f7e;
}
span.diplomat {
  color: #c2c036;
}
span.gadgeteer {
  color: #5a9b8a;
}
span.protective {
  color: #3c6b87;
}
ul.thumbnails.image_picker_selector li .thumbnail.selected {
  background: none repeat scroll 0 0 #24828e;
}
.span2 .box select,
.span2 .box textarea,
.span2 .box input[type="text"],
.span2 .box input[type="password"],
.span2 .box input[type="datetime"],
.span2 .box input[type="datetime-local"],
.span2 .box input[type="date"],
.span2 .box input[type="month"],
.span2 .box input[type="time"],
.span2 .box input[type="week"],
.span2 .box input[type="number"],
.span2 .box input[type="email"],
.span2 .box input[type="url"],
.span2 .box input[type="search"],
.span2 .box input[type="tel"],
.span2 .box input[type="color"],
.span2 .box .uneditable-input {
  max-width: 171px;
}
.autocomplete_light_widget .autocomplete {
  margin-bottom: 0px;
}
.autocomplete_light_widget .deck {
  padding-left: 0px;
  margin: 0;
}
.autocomplete_light_widget .deck li {
  background: #f9f9fb;
  border: 1px solid #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  color: #555555;
  display: inline-block;
  font-size: 13px;
  height: 18px;
  line-height: 18px;
  margin-bottom: 0px;
  padding: 4px 3px 4px 5px;
  width: 272px;
  -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.autocomplete_light_widget .deck li .remove {
  float: right;
  background-image: url("../bootstrap/img/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 14px;
  line-height: 14px;
  vertical-align: text-top;
  width: 14px;
  background-position: -312px 0;
  margin-right: 2px;
}
.autocomplete_light_widget .deck li .remove:hover {
  background-position: -312px 0;
}
.autocomplete_light_widget .yourlabs_autocomplete.inner_container {
  width: 278px;
  border-radius: 3px 3px 3px 3px;
  left: 1px;
  border: 1px solid #CCCCCC;
}
.autocomplete_light_widget .yourlabs_autocomplete.inner_container ul {
  border-radius: 3px 3px 3px 3px;
}
#team_hints {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #333333;
}
#team_hints a {
  margin: 2px 10px;
}
img {
  display: block;
}
img.pull-left {
  margin-right: 10px;
  margin-bottom: 5px;
}
.einladungskarte {
  width: 240px;
  margin-left: 10px;
  margin-bottom: 10px;
}
body.city-karlsruhe {
  color: #333333;
}
body.city-karlsruhe #background {
  width: 100%;
  height: 1044px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  background: url("../img/sky.png") no-repeat scroll 50% 0 #ffffff;
  background-size: cover;
}
body.city-karlsruhe #background-city {
  background: url("../img/stadt.png") repeat-x scroll 50% 0 transparent;
  background-size: 100%;
  width: 100%;
  height: 410px;
  position: absolute;
  left: 0;
  top: 900px;
}
body.city-karlsruhe #page-footer {
  position: static;
}
body.city-karlsruhe form[action='/accounts/login/'] .box {
  background: rgba(153, 153, 153, 0.3);
}
body.city-karlsruhe #plattform-for-heroes {
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 42px;
  margin-left: 60px;
  margin-top: 21px;
  display: inline-block;
}
body.city-karlsruhe .slogan {
  font-family: 'Mouse Memoirs', sans-serif;
  margin-left: 220px;
  margin-top: 26px;
  font-size: 200%;
}
body.city-karlsruhe #video {
  margin-top: 30px;
  margin-left: 80px;
  padding: 20px 10px;
  background: url("../img/boxes/videos.png") no-repeat 0 0 transparent;
  display: inline-block;
  background-size: 100% 100%;
}
body.city-karlsruhe #video:hover,
body.city-karlsruhe #video:focus {
  background: url("../img/boxes/videos-black.png") no-repeat 0 0 transparent;
  background-size: 100% 100%;
}
body.city-karlsruhe #video .box-buttons-bottom a {
  background: #03f2d0;
}
body.city-karlsruhe #video .box-buttons-bottom ahover {
  background: #02c0a5;
}
body.city-karlsruhe #login {
  margin-top: 50px;
  margin-left: 70px;
  display: inline-block;
}
body.city-karlsruhe #login .box {
  background: url("../img/boxes/login.png") no-repeat 0 0 transparent;
  background-size: 100% 100%;
}
body.city-karlsruhe #login .box:hover,
body.city-karlsruhe #login .box:focus,
body.city-karlsruhe #login .box:active {
  background: url("../img/boxes/login-black.png") no-repeat 0 0 transparent;
  background-size: 100% 100%;
}
body.city-karlsruhe #login input {
  width: 186px;
}
body.city-karlsruhe #register-now a {
  font-family: 'Mouse Memoirs', sans-serif;
  background: url("../img/bubble.png") no-repeat scroll 0 0 transparent;
  background-size: 100% 100%;
  padding: 50px 25px;
  margin-left: -50px;
  margin-top: -25px;
  width: 140px;
  height: auto;
  text-align: center;
}
body.city-karlsruhe #about {
  margin-top: 84px;
  background: url("../img/boxes/info.png") no-repeat scroll 0 0 transparent;
  background-size: 100% 100%;
  padding-left: 20px;
  padding-right: 80px;
}
body.city-karlsruhe #about:hover,
body.city-karlsruhe #about:focus,
body.city-karlsruhe #about:active {
  background: url("../img/boxes/info-black.png") no-repeat 0 0 transparent;
  background-size: 100% 100%;
}
body.city-karlsruhe #about .box-buttons-bottom a {
  background: #8ef23a;
}
body.city-karlsruhe #about .box-buttons-bottom ahover {
  background: #73ea0f;
}
body.city-karlsruhe #blog {
  display: inline-block;
  background: url("../img/boxes/news.png") no-repeat scroll 0 0 transparent;
  background-size: 100% 100%;
  padding: 15px;
  margin-left: -80px;
}
body.city-karlsruhe #blog:hover,
body.city-karlsruhe #blog:focus,
body.city-karlsruhe #blog:active {
  background: url("../img/boxes/news-black.png") no-repeat 0 0 transparent;
  background-size: 100% 100%;
}
body.city-karlsruhe #blog .box-buttons-bottom a {
  background: #f2f200;
}
body.city-karlsruhe #blog .box-buttons-bottom ahover {
  background: #bfbf00;
}
body.city-karlsruhe #awards {
  margin-top: -70px;
}
body.city-karlsruhe #awards a {
  float: right;
  margin-right: 37px;
}
body.city-karlsruhe #awards a:first-child {
  margin-top: 15px;
}
body.city-karlsruhe #page-footer a:hover {
  background: #ffe700;
}
