.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
[class^="icon-yah"],
[class*=" icon-yah"] {
  margin: 0;
  vertical-align: middle;
  font-style: normal;
  font-family: 'Open Sans Condensed', sans-serif;
  font-variant: small-caps;
  white-space: nowrap;
  *margin-right: .3em;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  position: relative;
}
.icon-yah-home {
  background-image: url("../img/icons_40.png");
  background-position: 0px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-home.icon-80 {
  background-image: url("../img/icons_80.png");
  background-position: 0px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-home.icon-30 {
  background-image: url("../img/icons_30.png");
  background-position: 0px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-home.icon-20 {
  background-image: url("../img/icons_20.png");
  background-position: 0px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-billboard {
  background-image: url("../img/icons_40.png");
  background-position: -40px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-billboard.icon-80 {
  background-image: url("../img/icons_80.png");
  background-position: -80px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-billboard.icon-30 {
  background-image: url("../img/icons_30.png");
  background-position: -30px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-billboard.icon-20 {
  background-image: url("../img/icons_20.png");
  background-position: -20px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-messages {
  background-image: url("../img/icons_40.png");
  background-position: -80px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-messages.icon-80 {
  background-image: url("../img/icons_80.png");
  background-position: -160px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-messages.icon-30 {
  background-image: url("../img/icons_30.png");
  background-position: -60px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-messages.icon-20 {
  background-image: url("../img/icons_20.png");
  background-position: -40px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-calendar {
  background-image: url("../img/icons_40.png");
  background-position: -120px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-calendar.icon-80 {
  background-image: url("../img/icons_80.png");
  background-position: -240px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-calendar.icon-30 {
  background-image: url("../img/icons_30.png");
  background-position: -90px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-calendar.icon-20 {
  background-image: url("../img/icons_20.png");
  background-position: -60px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-new {
  background-image: url("../img/icons_40.png");
  background-position: -160px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-new.icon-80 {
  background-image: url("../img/icons_80.png");
  background-position: -320px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-new.icon-30 {
  background-image: url("../img/icons_30.png");
  background-position: -120px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-new.icon-20 {
  background-image: url("../img/icons_20.png");
  background-position: -80px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-my-quests {
  background-image: url("../img/icons_40.png");
  background-position: -200px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-my-quests.icon-80 {
  background-image: url("../img/icons_80.png");
  background-position: -400px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-my-quests.icon-30 {
  background-image: url("../img/icons_30.png");
  background-position: -150px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-my-quests.icon-20 {
  background-image: url("../img/icons_20.png");
  background-position: -100px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-delete {
  background-image: url("../img/icons_40.png");
  background-position: -240px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-delete.icon-80 {
  background-image: url("../img/icons_80.png");
  background-position: -480px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-delete.icon-30 {
  background-image: url("../img/icons_30.png");
  background-position: -180px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-delete.icon-20 {
  background-image: url("../img/icons_20.png");
  background-position: -120px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-edit {
  background-image: url("../img/icons_40.png");
  background-position: -280px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-edit.icon-80 {
  background-image: url("../img/icons_80.png");
  background-position: -560px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-edit.icon-30 {
  background-image: url("../img/icons_30.png");
  background-position: -210px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-edit.icon-20 {
  background-image: url("../img/icons_20.png");
  background-position: -140px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-arrow {
  background-image: url("../img/icons_40.png");
  background-position: -320px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-arrow.icon-80 {
  background-image: url("../img/icons_80.png");
  background-position: -640px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-arrow.icon-30 {
  background-image: url("../img/icons_30.png");
  background-position: -240px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-arrow.icon-20 {
  background-image: url("../img/icons_20.png");
  background-position: -160px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-mail-all {
  background-image: url("../img/icons_40.png");
  background-position: -360px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-mail-all.icon-80 {
  background-image: url("../img/icons_80.png");
  background-position: -720px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-mail-all.icon-30 {
  background-image: url("../img/icons_30.png");
  background-position: -270px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-mail-all.icon-20 {
  background-image: url("../img/icons_20.png");
  background-position: -180px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-time-short {
  background-image: url("../img/icons_40.png");
  background-position: -400px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-time-short.icon-80 {
  background-image: url("../img/icons_80.png");
  background-position: -800px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-time-short.icon-30 {
  background-image: url("../img/icons_30.png");
  background-position: -300px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-time-short.icon-20 {
  background-image: url("../img/icons_20.png");
  background-position: -200px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-time-middle {
  background-image: url("../img/icons_40.png");
  background-position: -440px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-time-middle.icon-80 {
  background-image: url("../img/icons_80.png");
  background-position: -880px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-time-middle.icon-30 {
  background-image: url("../img/icons_30.png");
  background-position: -330px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-time-middle.icon-20 {
  background-image: url("../img/icons_20.png");
  background-position: -220px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-time-long {
  background-image: url("../img/icons_40.png");
  background-position: -480px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-time-long.icon-80 {
  background-image: url("../img/icons_80.png");
  background-position: -960px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-time-long.icon-30 {
  background-image: url("../img/icons_30.png");
  background-position: -360px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-time-long.icon-20 {
  background-image: url("../img/icons_20.png");
  background-position: -240px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-logout {
  background-image: url("../img/icons_40.png");
  background-position: -520px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-logout.icon-80 {
  background-image: url("../img/icons_80.png");
  background-position: -1040px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-logout.icon-30 {
  background-image: url("../img/icons_30.png");
  background-position: -390px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-logout.icon-20 {
  background-image: url("../img/icons_20.png");
  background-position: -260px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-category {
  background-image: url("../img/icons_40.png");
  background-position: -560px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-category.icon-80 {
  background-image: url("../img/icons_80.png");
  background-position: -1120px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-category.icon-30 {
  background-image: url("../img/icons_30.png");
  background-position: -420px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-category.icon-20 {
  background-image: url("../img/icons_20.png");
  background-position: -280px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-distance {
  background-image: url("../img/icons_40.png");
  background-position: -600px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-distance.icon-80 {
  background-image: url("../img/icons_80.png");
  background-position: -1200px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-distance.icon-30 {
  background-image: url("../img/icons_30.png");
  background-position: -450px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-distance.icon-20 {
  background-image: url("../img/icons_20.png");
  background-position: -300px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-social {
  background-image: url("../img/icons_40.png");
  background-position: -640px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-social.icon-80 {
  background-image: url("../img/icons_80.png");
  background-position: -1280px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-social.icon-30 {
  background-image: url("../img/icons_30.png");
  background-position: -480px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-social.icon-20 {
  background-image: url("../img/icons_20.png");
  background-position: -320px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-like {
  background-image: url("../img/icons_40.png");
  background-position: -680px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-like.icon-80 {
  background-image: url("../img/icons_80.png");
  background-position: -1360px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-like.icon-30 {
  background-image: url("../img/icons_30.png");
  background-position: -510px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-like.icon-20 {
  background-image: url("../img/icons_20.png");
  background-position: -340px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-upload {
  background-image: url("../img/icons_40.png");
  background-position: -720px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-upload.icon-80 {
  background-image: url("../img/icons_80.png");
  background-position: -1440px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-upload.icon-30 {
  background-image: url("../img/icons_30.png");
  background-position: -540px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-upload.icon-20 {
  background-image: url("../img/icons_20.png");
  background-position: -360px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-ok {
  background-image: url("../img/icons_40.png");
  background-position: -760px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-ok.icon-80 {
  background-image: url("../img/icons_80.png");
  background-position: -1520px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-ok.icon-30 {
  background-image: url("../img/icons_30.png");
  background-position: -570px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-ok.icon-20 {
  background-image: url("../img/icons_20.png");
  background-position: -380px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-ok-all {
  background-image: url("../img/icons_40.png");
  background-position: -800px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-ok-all.icon-80 {
  background-image: url("../img/icons_80.png");
  background-position: -1600px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-ok-all.icon-30 {
  background-image: url("../img/icons_30.png");
  background-position: -600px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-ok-all.icon-20 {
  background-image: url("../img/icons_20.png");
  background-position: -400px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-mail {
  background-image: url("../img/icons_40.png");
  background-position: -840px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-mail.icon-80 {
  background-image: url("../img/icons_80.png");
  background-position: -1680px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-mail.icon-30 {
  background-image: url("../img/icons_30.png");
  background-position: -630px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-mail.icon-20 {
  background-image: url("../img/icons_20.png");
  background-position: -420px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-postit {
  background-image: url("../img/icons_40.png");
  background-position: -880px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-postit.icon-80 {
  background-image: url("../img/icons_80.png");
  background-position: -1760px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-postit.icon-30 {
  background-image: url("../img/icons_30.png");
  background-position: -660px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-postit.icon-20 {
  background-image: url("../img/icons_20.png");
  background-position: -440px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-back {
  background-image: url("../img/icons_40.png");
  background-position: -920px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-back.icon-80 {
  background-image: url("../img/icons_80.png");
  background-position: -1840px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-back.icon-30 {
  background-image: url("../img/icons_30.png");
  background-position: -690px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-back.icon-20 {
  background-image: url("../img/icons_20.png");
  background-position: -460px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-disk {
  background-image: url("../img/icons_40.png");
  background-position: -960px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-disk.icon-80 {
  background-image: url("../img/icons_80.png");
  background-position: -1920px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-disk.icon-30 {
  background-image: url("../img/icons_30.png");
  background-position: -720px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-disk.icon-20 {
  background-image: url("../img/icons_20.png");
  background-position: -480px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-star {
  background-image: url("../img/icons_40.png");
  background-position: -1000px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-star.icon-80 {
  background-image: url("../img/icons_80.png");
  background-position: -2000px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-star.icon-30 {
  background-image: url("../img/icons_30.png");
  background-position: -750px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-star.icon-20 {
  background-image: url("../img/icons_20.png");
  background-position: -500px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-info {
  background-image: url("../img/icons_40.png");
  background-position: -1040px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-info.icon-80 {
  background-image: url("../img/icons_80.png");
  background-position: -2080px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-info.icon-30 {
  background-image: url("../img/icons_30.png");
  background-position: -780px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-info.icon-20 {
  background-image: url("../img/icons_20.png");
  background-position: -520px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-trash {
  background-image: url("../img/icons_40.png");
  background-position: -1080px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-trash.icon-80 {
  background-image: url("../img/icons_80.png");
  background-position: -2160px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-trash.icon-30 {
  background-image: url("../img/icons_30.png");
  background-position: -810px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-trash.icon-20 {
  background-image: url("../img/icons_20.png");
  background-position: -540px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-yah-settings {
  background-image: url("../img/icons_40.png");
  background-position: -1120px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.icon-yah-settings.icon-80 {
  background-image: url("../img/icons_80.png");
  background-position: -2240px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.icon-yah-settings.icon-30 {
  background-image: url("../img/icons_30.png");
  background-position: -840px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.icon-yah-settings.icon-20 {
  background-image: url("../img/icons_20.png");
  background-position: -560px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.icon-40 span {
  top: 40px;
  line-height: 20px;
  position: absolute;
}
.icon-80 span {
  padding-left: 5px;
  line-height: 20px;
  vertical-align: bottom;
}
ul.page-tabs {
  margin-left: -10px;
  margin-bottom: 0px;
  list-style: none;
}
ul.page-tabs li {
  display: block;
  float: left;
  margin-left: -10px;
  margin-right: -5px;
  background: url("../img/tabs.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  padding: 18px 20px 2px;
  line-height: 20px;
}
ul.page-tabs li:nth-child(even) {
  background-position: -300px 0px;
}
ul.page-tabs li:nth-child(3n) {
  background-position: -600px 0px;
}
ul.page-tabs li:nth-child(4n) {
  background-position: -900px 0px;
}
ul.page-tabs li:nth-child(5n) {
  background-position: -1200px 0px;
}
ul.page-tabs li:hover,
ul.page-tabs li.on {
  background-position: 0px -40px;
}
ul.page-tabs li:hover:nth-child(even),
ul.page-tabs li.on:nth-child(even) {
  background-position: -300px -40px;
}
ul.page-tabs li:hover:nth-child(3n),
ul.page-tabs li.on:nth-child(3n) {
  background-position: -600px -40px;
}
ul.page-tabs li:hover:nth-child(4n),
ul.page-tabs li.on:nth-child(4n) {
  background-position: -900px -40px;
}
ul.page-tabs li:hover:nth-child(5n),
ul.page-tabs li.on:nth-child(5n) {
  background-position: -1200px -40px;
}
ul.page-tabs li:hover a,
ul.page-tabs li.on a {
  color: #ffc40d;
}
ul.page-tabs a {
  color: #eeeeee;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.span1-5 {
  width: 120px;
}
.span2-25 {
  width: 200px;
}
.span2-5 {
  width: 220px;
}
.span2-75 {
  width: 240px;
}
.span3-25 {
  width: 300px;
}
.span3-5 {
  width: 320px;
}
.span3-75 {
  width: 340px;
}
.span4-25 {
  width: 400px;
}
.span4-5 {
  width: 420px;
}
.span4-75 {
  width: 440px;
}
ul.grid {
  list-style: none;
  margin: 0 0 0 -20px;
  *zoom: 1;
}
ul.grid li {
  float: left;
  margin: 0px 0px 20px 20px;
}
ul.grid li .box {
  margin-bottom: 0;
}
ul.grid:before,
ul.grid:after {
  display: table;
  content: "";
  line-height: 0;
}
ul.grid:after {
  clear: both;
}
ul.grid:before,
ul.grid:after {
  display: table;
  content: "";
  line-height: 0;
}
ul.grid:after {
  clear: both;
}
ul.small-grid {
  list-style: none;
  margin: 0 0 0 -10px;
  *zoom: 1;
}
ul.small-grid li {
  float: left;
  margin: 0px 0px 10px 10px;
}
ul.small-grid:before,
ul.small-grid:after {
  display: table;
  content: "";
  line-height: 0;
}
ul.small-grid:after {
  clear: both;
}
ul.small-grid:before,
ul.small-grid:after {
  display: table;
  content: "";
  line-height: 0;
}
ul.small-grid:after {
  clear: both;
}
ul.menu-grid li {
  background-color: rgba(0, 0, 0, 0.25);
}
ul.menu-grid li.on,
ul.menu-grid li:hover {
  background-color: rgba(0, 0, 0, 0.45);
}
ul.menu-grid li.on a,
ul.menu-grid li:hover a {
  color: #ffc40d;
}
ul.menu-grid li a {
  color: #d9a400;
}
ul.menu-grid.grid li {
  color: #eeeeee;
}
ul.menu-grid.grid li a {
  color: #eeeeee;
}
ul.menu-grid.grid li.on a,
ul.menu-grid.grid li:hover a {
  color: #ffc40d;
}
.box {
  position: relative;
  background: #eeeeee;
  color: #222222;
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
  *zoom: 1;
}
.box a {
  color: #1e9899;
}
.box a:hover {
  color: #115859;
}
.box.mini {
  width: 210px;
}
.box.small {
  width: 250px;
}
.box.half {
  width: 270px;
}
.box.big {
  width: 290px;
}
.box.large {
  width: 310px;
}
.box:before,
.box:after {
  display: table;
  content: "";
  line-height: 0;
}
.box:after {
  clear: both;
}
.box:before,
.box:after {
  display: table;
  content: "";
  line-height: 0;
}
.box:after {
  clear: both;
}
.inner-box {
  position: relative;
  margin-top: 6px;
  margin-right: 13px;
  margin-bottom: 6px;
}
.box .box-buttons-top {
  position: relative;
  display: inline-block;
  float: right;
  margin-top: -16px;
  margin-right: -23px;
  margin-left: 10px;
  margin-bottom: 5px;
}
.box .box-buttons-top-left {
  position: relative;
  display: inline-block;
  float: left;
  margin-top: -16px;
  margin-left: -23px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.box .box-buttons-bottom {
  position: relative;
  display: inline-block;
  float: right;
  margin-bottom: -22px;
  margin-right: -23px;
  margin-left: 10px;
  margin-top: 5px;
}
.box .box-buttons-bottom a,
.box .box-buttons-bottom form,
.box .box-buttons-bottom button,
.box .box-buttons-bottom input {
  vertical-align: bottom;
}
.box .box-buttons-top a,
.box .box-buttons-top-left a,
.box .box-buttons-bottom a,
.box .box-buttons-top form,
.box .box-buttons-top-left form,
.box .box-buttons-bottom form,
.box .box-buttons-top button,
.box .box-buttons-top-left button,
.box .box-buttons-bottom button,
.box .box-buttons-top input,
.box .box-buttons-top-left input,
.box .box-buttons-bottom input,
.box .box-buttons-top span,
.box .box-buttons-top-left span,
.box .box-buttons-bottom span {
  display: inline-block;
  background: #bbbbbb;
  border: 0px none;
  padding: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin: 0px;
}
.box .box-buttons-top a.text,
.box .box-buttons-top-left a.text,
.box .box-buttons-bottom a.text,
.box .box-buttons-top form.text,
.box .box-buttons-top-left form.text,
.box .box-buttons-bottom form.text,
.box .box-buttons-top button.text,
.box .box-buttons-top-left button.text,
.box .box-buttons-bottom button.text,
.box .box-buttons-top input.text,
.box .box-buttons-top-left input.text,
.box .box-buttons-bottom input.text,
.box .box-buttons-top span.text,
.box .box-buttons-top-left span.text,
.box .box-buttons-bottom span.text {
  padding-right: 5px;
}
.box .box-buttons-top a:hover,
.box .box-buttons-top-left a:hover,
.box .box-buttons-bottom a:hover,
.box .box-buttons-top form:hover,
.box .box-buttons-top-left form:hover,
.box .box-buttons-bottom form:hover,
.box .box-buttons-top button:hover,
.box .box-buttons-top-left button:hover,
.box .box-buttons-bottom button:hover,
.box .box-buttons-top input:hover,
.box .box-buttons-top-left input:hover,
.box .box-buttons-bottom input:hover,
.box .box-buttons-top span:hover,
.box .box-buttons-top-left span:hover,
.box .box-buttons-bottom span:hover {
  background: #a2a2a2;
  color: #000000;
}
.box .box-content {
  *zoom: 1;
}
.box .box-content:before,
.box .box-content:after {
  display: table;
  content: "";
  line-height: 0;
}
.box .box-content:after {
  clear: both;
}
.box .box-content:before,
.box .box-content:after {
  display: table;
  content: "";
  line-height: 0;
}
.box .box-content:after {
  clear: both;
}
.inner-box .content-wrapper {
  position: relative;
  margin-top: 5px;
  margin-left: 0px;
}
.inner-box .box-buttons-top,
.inner-box .box-buttons-bottom {
  display: block;
  position: absolute;
  margin: 0;
}
.inner-box .box-buttons-top {
  top: -5px;
  right: -10px;
}
.inner-box .box-buttons-bottom {
  bottom: -5px;
  right: -10px;
}
.inner-box img {
  margin: 0;
}
.box .caret {
  display: none;
}
.box.collapsible > .box-title {
  cursor: pointer;
}
.box.collapsible .caret {
  display: inline-block;
  margin-right: 10px;
  margin-top: 6px;
  border-top: 10px solid #222222;
  border-bottom: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}
.box.collapsible.collapsed .box-content {
  display: none;
}
.box.collapsible.collapsed .caret {
  border-left: 10px solid #222222;
  border-right: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}
.box.collapsible.collapsed .box-buttons-top,
.box.collapsible.collapsed .box-buttons-bottom {
  display: none;
}
hr {
  border: 0 none;
  margin: 10px 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h1 {
  font-weight: normal;
  line-height: 40px;
  font-size: 26px;
}
h2 {
  line-height: 20px;
  font-size: 20px;
}
h3 {
  line-height: 20px;
  font-size: 16px;
}
h4 {
  line-height: 20px;
  font-size: 13px;
}
.logo img {
  height: 56px;
}
#be-a-hero {
  height: 0;
  padding-top: 100px;
  overflow: hidden;
  margin-left: 180px;
  background: url("../img/SeiHelddeinerStadt.png") no-repeat scroll 0 0 transparent;
}
#footer {
  width: 100%;
  padding: 5px;
  background: rgba(0, 0, 0, 0.4);
}
#butler {
  margin-top: 20px;
}
body {
  font-family: 'Open Sans', sans-serif;
}
#background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  background: url("../img/city.jpg") no-repeat scroll 50% 0 #333333;
  background-size: 100%;
}
.sidebar-left {
  margin-right: 20px;
}
.sidebar-right {
  float: left;
  width: 120px;
  margin-left: 20px;
}
#layout-container {
  width: 970px;
  position: relative;
}
.span100 {
  width: 970px;
}
#site-header-container {
  margin: 20px 0 20px -20px;
}
#sidebar-right-container {
  z-index: 1045;
}
#page-container {
  width: 630px;
  margin-left: 0;
}
#page-container .span100 {
  width: 610px;
}
#page-title {
  padding: 0 10px;
  font-variant: small-caps;
  background-color: rgba(0, 0, 0, 0.25);
  *zoom: 1;
  height: 40px;
  width: 610px;
  overflow: hidden;
}
#page-title:before,
#page-title:after {
  display: table;
  content: "";
  line-height: 0;
}
#page-title:after {
  clear: both;
}
#page-title:before,
#page-title:after {
  display: table;
  content: "";
  line-height: 0;
}
#page-title:after {
  clear: both;
}
#submenu {
  height: 40px;
  width: 610px;
  overflow: hidden;
  padding: 0px 10px;
  font-variant: small-caps;
  background-color: rgba(0, 0, 0, 0.25);
}
#page-content {
  position: relative;
  padding: 10px 20px 20px 10px;
  background-color: rgba(0, 0, 0, 0.45);
  *zoom: 1;
  margin-bottom: 40px;
}
#page-content:before,
#page-content:after {
  display: table;
  content: "";
  line-height: 0;
}
#page-content:after {
  clear: both;
}
#page-content:before,
#page-content:after {
  display: table;
  content: "";
  line-height: 0;
}
#page-content:after {
  clear: both;
}
.help-block,
.help-inline {
  color: #999999;
}
.alert {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  margin-bottom: 10px;
  padding: 4px 31px 4px 10px;
}
.notification.read .box {
  background-color: #a2a2a2;
}
.notification a:hover {
  text-decoration: none;
}
.notification .box {
  line-height: 40px;
  margin-bottom: 10px;
}
.notification .box p {
  vertical-align: middle;
  margin: 0;
  display: inline-block;
  line-height: 20px;
  max-width: 400px;
}
.notification .box img {
  vertical-align: middle;
  margin-right: 10px;
}
.badge {
  border-radius: 0px;
  padding: 0px 3px 0px 2px;
  text-shadow: none;
  font-size: 10px;
  background-color: #d3412c;
}
.badge + span {
  left: 0;
}
[class^="icon-"] .badge,
[class*="icon-"] .badge {
  position: relative;
  left: 0;
}
.tooltip {
  font-variant: normal;
  font-size: 14px;
  line-height: 20px;
}
form {
  margin-bottom: 0px;
  font-variant: small-caps;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  border-top: 1px solid #999999;
  border-left: 1px solid #a6a6a6;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
input,
textarea,
.uneditable-input {
  width: 266px;
}
textarea {
  height: 80px;
}
.btn-toolbar input {
  margin-top: 0px !important;
}
.select2-container .select2-choice {
  border-top: 1px solid #999999;
  border-left: 1px solid #a6a6a6;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  background: #ffffff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  width: 212px;
  height: 28px;
  line-height: 28px;
}
.select2-container .select2-choice div {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.form-actions {
  margin: 0 0px 0px 0;
  padding: 0;
  border: 0px none;
  position: relative;
}
.form-actions .btn {
  background: #bbbbbb;
  margin-left: 10px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  float: right;
  border: 0px none;
  min-width: 40px;
}
.userprofile-small {
  background: rgba(0, 0, 0, 0.45);
  padding: 5px;
  width: 110px;
  margin-right: 0px;
}
.userprofile-small .progress {
  margin-bottom: 0;
  width: 110px;
  height: 20px;
  background: #999999;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  position: relative;
  display: inline-block;
}
.userprofile-small .progress .bar {
  background: #ffc40d;
}
span.action {
  color: #d3412c;
}
span.scientist {
  color: #7e7f7e;
}
span.diplomat {
  color: #c2c036;
}
span.gadgeteer {
  color: #5a9b8a;
}
span.protective {
  color: #3c6b87;
}
.span2 .box select,
.span2 .box textarea,
.span2 .box input[type="text"],
.span2 .box input[type="password"],
.span2 .box input[type="datetime"],
.span2 .box input[type="datetime-local"],
.span2 .box input[type="date"],
.span2 .box input[type="month"],
.span2 .box input[type="time"],
.span2 .box input[type="week"],
.span2 .box input[type="number"],
.span2 .box input[type="email"],
.span2 .box input[type="url"],
.span2 .box input[type="search"],
.span2 .box input[type="tel"],
.span2 .box input[type="color"],
.span2 .box .uneditable-input {
  max-width: 171px;
}
.autocomplete_light_widget .autocomplete {
  margin-bottom: 0px;
}
.autocomplete_light_widget .deck {
  padding-left: 0px;
  margin: 0;
}
.autocomplete_light_widget .deck li {
  background: #f9f9fb;
  border: 1px solid #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  color: #555555;
  display: inline-block;
  font-size: 13px;
  height: 18px;
  line-height: 18px;
  margin-bottom: 0px;
  padding: 4px 3px 4px 5px;
  width: 272px;
  -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.autocomplete_light_widget .deck li .remove {
  float: right;
  background-image: url("../bootstrap/img/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 14px;
  line-height: 14px;
  vertical-align: text-top;
  width: 14px;
  background-position: -312px 0;
  margin-right: 2px;
}
.autocomplete_light_widget .deck li .remove:hover {
  background-position: -312px 0;
}
.autocomplete_light_widget .yourlabs_autocomplete.inner_container {
  width: 278px;
  border-radius: 3px 3px 3px 3px;
  left: 1px;
  border: 1px solid #CCCCCC;
}
.autocomplete_light_widget .yourlabs_autocomplete.inner_container ul {
  border-radius: 3px 3px 3px 3px;
}
#team_hints {
  position: fixed;
  bottom: 0;
  right: 0;
  background: #333333;
}
#team_hints a {
  margin: 2px 10px;
}
img[class^=img-placeholder] {
  background-color: #999;
  display: block;
}
img[class^=img-placeholder].pull-left {
  margin-right: 5px;
  margin-bottom: 5px;
}
img.img-placeholder-80x80 {
  width: 80px;
  height: 80px;
}
