.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.span2-25 {
  width: 200px;
}
.span2-5 {
  width: 220px;
}
.span2-75 {
  width: 240px;
}
.span3-25 {
  width: 300px;
}
.span3-5 {
  width: 320px;
}
.span3-75 {
  width: 340px;
}
.span4-25 {
  width: 400px;
}
.span4-5 {
  width: 420px;
}
.span4-75 {
  width: 440px;
}
ul.grid {
  list-style: none;
  margin: 0 0 0 -20px;
  *zoom: 1;
}
ul.grid li {
  float: left;
  margin: 0px 0px 20px 20px;
}
ul.grid:before,
ul.grid:after {
  display: table;
  content: "";
  line-height: 0;
}
ul.grid:after {
  clear: both;
}
ul.small-grid {
  list-style: none;
  margin: 0 0 0 -10px;
  *zoom: 1;
}
ul.small-grid li {
  float: left;
  margin: 0px 0px 10px 10px;
}
ul.small-grid:before,
ul.small-grid:after {
  display: table;
  content: "";
  line-height: 0;
}
ul.small-grid:after {
  clear: both;
}
ul.menu-grid li {
  background-color: rgba(0, 0, 0, 0.25);
}
ul.menu-grid li.on,
ul.menu-grid li:hover {
  background-color: rgba(0, 0, 0, 0.45);
}
ul.menu-grid li.on a,
ul.menu-grid li:hover a {
  color: #ffffff;
}
ul.menu-grid li a {
  color: #eeeeee;
}
ul.menu-grid.grid li {
  color: #eeeeee;
}
ul.menu-grid.grid li a {
  color: #eeeeee;
}
ul.menu-grid.grid li.on a,
ul.menu-grid.grid li:hover a {
  color: #ffffff;
}
ul.box-grid li,
.box {
  background: #eeeeee;
  color: #222222;
  position: relative;
  padding: 5px 10px 5px 10px;
}
ul.box-grid li a,
.box a {
  color: #777777;
}
ul.box-grid li a:hover,
.box a:hover {
  color: #373737;
}
ul.box-grid li.mini,
.box.mini {
  width: 210px;
}
ul.box-grid li.small,
.box.small {
  width: 250px;
}
ul.box-grid li.half,
.box.half {
  width: 270px;
}
ul.box-grid li.big,
.box.big {
  width: 290px;
}
ul.box-grid li.large,
.box.large {
  width: 310px;
}
.box-btn-top,
.box-btn-bottom {
  background: #bbbbbb;
  display: block;
  border: 0px none;
  padding: 0px;
  position: absolute;
  right: -13px;
}
.box-btn-top {
  top: -6px;
}
.box-btn-bottom {
  bottom: -6px;
}
