#team_hints { /* development only */
    position: fixed;
    left: 0;
    bottom: 0;
    border: 1px solid #add8e6;
    background-color: #ffc533;
    border-radius: 3px;
}

#team_hints a{
    margin: 0 1em 0 1em;
}

a.text {
    text-decoration: none;
    color: #232566;

}

.quest-list-item .content p, .quest-list-item .content h2 {
    font-family: 'Coming Soon', cursive;
    text-shadow: 0 0 1px #A28D5B;
}

tr.new td {
    background: #c1d9c4;
}

#map_geolocation label { width: auto; display:inline; }
#map_geolocation img { max-height: none; max-width: none; }

div .charicon {
    display: inline-block;
    line-height: 33px;
    width: 33px;
    height: 33px;
}

div .Scientist {
    background: url("../img/icon_scientist.png") center right no-repeat;
}

div .Gadgeteer {
    background: url("../img/icon_gadgeteer.png") center right no-repeat;
}

div .Action {
    background: url("../img/icon_action.png") center right no-repeat;
}

div .Protective {
    background: url("../img/icon_protective.png") center right no-repeat;
}

div .Diplomat {
    background: url("../img/icon_diplomat.png") center right no-repeat;
}


/* Quest list */



.quest-list a {
}

.quest-list .Scientist a {
    background: url("../img/icon_scientist.png") no-repeat #e8e8e8 95% 95%;
}

.quest-list .Gadgeteer a {
    background: url("../img/icon_gadgeteer.png") no-repeat #ccffa7 95% 95%;
}

.quest-list .Diplomat a {
    background: url("../img/icon_diplomat.png") no-repeat #fff9b4 95% 95%;
}

.quest-list .Action a {
    background: url("../img/icon_action.png") no-repeat #ffa19b 95% 95%;
}

.quest-list .Protective a {
    background: url("../img/icon_protective.png") no-repeat #bdcaff 95% 95%;
}

.quest-list {
    margin:0;
    padding: 0;
}

.quest-list h2,p{
    font-size:100%;
    font-weight:normal;
    color: #000032;
}

.quest-list ul,li{
    list-style:none;
}

.quest-list ul{
    padding:20px;
    padding-bottom: 38px;
}

.quest-list ul li{
    margin:1em;
    float:left;
}

.quest-list ul li h2{
    font-weight:bold;
    padding-bottom:10px;
    font-family:"Reenie Beanie",arial,sans-serif;
    font-size:200%;
    line-height: 30px;
}

.quest-list ul li p{
    font-family:"Reenie Beanie",arial,sans-serif;
    font-size:180%;
}

.quest-list ul li a{
    text-decoration:none;
    color:#000;
    background:#ffc;
    display:block;
    height:11em;
    width:11em;
    padding:1em;
    -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    -moz-transition:-moz-transform .15s linear;
    -o-transition:-o-transform .15s linear;
    -webkit-transition:-webkit-transform .15s linear;
    -webkit-transform:rotate(-6deg);
    -o-transform:rotate(-6deg);
    -moz-transform:rotate(-6deg);
}

.quest-list ul li:nth-child(even) a{
    -o-transform:rotate(4deg);
    -webkit-transform:rotate(4deg);
    -moz-transform:rotate(4deg);
    position:relative;
    top:5px;
}
.quest-list ul li:nth-child(3n) a{
    -o-transform:rotate(-3deg);
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    position:relative;
    top:-5px;
}
.quest-list ul li:nth-child(5n) a{
    -o-transform:rotate(5deg);
    -webkit-transform:rotate(5deg);
    -moz-transform:rotate(5deg);
    position:relative;
    top:-10px;
}

.quest-list ul li a:hover,ul li a:focus{
    -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    position:relative;
    z-index:5;
}

/* aufklappen example
.quest-list ul li a p {
    display: none;
}

.quest-list ul li a:hover p,
.quest-list ul li a:focus p {
    display: block;
} */

/* ?? was is das ?? */
[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}


/* action-forms in 1 line */
.inline,
form.inline {
    display: inline;
}

/* autocomplete massage receiver */
#_deck,
.autocomplete_light_widget .deck {
    padding-left: 0px ;
    margin: 0px;
}

#_deck li {
    background: #f9f9fb;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    color: #555555;
    display: inline-block;
    font-size: 13px;
    height: 18px;
    line-height: 18px;
    margin-bottom: 0px;
    padding: 4px 3px 4px 5px;
    width: 210px;
    -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

#_deck li .remove {
    float: right;
    background-image: url("../../static/bootstrap/img/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    vertical-align: text-top;
    width: 14px;
    background-position: -312px 0;
    margin-right: 2px;
}

.autocomplete_light_widget .autocomplete {
    margin-bottom: 0px !important;
}

#id_id_recipient_text .yourlabs_autocomplete.inner_container{
    width: 221px;
    border-radius: 3px 3px 3px 3px;
    left: 0px;
    border: 1px solid #CCCCCC;
}
#id_id_recipient_text .yourlabs_autocomplete.inner_container ul{
    border-radius: 3px 3px 3px 3px;
}

ul.navigation {
    list-style: none;
    margin-left: 0;
}

ul.navigation li {
    margin-bottom: 6px;
}

ul.navigation li a {
    color: #000;
    font-size: 18px;
    font-weight: bold;
}

/* special background */
h1,
ul.navigation li a {
    background: url("../img/headline.png") 0 0 no-repeat transparent;
    background-size: 78% 100%;
    padding: 0px 20px;
}
h1 small{
    color: #FF8A31;
}

.portrait img {
    margin: 5px;
}

.portrait .progress {
    border: 2px solid black;
}