#team_hints { /* development only */
    position: fixed;
    left: 0;
    bottom: 0;
    border: 1px solid #add8e6;
    background-color: #ffc533;
    border-radius: 3px;
}

#team_hints a{
    margin: 0 1em 0 1em;
}

a.text {
    text-decoration: none;
    color: #232566;

}

.quest-list-item .content p, .quest-list-item .content h2 {
    font-family: 'Coming Soon', cursive;
    text-shadow: 0 0 1px #A28D5B;
}

tr.new td {
    background: #c1d9c4;
}

#map_geolocation label { width: auto; display:inline; }
#map_geolocation img { max-height: none; max-width: none; }

.charicon,
[class^="charicon-"],
[class*="charicon-"] {
    display: inline-block;
    line-height: 33px;
    width: 33px;
    height: 33px;
}

.Scientist,
.charicon-5 {
    background: url("../img/icon_scientist.png") center right no-repeat;
}

div .Gadgeteer,
.charicon-1 {
    background: url("../img/icon_gadgeteer.png") center right no-repeat;
}

div .Action,
.charicon-3 {
    background: url("../img/icon_action.png") center right no-repeat;
}

div .Protective,
.charicon-4 {
    background: url("../img/icon_protective.png") center right no-repeat;
}

div .Diplomat,
.charicon-2 {
    background: url("../img/icon_diplomat.png") center right no-repeat;
}


/* Quest list */



.quest-list a {
}
/* Scientist */
.quest-list li.quest-class-5 a {
    background: url("../img/icon_scientist.png") no-repeat #e8e8e8 95% 95%;
}
/* Gadgeteer */
.quest-list li.quest-class-1 a {
    background: url("../img/icon_gadgeteer.png") no-repeat #ccffa7 95% 95%;
}
/* Diplomat */
.quest-list li.quest-class-2 a {
    background: url("../img/icon_diplomat.png") no-repeat #fff9b4 95% 95%;
}
/* Action */
.quest-list li.quest-class-3 a {
    background: url("../img/icon_action.png") no-repeat #ffa19b 95% 95%;
}
/* Protective */
.quest-list li.quest-class-4 a {
    background: url("../img/icon_protective.png") no-repeat #bdcaff 95% 95%;
}

.quest-list {
    margin:0;
    padding: 0;
}

.quest-list h2,p{
    font-size:100%;
    font-weight:normal;
    color: #000032;
}

.quest-list ul,li{
    list-style:none;
}

.quest-list ul{
    padding:20px;
    padding-bottom: 38px;
}

.quest-list ul li{
    margin:1em;
    float:left;
}

.quest-list ul li h2{
    font-weight:bold;
    padding-bottom:10px;
    /*font-family:"Coming Soon",arial,sans-serif;*/
    font-size: 140%;
    /*font-size:200%;*/
    line-height: 30px;
}

.quest-list ul li p{
    /*font-family:"Coming Soon",arial,sans-serif;*/
    /*font-size:180%;*/
}

.quest-list ul li a{
    text-decoration:none;
    color:#000;
    background:#ffc;
    display:block;
    height:11em;
    width:11em;
    padding:1em;
    -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    -moz-transition:-moz-transform .15s linear;
    -o-transition:-o-transform .15s linear;
    -webkit-transition:-webkit-transform .15s linear;
    -webkit-transform:rotate(-6deg);
    -o-transform:rotate(-6deg);
    -moz-transform:rotate(-6deg);
}

.quest-list ul li:nth-child(even) a{
    -o-transform:rotate(4deg);
    -webkit-transform:rotate(4deg);
    -moz-transform:rotate(4deg);
    position:relative;
    top:5px;
}
.quest-list ul li:nth-child(3n) a{
    -o-transform:rotate(-3deg);
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    position:relative;
    top:-5px;
}
.quest-list ul li:nth-child(5n) a{
    -o-transform:rotate(5deg);
    -webkit-transform:rotate(5deg);
    -moz-transform:rotate(5deg);
    position:relative;
    top:-10px;
}

.quest-list ul li a:hover,ul li a:focus{
    -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    position:relative;
    z-index:5;
}

/* aufklappen example
.quest-list ul li a p {
    display: none;
}

.quest-list ul li a:hover p,
.quest-list ul li a:focus p {
    display: block;
} */

/* ?? was is das ?? */
[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}


/* action-forms in 1 line */
.inline,
form.inline {
    display: inline;
}

/* autocomplete massage receiver */
#_deck,
.autocomplete_light_widget .deck {
    padding-left: 0px ;
    margin: 0px;
}

#_deck li {
    background: #f9f9fb;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    color: #555555;
    display: inline-block;
    font-size: 13px;
    height: 18px;
    line-height: 18px;
    margin-bottom: 0px;
    padding: 4px 3px 4px 5px;
    width: 210px;
    -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

#_deck li .remove {
    float: right;
    background-image: url("../../static/bootstrap/img/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    vertical-align: text-top;
    width: 14px;
    background-position: -312px 0;
    margin-right: 2px;
}

.autocomplete_light_widget .autocomplete {
    margin-bottom: 0px !important;
}

#id_id_recipient_text .yourlabs_autocomplete.inner_container{
    width: 221px;
    border-radius: 3px 3px 3px 3px;
    left: 0px;
    border: 1px solid #CCCCCC;
}
#id_id_recipient_text .yourlabs_autocomplete.inner_container ul{
    border-radius: 3px 3px 3px 3px;
}

/* Main menu */

ul.navigation {
    list-style: none;
    margin-left: 0;
}

ul.navigation li {
    margin-bottom: 6px;
}

ul.navigation li a {
    color: #000;
    font-size: 18px;
    font-weight: bold;
}

/* Links in H1 */

h1 a,
h1 a:hover,
h2 a,
h2 a:hover {
    color: #000;
}

/* special background */
span.stripe,
span.yellow-stripe,
span.orange-stripe,
ul.navigation li a {
    background: url("../img/stripes/yellow.png") 0 0 no-repeat transparent;
    background-size: 78% 100%;
    padding: 0px 0px 0px 3px;
    margin-left: -3px;
}
h1 span.stripe,
span.orange-stripe,
ul.navigation li a:hover,
ul.navigation li a:focus {
    background: url("../img/stripes/orange.png") 0 0 no-repeat transparent;
    background-size: 78% 100%;
}


h1 small{
    color: #FF8A31;
    text-shadow: 0 0 10px #FFFFFF;
}

.portrait img {
    margin: 10px 0px;
}

.experience .progress {
    border: 2px solid black;
}

/* allgemeiner weißer page header */
.page-header-100 {
    min-height: 100px;
    padding: 25px 10px 10px;
    position:relative;
}

.header {
    height: 100px;
    position: relative;
    padding: 25px 0px 10px;
}

/* LOGO */
#logo {
    padding: 25px 10px 10px;
}
#logo img {
    margin-left: -27px;
}

/* Navigation + Nav Icons */
#main-navigation {
    margin-top: 30px;
    margin-bottom: 50px;
}

.navigation-icons {
    position: absolute;
    bottom: 0;
}

.badge {
    border-radius: 5px;
    padding: 1px 5px 1px 4px;
    text-shadow: none;
    font-size: 13px;
}
.badge-orange {
    background-color: #ff8a31;
}

[class^="icon-"] .badge,
[class*=" icon-"] .badge {
    position: relative;
    bottom: -11px;
    left: -7px;
}

.icon-envelope-large {
    background: url(../img/icons/envelope.png);
    background-size: 100% 100%;
    width: 24px;
    height:19px;
}

/* SubMenu */

.submenu {
    position: absolute;
    bottom: 0;
}
.submenu ul {
    margin-left: 0;
}

.submenu ul li{
    display: inline-block;
}

.submenu li a {
    color: #000;
    font-size: 15px;
    font-weight: bold;
    margin-right: 20px;
}

.usermenu {
    right: 0;
}

.profile-private {
    border-right: 1px solid #CCCCCC;
    padding-right: 30px;
}

/*
[class^="quest-class-"] h1,
[class*="quest-class-"] h1{
    font-family: "Reenie Beanie", arial, sans-serif;
}

/* Scientist *
div.quest-class-0 .page-header {
    background: url("../img/icon_scientist.png") no-repeat #e8e8e8 95% 95%;
}
/* Gadgeteer *
div.quest-class-1 .page-header {
    background: url("../img/icon_gadgeteer.png") no-repeat #ccffa7 95% 95%;
}
/* Diplomat *
div.quest-class-2 .page-header {
    background: url("../img/icon_diplomat.png") no-repeat #fff9b4 95% 5%;
}
/* Action *
div.quest-class-3 .page-header {
    background: url("../img/icon_action.png") no-repeat #ffa19b 95% 5%;
}
/* Protective *
div.quest-class-4 .page-header {
    background: url("../img/icon_protective.png") no-repeat #bdcaff 95% 95%;
}*/

