h1,
h3,
h4 {
  font-family: farao_textbold;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 36px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 18px;
}
body.city-karlsruhe {
  background-color: white;
}
#background {
  width: 100%;
  min-width: 970px;
  height: 1114px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  background: url("../img/sky2.png") no-repeat scroll 50% 0 #ffffff;
  background-size: cover;
}
.vertical-offset {
  margin-top: 23px;
}
#navigation .nav-container {
  position: relative;
  float: left;
  min-height: 1px;
}
#navigation .nav-container:first-child {
  margin-left: 15px;
}
#navigation .nav-container + .nav-container {
  margin-left: 35px;
}
#navigation .nav {
  text-align: center;
}
#navigation .nav li {
  margin-bottom: -12px;
}
#navigation .nav li > a {
  display: inline-block;
  padding: 5px 8px;
}
#navigation .nav li > a:hover,
#navigation .nav li > a:focus {
  background-color: transparent;
}
#navigation .nav-black {
  background: rgba(255, 255, 255, 0.6);
  margin-bottom: 12px;
}
#navigation .nav-black li {
  float: left;
}
#navigation .nav-black li > a {
  color: #333333;
  border: 1px dashed;
  border-color: transparent transparent #ff0000 transparent;
}
#navigation .nav-black li > a:hover,
#navigation .nav-black li > a:focus {
  color: #ff0000;
}
#navigation .nav-black .active > a,
#navigation .nav-black .active > a:hover,
#navigation .nav-black .active > a:focus {
  color: #ff0000;
  border-color: #ff0000 #ff0000 transparent #ff0000;
}
#navigation .nav-black:after {
  content: "";
  display: table;
  width: 100%;
  height: 0;
  position: relative;
  top: 12px;
  left: 0;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  border-top: 12px solid rgba(255, 255, 255, 0.6);
  border-bottom: 0 none;
}
#navigation .nav-white {
  background: rgba(255, 255, 255, 0.6);
  margin-bottom: 12px;
  width: 159px;
  padding-top: 30px;
}
#navigation .nav-white:after {
  content: "";
  display: table;
  width: 100%;
  height: 0;
  position: relative;
  top: 12px;
  left: 0;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  border-top: 12px solid rgba(255, 255, 255, 0.6);
  border-bottom: 0 none;
}
#navigation .nav-white li > a + a {
  margin-left: 8px;
}
#navigation .nav-white li > a {
  padding: 0;
  color: black;
}
#navigation .nav-white li > a > i {
  font-size: 48px;
  color: black;
}
#navigation .nav-blue {
  text-align: center;
  background: rgba(0, 0, 255, 0.6);
  margin-top: -12px;
  margin-bottom: 12px;
}
#navigation .nav-blue li {
  margin-top: 12px;
}
#navigation .nav-blue li > a {
  color: #ffffff;
}
#navigation .nav-blue li > a:hover,
#navigation .nav-blue li > a:focus {
  background: rgba(0, 0, 204, 0.6);
}
#navigation .nav-blue .active > a,
#navigation .nav-blue .active > a:hover,
#navigation .nav-blue .active > a:focus {
  background: rgba(0, 0, 204, 0.6);
}
#navigation .nav-blue:after {
  content: "";
  display: table;
  width: 100%;
  height: 0;
  position: relative;
  top: 12px;
  left: 0;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  border-top: 12px solid rgba(0, 0, 255, 0.6);
  border-bottom: 0 none;
}
#navigation .nav-red {
  text-align: center;
  background: rgba(255, 0, 0, 0.6);
  margin-top: -12px;
  margin-bottom: 12px;
}
#navigation .nav-red li {
  margin-top: 12px;
}
#navigation .nav-red li > a {
  color: #ffffff;
}
#navigation .nav-red li > a:hover,
#navigation .nav-red li > a:focus {
  background: rgba(204, 0, 0, 0.6);
}
#navigation .nav-red .active > a,
#navigation .nav-red .active > a:hover,
#navigation .nav-red .active > a:focus {
  background: rgba(204, 0, 0, 0.6);
}
#navigation .nav-red:after {
  content: "";
  display: table;
  width: 100%;
  height: 0;
  position: relative;
  top: 12px;
  left: 0;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  border-top: 12px solid rgba(255, 0, 0, 0.6);
  border-bottom: 0 none;
}
#navigation .nav-red.learn-more {
  margin: inherit 4px;
}
#navigation .nav-red.learn-more li {
  font-size: 18px;
}
#navigation .nav-red.learn-more li > i {
  font-size: 48px;
}
#navigation .nav.sub {
  margin-top: 12px;
}
#navigation .nav.sub li > a {
  border: 0px none;
}
#navigation .nav-font {
  font-size: 16px;
}
#navigation .nav-font li.pull-down {
  margin-top: 24px;
}
#navigation .nav-font input {
  color: #ffffff;
  margin: 0 12px;
  background: transparent;
  border: 0px none;
  border-bottom: 2px solid #ffffff;
  bortder-radius: 0;
  width: 150px;
}
#navigation .nav-font [type="submit"] {
  color: #ffffff;
  width: 100%;
  background: transparent;
  border: 0px none;
  padding: 5px 8px;
}
#navigation .nav-font [type="submit"]:hover {
  background: rgba(0, 0, 204, 0.6);
}
#navigation #brand {
  margin-top: -70px;
  width: 150px;
}
#navigation #brand h2 {
  font-size: 16px;
}
#page-footer {
  font-size: 16px;
}
#page-footer .nav-container {
  position: relative;
  float: left;
  margin-left: 20px;
}
#page-footer .nav {
  text-align: center;
}
#page-footer .nav > li {
  padding: 5px 5px;
  margin-top: -12px;
  margin-bottom: 12px;
}
#page-footer .nav > li > a {
  padding: 0 5px;
}
#page-footer .nav > li > a:hover,
#page-footer .nav > li > a:focus {
  background-color: transparent;
}
#page-footer .nav-blue {
  text-align: center;
  background: rgba(0, 0, 255, 0.6);
  margin-top: -12px;
  color: #ffffff;
  margin-top: 12px;
}
#page-footer .nav-blue > li {
  float: left;
}
#page-footer .nav-blue > li > a {
  color: #ffffff;
}
#page-footer .nav-blue > li > a:hover,
#page-footer .nav-blue > li > a:focus {
  background: rgba(0, 0, 204, 0.6);
}
#page-footer .nav-blue > .active > a,
#page-footer .nav-blue > .active > a:hover,
#page-footer .nav-blue > .active > a:focus {
  background: rgba(0, 0, 204, 0.6);
}
#page-footer .nav-blue:before {
  content: "";
  display: table;
  width: 100%;
  height: 0;
  position: relative;
  bottom: 12px;
  left: 0;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  border-bottom: 12px solid rgba(0, 0, 255, 0.6);
  border-top: 0 none;
}
.box {
  background: rgba(255, 255, 255, 0.6);
  margin-bottom: 12px;
  margin-top: 12px;
}
.box:after {
  content: "";
  display: table;
  width: 100%;
  height: 0;
  position: relative;
  top: 12px;
  left: 0;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  border-top: 12px solid rgba(255, 255, 255, 0.6);
  border-bottom: 0 none;
}
.box:before {
  content: "";
  display: table;
  width: 100%;
  height: 0;
  position: relative;
  bottom: 12px;
  left: 0;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  border-bottom: 12px solid rgba(255, 255, 255, 0.6);
  border-top: 0 none;
}
.box-red {
  color: #ff0000;
  background: rgba(255, 0, 0, 0.6);
}
.box-red.cut-corners {
  margin-bottom: 12px;
  margin-top: 12px;
}
.box-red.cut-corners:after {
  content: "";
  display: table;
  width: 100%;
  height: 0;
  position: relative;
  top: 12px;
  left: 0;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  border-top: 12px solid rgba(255, 0, 0, 0.6);
  border-bottom: 0 none;
}
.box-red.cut-corners:before {
  content: "";
  display: table;
  width: 100%;
  height: 0;
  position: relative;
  bottom: 12px;
  left: 0;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  border-bottom: 12px solid rgba(255, 0, 0, 0.6);
  border-top: 0 none;
}
.box-blue {
  color: #0000ff;
  background: rgba(0, 0, 255, 0.6);
}
.box-blue.cut-corners {
  margin-bottom: 12px;
  margin-top: 12px;
}
.box-blue.cut-corners:after {
  content: "";
  display: table;
  width: 100%;
  height: 0;
  position: relative;
  top: 12px;
  left: 0;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  border-top: 12px solid rgba(0, 0, 255, 0.6);
  border-bottom: 0 none;
}
.box-blue.cut-corners:before {
  content: "";
  display: table;
  width: 100%;
  height: 0;
  position: relative;
  bottom: 12px;
  left: 0;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  border-bottom: 12px solid rgba(0, 0, 255, 0.6);
  border-top: 0 none;
}
.box-content {
  margin: 0 12px;
}
.box-image {
  background: rgba(255, 255, 255, 0.6);
  margin-bottom: 12px;
  margin-top: 12px;
  height: 376px;
  position: relative;
}
.box-image:after {
  content: "";
  display: table;
  width: 100%;
  height: 0;
  position: relative;
  top: 12px;
  left: 0;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  border-top: 12px solid rgba(255, 255, 255, 0.6);
  border-bottom: 0 none;
}
.box-image:before {
  content: "";
  display: table;
  width: 100%;
  height: 0;
  position: relative;
  bottom: 12px;
  left: 0;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  border-bottom: 12px solid rgba(255, 255, 255, 0.6);
  border-top: 0 none;
}
.box-image .header {
  display: block;
  height: 50px;
  z-index: 2;
  position: relative;
  left: 15px;
  top: -5px;
  margin: 0;
}
.box-image .text {
  height: 272px;
  margin-top: 30px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  text-align: justify;
  padding: 12px;
  width: 270px;
}
.box-image .image {
  width: 530px;
  height: 400px;
  position: absolute;
  top: -12px;
  left: 270px;
  z-index: 1;
}
.box-floating {
  margin-bottom: 12px;
  margin-top: 12px;
  color: #ff0000;
  background: rgba(255, 0, 0, 0.6);
  color: white;
  position: absolute;
  top: 30px;
  right: 15px;
  z-index: 100;
}
.box-floating:after {
  content: "";
  display: table;
  width: 100%;
  height: 0;
  position: relative;
  top: 12px;
  left: 0;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  border-top: 12px solid rgba(255, 0, 0, 0.6);
  border-bottom: 0 none;
}
.box-floating:before {
  content: "";
  display: table;
  width: 100%;
  height: 0;
  position: relative;
  bottom: 12px;
  left: 0;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  border-bottom: 12px solid rgba(255, 0, 0, 0.6);
  border-top: 0 none;
}
.box-floating.cut-corners {
  margin-bottom: 12px;
  margin-top: 12px;
}
.box-floating.cut-corners:after {
  content: "";
  display: table;
  width: 100%;
  height: 0;
  position: relative;
  top: 12px;
  left: 0;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  border-top: 12px solid rgba(255, 0, 0, 0.6);
  border-bottom: 0 none;
}
.box-floating.cut-corners:before {
  content: "";
  display: table;
  width: 100%;
  height: 0;
  position: relative;
  bottom: 12px;
  left: 0;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  border-bottom: 12px solid rgba(255, 0, 0, 0.6);
  border-top: 0 none;
}
.box-floating h1 {
  font-family: farao_book_heldregular;
  margin-top: -30px;
  margin-left: 12px;
}
.box-floating h1:before {
  content: "!";
  font-size: 320px;
  color: black;
  position: absolute;
  top: -89px;
  left: 40px;
  z-index: -1;
}
.box-floating > div {
  width: 200px;
  height: 400px;
}
.box-floating p {
  font-size: 16px;
  position: absolute;
  bottom: 40px;
  padding: 12px;
}
.box-floating .box-footer {
  position: absolute;
  bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}
.hero-box {
  background: rgba(255, 255, 255, 0.6);
  margin-bottom: 12px;
  margin-top: 12px;
  height: 500px;
  background-size: contain;
  position: relative;
}
.hero-box:after {
  content: "";
  display: table;
  width: 100%;
  height: 0;
  position: relative;
  top: 12px;
  left: 0;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  border-top: 12px solid rgba(255, 255, 255, 0.6);
  border-bottom: 0 none;
}
.hero-box:before {
  content: "";
  display: table;
  width: 100%;
  height: 0;
  position: relative;
  bottom: 12px;
  left: 0;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  border-bottom: 12px solid rgba(255, 255, 255, 0.6);
  border-top: 0 none;
}
.hero-box > div {
  height: 476px;
}
.hero-box > div .background {
  z-index: 1;
  width: 247px;
  height: 347px;
  position: absolute;
  top: -12px;
  background-repeat: no-repeat;
}
.hero-box > div .text {
  position: relative;
  top: 308px;
  padding: 12px;
}
.hero-box.glitch .background {
  background-image: url("../img/glitch.png");
}
.icon-yah,
.icon-yah-hand,
.icon-yah-hand-right,
.icon-yah-hand-left,
.icon-yah-hand-up,
.icon-yah-hand-down {
  font-family: farao_book_heldregular;
}
.icon-yah:before {
  content: "∞";
}
.icon-yah-hand:before,
.icon-yah-hand-right:before {
  content: "π";
}
.icon-yah-hand-left:before {
  content: "∏";
}
.icon-yah-hand-up:before {
  content: "∫";
}
.icon-yah-hand-down:before {
  content: "ª";
}
.icon-question {
  font-family: farao_book_heldregular;
  line-height: 15px;
}
.icon-question:before {
  content: "?";
  line-height: 15px;
  font-size: 1.4em;
}
[class^="icon-"],
[class*=" icon-"] {
  position: relative;
}
[class^="icon-"] b,
[class*=" icon-"] b {
  font-size: 0.5em;
  left: 50%;
  top: 50%;
  margin-left: -50%;
  margin-top: -50%;
  position: absolute;
  width: 100%;
  color: #ff0000;
}
.nav-black [class^="icon-"] b,
.nav-black [class*=" icon-"] b {
  color: #333333;
}
.box .caret {
  display: none;
}
.box.collapsible > .box-title {
  cursor: pointer;
}
.box.collapsible .caret {
  display: inline-block;
  margin-right: 10px;
  margin-top: 6px;
  border-top: 10px solid #222222;
  border-bottom: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}
.box.collapsible.collapsed .box-content {
  display: none;
}
.box.collapsible.collapsed .caret {
  border-left: 10px solid #222222;
  border-right: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}
#team_hints {
  position: fixed;
  bottom: 0;
  left: 10%;
  background: #111;
  color: #fb0;
  padding: 0 10px;
}
#team_hints a {
  padding: 2px 5px;
}
