{% load i18n %}
{% load url from future %}
<div class="participants">
    {% if adventures|length > 1 %}
        <a href="{% url 'message_quest' quest.pk 'participants' %}" data-toggle="tooltip"
            data-title="{% trans "Send a message to all participants" %}" class="pull-right">
            <i class="icon-mail-all"></i>
        </a>
    {% endif %}
  <h2>{% trans "Participants" %}</h2>
  {% for a in adventures %}
  <span class="participant">
    <a href="{% url "userprofile_public" a.user.username %}" class="no-decoration">
      <img class="avatar" src="{{ a.user.profile.avatar }}"/>
      <p>{{ a.user.username }}</p>
    </a>
    <div class="buttons">
{#        <form id="owner_reject_{{ a.user.pk }}" action="{% url "owner_update_hero" quest.pk a.user.pk %}" method="post">#}
{#            {% csrf_token %}#}
{#            <input type="hidden" name="action" value="reject">#}
{#            <button type="submit" name="action_btn"#}
{#                value="{% trans "Reject" %}" data-toggle="tooltip" data-title="Ablehnen">#}
{#                <i class="icon-remove"></i>#}
{#            </button>#}
{#        </form>#}
        <a href="{% url "message_to" a.user.pk %}" data-toggle="tooltip"
          data-title="{% blocktrans with name=a.user.username%}Send a message to {{ name }}{% endblocktrans %}">
          <i class="icon-envelope-alt"></i>
        </a>
      </div>
  </span>
  {% endfor %}
</div>
