{% load i18n hero_actions hero_message %}
{% if not quest.is_canceled %}
    {% if quest.heroes.exists %}
        <h2>Deine Helden</h2>
        <table class="table table-striped table-bordered table-condensed">
            <thead>
            <tr>
                <th>Held</th>
                <th>{% trans "Status" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for adventure in quest.adventure_set.all %}
                <tr>
                    <td>
                        <a href="{% url userprofile-public adventure.user.username %}">
                            {{ adventure.user }}
                        </a>
                        {% message_user adventure.user %}

                    </td>
                    <td>{{ adventure.get_state_display }}</td>
                    {% if not adventure.canceled and not adventure.accepted and not adventure.rejected %}
                    <td>
                        <form action="{% url owner-update-hero quest.pk adventure.user.pk %}" method="post" class="inline">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="accept">
                            <input type="submit" name="action_btn" class="btn btn-mini" value="{% trans "Accept" %}"/>
                        </form>
                        <form action="{% url owner-update-hero quest.pk adventure.user.pk %}" method="post" class="inline">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="reject">
                            <input type="submit" name="action_btn" class="btn btn-mini" value="{% trans "Reject" %}"/>
                        </form>
                    </td>
                {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>{% trans "Nobody is helping you yet." %}</h2>
    {% endif %}
{% endif %}