{% extends "herobase/layout/box.html" %}
{% load i18n hero_actions hero_message %}

{% block title %}
    <h2>{% trans "Participants" %}</h2>
{% endblock %}

{% block content %}
    <ul class="grid">
        {% for adventure in quest.adventures.all %}
            {% if adventure.accepted %}
                <li class="span1-5">
                    {% include "herobase/quest/adventure_inner_box_hero.html" %}
                </li>
            {% endif %}
        {% empty %}
            <li>{% trans "No participants yet" %}</li>
        {% endfor %}
    </ul>
{% endblock %}