{% extends "herobase/layout/box.html" %}
{% load i18n hero_actions hero_message %}
{% load url from future %}
{% block title %}<h2>{% trans "Participants" %}</h2>{% endblock %}

{% block extra_classes %}collapsible{% endblock %}

{% block buttons_top %}
{% endblock %}

{% block buttons_bottom %}
    {% if quest.can_accept_all %}
    <form action="{% url "owner_update_quest" quest.pk  %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="action" value="accept_all">
        <button type="submit" name="action_btn" class="btn btn-mini" value="{% trans "Accept All" %}"
                data-toggle="tooltip" data-title="Alle Akzeptieren">
            <i class="icon-yah-ok-all icon-40"></i>
        </button>
    </form>
    {% endif %}
{% endblock %}

{% block content %}
    <ul class="grid ">
        {% for adventure in adventures %}
            <li class="span1-5">
                {% include "herobase/quest/adventure_inner_box_owner.html" %}
            </li>
        {% empty %}
            <li>{% trans "There are no participants yet." %}</li>
        {% endfor %}
    </ul>
{% endblock %}