{% extends "herobase/layout/box.html" %}
{% load i18n hero_actions hero_message %}

{% block content %}
    <h1>{% trans "Participants" %}</h1>
    {% for adventure in quest.adventures.all %}
        <div>
            <img src="http://placehold.it/60x60" alt=""/>
            <strong>{{ adventure.user.username }}</strong>

            {% message_user adventure.user %}

            {{ adventure.get_state_display }}

            {% if not adventure.canceled and not adventure.accepted and not adventure.rejected %}
                <form action="{% url owner-update-hero quest.pk adventure.user.pk %}" method="post" class="inline">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="accept">
                    <input type="submit" name="action_btn" class="btn btn-mini" value="{% trans "Accept" %}"/>
                </form>
                <form action="{% url owner-update-hero quest.pk adventure.user.pk %}" method="post" class="inline">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="reject">
                    <input type="submit" name="action_btn" class="btn btn-mini" value="{% trans "Reject" %}"/>
                </form>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}