{% extends "herobase/layout/inner_box.html" %}
{% load i18n hero_actions hero_message %}
{% load url from future %}
{% block wrapper_classes %}span1{% endblock %}

{% block title %}
{% endblock %}

{% block buttons_top %}
{% endblock %}

{% block content %}
    <a href="{% url "userprofile_public" adventure.user.username %}">
        <img src="{{ adventure.user.get_profile.avatar_thumbnail_80 }}" alt=""/>
        <p>{{ adventure.user.username }}</p>
    </a>
{% endblock %}

{% block buttons_bottom %}

{% endblock %}
