{% extends "herobase/layout/inner_box.html" %}
{% load i18n hero_actions hero_message %}
{% load url from future %}

{% block wrapper_classes %}span1{% endblock %}

{% block title %}
    <div><a href="{% url "userprofile_public" adventure.user.username %}"><strong>{{ adventure.user.username }}</strong></a></div>
    <div><em>{{ adventure.get_state_display }}</em></div>
{% endblock %}

{% block buttons_top %}
    {% if not adventure.canceled and not adventure.accepted and not adventure.rejected %}
        <form action="{% url "owner_update_hero" quest.pk adventure.user.pk %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="action" value="reject">
            <button type="submit" name="action_btn" class="btn btn-mini" value="{% trans "Reject" %}" data-toggle="tooltip" data-title="Ablehnen">
                <i class="icon-yah-x icon-20"></i>
            </button>
        </form>
    {% endif %}
{% endblock %}
{% block content %}
    <img src="{{ adventure.user.get_profile.avatar_thumbnail_80 }}" alt=""/>

{% endblock %}

{% block buttons_bottom %}
    {% message_user adventure.user %}
    {% if not adventure.canceled and not adventure.accepted and not adventure.rejected %}

        <form action="{% url "owner_update_hero" quest.pk adventure.user.pk %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="action" value="accept">
            <button type="submit" name="action_btn" class="btn btn-mini" value="{% trans "Accept" %}" data-toggle="tooltip" data-title="Annehmen">
                <i class="icon-yah-ok icon-30"></i>
            </button>
        </form>

    {% endif %}
{% endblock %}