{% extends "herobase/layout/box.html" %}
{% load i18n hero_actions hero_message %}

{% block title %}<h2>{% trans "Participants" %}</h2>{% endblock %}

{% block extra_classes %}collapsible{% endblock %}

{% block buttons-top %}
{% endblock %}

{% block buttons-bottom %}
{% endblock %}

{% block content %}
    <ul class="grid ">
        {% for adventure in quest.adventures.all %}
            <li class="span1-5">
                {% include "herobase/quest/adventure_inner_box_owner.html" %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}