{% extends "herobase/layout/inner_box.html" %}
{% load i18n hero_actions hero_message %}
{% load url from future %}
{% block wrapper_classes %}span1{% endblock %}

{% block title %}
    <a href="{% url "userprofile_public" adventure.user.username %}"><strong>{{ adventure.user.username }}</strong></a>
    <em>{{ adventure.get_state_display }}</em>
{% endblock %}

{% block buttons_top %}
{% endblock %}

{% block content %}
    <img src="{{ adventure.user.get_profile.avatar_thumbnail_80 }}" alt=""/>
{% endblock %}

{% block buttons_bottom %}

{% endblock %}