{% extends "herobase/layout/box.html" %}
{% load i18n hero_actions hero_message crispy_forms_tags %}
{% load url from future %}
{% block title %}
    <h2>{% trans "Comments" %}</h2>
{% endblock %}

{% block extra_classes %}collapsible{% endblock %}

{% block content %}
    <ul class="grid">
        {% for comment in quest.comments.all %}
                <li class="span5">
                    {% include "herobase/quest/comments_inner_box.html" %}
                </li>
        {% empty %}
            <li>{% trans "There are no comments yet." %}</li>
        {% endfor %}
    </ul>

    <form method="post" action="{% url "quest_comment" quest.pk %}">
        {% crispy comment_form %}
    </form>
{% endblock %}