{% extends "herobase/layout/base.html" %}
{% load crispy_forms_tags i18n static thumbnail %}

{% block javascript %}
    <script type="text/javascript" src="{% get_static_prefix %}bootstrap/js/bootstrap-collapse.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}bootstrap/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}select2-2.0/select2.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        $('#id_due_date').datepicker({autoclose: true, format: 'dd.mm.yyyy'});

        var avatar_thumbnails_tiny = {
        {% for id, image in request.user.get_profile.avatar_thumbnails_tiny %}
            {{ id }}: "{{ image|escapejs }}"{% if not forloop.last %},{% endif %}
        {% endfor %}
        };
        var avatar_thumbnails = {
        {% for id, image in request.user.get_profile.avatar_thumbnails %}
            {{ id }}: "{{ image|escapejs }}"{% if not forloop.last %},{% endif %}
        {% endfor %}
        };

        function formatResult(hero_class) {
            if(hero_class.id) {
                return "<img src='" + avatar_thumbnails[hero_class.id] + "'/> " + hero_class.text;
            } else {
                return hero_class.text
            }
        }
        function formatSelection(hero_class) {
            if(hero_class.id) {
                return "<img src='" + avatar_thumbnails_tiny[hero_class.id] + "'/> " + hero_class.text;
            } else {
                return hero_class.text
            }
        }
        $("#id_hero_class").select2({
            formatResult: formatResult,
            minimumResultsForSearch: 10,
            formatSelection: formatSelection
        });
    });
    </script>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% get_static_prefix %}bootstrap/css/datepicker.css"/>
    <link rel="stylesheet" href="{% get_static_prefix %}select2-2.0/select2.css"/>
{% endblock %}

{% block page_title %}
    <h1>{% trans "Create Quest" %}</h1>
{% endblock %}

{% block submenu %}
    {% include "herobase/quest/submenu.inc.html"%}
{% endblock %}

{% block content %}
    {% crispy form %}

    <h2><span class="stripe">Was sind Heldenklassen?</span></h2>
    <a data-toggle="collapse" data-target="#hero_classes">Hier Klicken für eine Erklärung</a>
    <div id="hero_classes" class="collapse">
        {% include "herobase/hero_classes.inc.html" %}
    </div>
{% endblock %}