{% extends "herobase/layout-3-6-3.html" %}
{% load crispy_forms_tags i18n static %}

{% block javascript %}
    <script type="text/javascript" src="{% get_static_prefix %}bootstrap/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        $('#id_due_date').datepicker();
    });
    </script>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% get_static_prefix %}bootstrap/css/datepicker.css"/>
{% endblock %}
{% block content %}
    {% crispy form %}
{% endblock %}