{% load url from future %}
{% load humanize %}
<div class="row">
    <div class="span1-5">
        <img src="{{ quest.owner.get_profile.avatar_thumbnail_110 }}" alt=""/>
    </div>
    <h2>{{ quest.title }}</h2>
    <p>{% block text %}{{ quest.description }}{% endblock %}</p>
</div>


<div class="row">
    <div class="span6">
        <strong>Ersteller:</strong> <a href="{% url "userprofile_public" quest.owner.username %}">{{ quest.owner }}</a> <br/>
        {% if quest.location %}
        <strong>Ort:</strong> {{ quest.location }}
        {% endif %}
        <strong>Status:</strong> {{ quest.get_state_display }} <br/>
        <strong>Gesuchte Helden:</strong> {{ quest.max_heroes }} <br/>
        {%if not quest.has_expired %}
            <strong>Läuft noch bis:</strong> {{ quest.expiration_date.date}}
        {% else %}
            <strong>Abgelaufen am:</strong> {{ quest.expiration_date.date}}
        {% endif %}
    </div>
</div>