{% extends "herobase/layout/box.html" %}
{% load i18n hero_message %}
{% load url from future %}

{% block content %}
    {% include "herobase/quest/description_box_content.html" %}
{% endblock %}

{% block buttons_top %}
    <a class="like-button" href="{% url "like_quest" quest.pk %}" data-toggle="tooltip" data-title="{% trans "Like the Quest" %}">
        <i class="icon-yah-like"></i></a>
    <form id="hero-cancel" method="POST" action="{% url "hero_update_quest" quest.pk %}">
        {% csrf_token %}
        {% if request_user_adventure and not quest.canceled and not request_user_adventure.rejected %}
            <input type="hidden" name="action" value="cancel">
            <button type="submit" name="action_btn" class="btn btn-mini" value="{% trans "Cancel" %}" data-toggle="tooltip" data-title="Abbrechen">
                <i class="icon-yah-x icon-40"></i>
            </button>
        {% endif %}
    </form>
{% endblock %}

{% block buttons_bottom %}
    {% message_user quest.owner 30 %}
    <form method="POST" action="{% url "hero_update_quest" quest.pk %}">
        {% csrf_token %}
        {% if not request_user_adventure and not quest.has_expired %}
            <input type="hidden" name="action" value="apply">
            <button type="submit" name="action_btn" class="btn btn-mini" value="{% trans "Apply" %}" data-toggle="tooltip" data-title="Bewerben">
                <i class="icon-yah-ok icon-40"></i>
            </button>
        {% endif %}
    </form>
{% endblock %}