{% extends "herobase/layout/box.html" %}
{% load url from future %}
{% block buttons_top %}
    {% if quest.open %}
    <form method="post" action="{% url "owner_update_quest" quest.pk %}" class="inline">
        {% csrf_token %}
        <input type="hidden" name="action" value="cancel">
        <button class="box-btn-top" type="submit" value="cancel" name="cancel"  data-toggle="tooltip" data-title="Abbrechen">
            <i class="icon-yah-delete icon-40"></i>

        </button>
    </form>
    {% endif %}

{% endblock %}
{% block buttons_bottom %}
    {% if quest.can_start %}
        <form method="post" action="{% url "owner_update_quest" quest.pk %}" class="inline">
            {% csrf_token %}
            <input type="hidden" name="action" value="start">
            <button class="box-btn-top" type="submit" value="start" name="start" data-toggle="tooltip" data-title="Start">
                <i class="icon-yah-ok icon-40"></i>
                <span class="button-description">Quest starten</span>
            </button>
        </form>
    {% elif quest.started and not quest.done %}
        <form method="post" action="{% url "owner_update_quest" quest.pk %}" class="inline">
            {% csrf_token %}
            <input type="hidden" name="action" value="done">
            <button class="box-btn-top" type="submit" value="start" name="start" data-toggle="tooltip" data-title="Start">
                <i class="icon-yah-ok icon-40"></i>
                <span class="button-description">Quest als erledigt markieren</span>
            </button>
        </form>
    {% endif %}
{% endblock %}

{% block content %}
    {% include "herobase/quest/description_box_content.html" %}
{% endblock %}