{% extends "herobase/layout/box.html" %}
{% load url from future %}
{% block buttons_top %}
    <form method="post" action="{% url "owner_update_quest" quest.pk %}" class="inline">
        {% csrf_token %}
        <button class="box-btn-top" type="submit" value="delete" name="delete">
            <i class="icon-yah-delete icon-40"></i></button>
    </form>
{% endblock %}

{% block content %}
    <img src="http://placehold.it/120x120" alt=""/>
    <h2>{{ quest.title }}</h2>
    <p>{% block text %}{{ quest.description }}{% endblock %}</p>
{% endblock %}