{% load i18n %}
<div class="quest-detail">
    <h1>Quest: {{ quest.title }}</h1>
    {% if quest.cancelled %}<em>abgebrochen</em>{% endif %}
    <p>{{ quest.description }}</p>
    <h2>Details</h2>
    <dl class="dl-horizontal">
        <dt>{% trans "class" %}</dt><dd>{{ quest.hero_class }}</dd>
        <dt>{% trans "level" %}</dt><dd>{{ quest.level }}</dd>
        <dt>{% trans "experience" %}</dt><dd>{{ quest.experience }}</dd>
        <dt>{% trans "location" %}</dt><dd>{{ quest.location }}</dd>
    </dl>
</div>