{% extends "herobase/layout/box.html" %}
{% load url from future %}
{% load i18n %}

{% block content %}
    <ul class="box-buttons-top">
        {% if not quest.edit_window_expired %}
            <a href="{% url "quest_update" quest.pk %}" data-toggle="tooltip" data-title="Bearbeiten"><i class="icon-yah-edit icon-40"></i></a>
        {% endif %}
        {% if quest.open %}
            <form id="owner-cancel" method="post" action="{% url "owner_update_quest" quest.pk %}" class="inline">
                {% csrf_token %}
                <input type="hidden" name="action" value="cancel">
                <button  class="box-btn-top" type="submit" value="cancel" name="cancel"  data-toggle="tooltip" data-title="Quest Abbrechen">
                    <i class="icon-yah-trash icon-40"></i>
                </button>
            </form>
        {% endif %}
    </ul>
    {% include "herobase/quest/description_box_content.html" %}
    <ul class="box-buttons-bottom">
        {% if quest.can_start %}
            <li>
                <form method="post" action="{% url "owner_update_quest" quest.pk %}" class="inline">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="start">
                    <button class="box-btn-top" type="submit" value="start" name="start" data-toggle="tooltip" data-title="Quest Start">
                        <i class="icon-yah-ok icon-40"></i>
                    </button>
                </form>
            </li>
        {% elif quest.started and not quest.done %}
            <li>
                <form method="post" action="{% url "owner_update_quest" quest.pk %}" class="inline">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="done">
                    <button class="box-btn-top" type="submit" value="start" name="start" data-toggle="tooltip" data-title="Quest als erledigt markieren">
                        <i class="icon-yah-ok icon-40"></i>
                    </button>
                </form>
            </li>
        {% endif %}
    </ul>
{% endblock %}