{#{% extends "herobase/layout/box.html" %}#}
{% load i18n hero_message %}
{% load url from future %}

{% block content %}
    {% if user.is_authenticated %}
        {% if request_user_adventure and not quest.canceled and not request_user_adventure.rejected %}
            <ul class="box-buttons-top">
                <li>
                    <form id="hero-cancel" method="POST" action="{% url "hero_update_quest" quest.pk %}">
                        {% csrf_token %}

                        <input type="hidden" name="action" value="cancel">
                        <button type="submit" name="action_btn" class="btn btn-mini" value="{% trans "Cancel" %}" data-toggle="tooltip" data-title="Abbrechen">
                            <i class="icon-yah-x icon-40"></i>
                        </button>

                    </form>
                </li>
            </ul>
        {% endif %}
    {% endif %}
    {% include "herobase/quest/description_box_content.html" %}
    <ul class="box-buttons-bottom">
        <li>
            {% message_user quest.owner 30 %}
        </li>
        {% if not request_user_adventure and not quest.has_expired %}
            <li>
                {% if user.is_authenticated %}
                    <form method="POST" action="{% url "hero_update_quest" quest.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="apply">
                        <button type="submit" name="action_btn" class="btn btn-mini" >
                            <span> {% trans "Apply" %} <i class="icon-yah-ok icon-30"></i></span>
                        </button>
                    </form>
                {% else %}
                    <a class="btn btn-mini" href="{% url 'auth_login' %}?next={{ quest_url }}">
                        <span> {% trans "Apply" %} <i class="icon-yah-ok icon-30"></i></span>
                    </a>
                {% endif %}
            </li>
        {% endif %}
    </ul>
{% endblock %}
