{% load url from future %}
{% load humanize i18n hero_message %}

<div class="row">
    <div class="col-sm-6">
        <div class="box">
            <img src="{{ quest.owner.get_profile.avatar_thumbnail_110 }}" alt="" class="pull-left"/>
            <p>Details zu</p>
            <h1>{{ quest.title }}</h1>
            <p>{{ quest.description|linebreaksbr|urlize }}</p>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="box">
            <dl class="dl-horizontal">
                <dt>Ersteller</dt>
                <dd>
                    <a href="{% url "userprofile_public" quest.owner.username %}">
                        {{ quest.owner.username }}
                    </a>
                </dd>
                <dt>Status</dt><dd>offen</dd>
                <dt>Gesuchte Helden</dt><dd>100.000</dd>
                <dt>Erstellt am</dt><dd>{{ quest.created.date }}</dd>
                <dt>Läuft noch bis</dt><dd>{{ quest.expiration_date.date }}</dd>

            </dl>
            {% include "herobase/quest/quest_box_footer.html" %}
        </div>
    </div>
</div>

{#        <span class="likes-count">{{ quest.likes_count }}</span>#}
{#        <a class="like-button" href="{% url "like_quest" quest.pk %}" data-toggle="fooltip" title="{% trans "Like the Quest" %}">#}
{#            <i class="icon-yah-like"></i>#}
{#        </a>#}