{% extends "herobase/base.html" %}
{% block content %}
    {% include "herobase/quest/description.html" %}
    <p>adventure state: {{ adventure.get_state_display }}</p>
    {% if request.user in quest.active_heroes %}
        <h2>Du nimmst an dieser Quest teil.</h2>
    {% elif quest.needs_heroes %}
        <h2>Nimm diese Quest an!</h2>
        <p>Diese Herausforderung braucht noch Helden.</p>
    {% endif %}

    <form action="{% url adventure-update quest.id %}" method="post">
        {% csrf_token %}
    {{ adventure.get_hero_actions }}
        {% if not adventure.get_hero_actions %}
            <input type="submit" name="action" class="btn btn-primary btn-large" value="apply"/>
        {% endif %}
        {% if 'cancel' in adventure.get_hero_actions %}
            <input type="submit" name="action" class="btn btn-primary btn-large" value="cancel"/>
        {% endif %}
        {% if 'hero_done' in adventure.get_hero_actions %}
            <input type="submit" name="action" class="btn btn-primary btn-large" value="hero_done"/>
        {% endif %}
    </form>
{% endblock %}