{% extends "herobase/layout-3-6-3.html" %}
{% load i18n hero_actions %}
{% block content %}
    <div class="quest-detail">
        <div class="page-header">
            <h1>{{ quest.title }}
            <small>
                {% if quest.is_open %}
                    Diese Herausforderung braucht noch Helden!
                {% elif quest.is_cancelled %}
                    Die Quest wurde abgebrochen.
                {% elif quest.is_full %}
                    Diese Quest ist schon voll.
                {% elif quest.is_done %}
                    Diese Quest ist abgeschlossen.
                {% endif %}
            </small>
            </h1>
        </div>

        {% if request.user == quest.owner %}
            <h2>Dies ist deine Quest!</h2>
        {% elif request.user in quest.active_heroes %}
            <h2>Du nimmst an dieser Quest teil.</h2>
        {% endif %}
        <div class="row-fluid">
            <div class="span6">
                <h2>{% trans "description" %}</h2>
                <p>{{ quest.description }}</p>
            </div>
            <div class="span6">
                <h2>Details</h2>
                <dl class="dl-horizontal">
                    <dt>{% trans "quest-state" %}</dt><dd>{{ quest.get_state_display }}</dd>
                    {% if adventure %}
                        <dt>{% trans "adventure-state" %}</dt><dd>{{ adventure.get_state_display }}</dd>
                    {% endif %}
                    <dt>{% trans "heroes" %}</dt><dd>{{ quest.accepted_heroes.count }}/{{ quest.max_heroes }}</dd>
                    <dt>{% trans "owner" %}</dt><dd>{{ quest.owner }}</dd>
                    <dt>{% trans "class" %}</dt><dd>{{ quest.get_hero_class_display }}<div class="charicon {{ quest.get_hero_class_display }}"/></dd>
                    <dt>{% trans "level" %}</dt><dd>{{ quest.level }}</dd>
                    <dt>{% trans "experience" %}</dt><dd>{{ quest.experience }}</dd>
                    <dt>{% trans "location" %}</dt><dd>{{ quest.location }}</dd>
                </dl>
            </div>
        </div>
        {# quest actions #}

        {% valid_actions_for quest as valid_actions %}
        {% if valid_actions %}
            <h2 class="inline">Quest actions</h2>
            <div class="form-actions">
            {% for action_name, action in valid_actions.items %}
                <form action="{% url quest-update quest.id %}" method="post" class="inline">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="{{ action_name }}">
                    <input type="submit" name="action_btn" class="btn" value="{{ action.verbose_name }}"/>
                </form>
            {% endfor %}
            </div>
        {% endif %}
    </div>

    {# owner #}
    {% if request.user == quest.owner %}
        {% include "herobase/quest/adventures.inc.html" %}
    {% endif %}
{% endblock %}