{% extends "herobase/layout-3-6-3.html" %}
{% block content %}
    {% include "herobase/quest/description.html" %}

    <h2>Dies ist deine Quest!</h2>
    {% if quest.cancelled %}
        Du hast diese Quest abgebrochen.
    {% else %}
        <form action="{% url adventure-update quest.id %}" method="post">
            {% csrf_token %}
            <h2>Allgemeine settings</h2>
            {% for action in valid_actions %}
                <input type="submit" name="action" class="btn" value="{{ action }}"/>
            {% endfor %}
        </form>

        <h2>Die Folgenden Helden moechten dir helfen</h2>
        {% if quest.active_heroes.exists %}
            {% for adventure in quest.adventure_set.all %}
                <a href="{% url user-profile adventure.user.username %}"><h3>{{ adventure.user }} (state: {{ adventure.get_state_display }})</h3></a>
                <form action="{% url adventure-update quest.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="target_user" value="{{ adventure.user_id }}"/>
                    {% for action in adventure.valid_actions %}
                        <input type="submit" name="action" class="btn btn-primary btn-large" value="{{ action }}"/>
                    {% endfor  %}
                </form>
            {% endfor %}
        {% else %}
            Leider hilft Dir noch niemand.
        {% endif %}
    {% endif %}
{%  endblock %}
