{% extends "herobase/layout/base.html" %}
{% load url from future %}
{% load i18n hero_actions hero_message static %}

{% block content %}
  <div class="quest-detail">
    <div class="text">
      <span>Details zu</span>
      <h1>{{ quest.title }}</h1>
      <p>{{ quest.description|linebreaksbr|urlize }}</p>
    </div>
    <div class="data">
      <dl>
        <dt>Ersteller:</dt>
        <dd>
          <a href="{% url "userprofile_public" quest.owner.username %}">
            {{ quest.owner.username }}
          </a>
        </dd>

        <dt>Status:</dt><dd>offen</dd>
        <dt>Gesuchte Helden</dt><dd>100.000</dd>
        <dt>Erstellt am:</dt><dd>{{ quest.created.date }}</dd>
        <dt>Läuft noch bis:</dt><dd>{{ quest.expiration_date.date }}</dd>
      </dl>
      {% include "herobase/quest/quest_box_footer.html" %}
    </div>
  </div>

    {% if is_owner %}
        {% include "herobase/quest/description_box_owner.html" %}
    {% else %}
        {% include "herobase/quest/description_box.html" %}
    {% endif %}
    <hr/>
    {% if is_owner %}
        {% include "herobase/quest/adventures_box_owner.html" %}
    {% else %}
        {% include "herobase/quest/adventures_box_hero.html" %}
    {% endif %}
    <hr/>
    {% include "herobase/quest/comments_box.html" %}
{% endblock %}
