{% extends "herobase/layout/base.html" %}
{% load url from future %}
{% load i18n hero_actions hero_message static %}

{% block content %}
    <div class="quest-detail">
        <div class="text">
          {% comment %}Translators:This refers to details for a quest{% endcomment %}
          <span>{% trans "Details for" %}</span>

          <h1>{{ quest.title }}</h1>
          <p>{{ quest.description|urlize|linebreaksbr }}</p>
        </div>
        <div class="sidebar">
            <div class="data">
                <dl>
                    <dt>{% trans "Status:" %}</dt>
                    <dd>{{ quest.get_state_display }}</dd>
                    <dt>{% trans "Place" %}</dt>
                    <dd>{% if quest.remote %}
                      <span class="details"><i class="icon-map-marker"></i> {% trans "free" %}</span>
                    {% else %}
                        <span class="details"><i class="icon-map-marker"></i> {{ quest.address }}</span>
                    {% endif %}</dd>
                    <dt>{% trans "date:" %}</dt>
                    <dd>{% with date=quest.start_date %}
                        {% if date %}
                            <span class="details"><i class="icon-calendar"></i> {{ date }}</span>
                        {% else %}
                          <span class="details"><i class="icon-calendar"></i> {% trans "free" %}</span>
                        {% endif %}
                    {% endwith %}</dd>
                    <dt>{% trans "Wanted heroes" %}</dt>
                    <dd>{{ quest.max_heroes }}</dd>
                    <dt>{% trans "Creator" %}</dt>
                    <dd>
                        <a href="{% url "userprofile_public" quest.owner.username %}">
                            {{ quest.owner.username }}
                        </a>
                    </dd>
                    <dt>{% trans "Expenditure" %}</dt>
                    <dd>{{ quest.get_time_effort_display }}</dd>
                </dl>
                {% include "herobase/quest/quest_box_footer.html" %}
            </div>
            {% if is_owner %}
                <a href="{% url "quest_recreate" quest.pk %}">
                        <button class="box-button"
                                data-toggle="tooltip" data-title="{% trans 'Recreate quest' %}">
                            <i class="icon-copy"></i>
                        </button>
                </a>
                {% if not quest.edit_window_expired %}
                    <a class="box-button" href="{% url "quest_update" quest.pk %}"
                       data-toggle="tooltip"
                       data-title="{% trans 'Edit' %}"><i class="icon-pencil"></i></a>
                {% endif %}

                {% if quest.state.can_cancel %}
                    <form method="post" action="{% url "owner_update_quest" quest.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="cancel">
                        <button class="box-button" type="submit" value="cancel" name="cancel"
                                data-toggle="tooltip" data-title="{% trans 'Cancel quest' %}">
                            <i class="icon-trash"></i>
                        </button>
                    </form>
                {% endif %}

                {% if quest.state.can_start %}
                    <form method="post" action="{% url "owner_update_quest" quest.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="start">
                        <button class="box-button" type="submit" value="start" name="start"
                                data-toggle="tooltip" data-title="{% trans 'Quest start' %}">
                            <i class="icon-ok"></i>
                        </button>
                    </form>
                {% endif %}
                {% if quest.state.can_done %}
                    <form method="post" action="{% url "owner_update_quest" quest.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="done">
                        <button class="box-button" type="submit" value="start" name="start"
                                data-toggle="tooltip" data-title="{% trans 'Mark quest as solved' %}">
                            <i class="icon-ok"></i>
                        </button>
                    </form>
                {% endif %}
            {% else %}
                {% if adventure.state.can_cancel %}
                    <form id="hero-cancel" method="POST"
                          action="{% url "hero_update_quest" quest.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="cancel">
                        <button class="box-button" type="submit" name="action_btn"
                                value="{% trans "Cancel" %}" data-toggle="tooltip"
                                data-title="{% trans 'Cancel' %}">
                            <i class="icon-remove"></i>
                        </button>
                    </form>
                {% endif %}
                {% message_user quest.owner %}

                {% if adventure.state.can_apply %}
                    {# TODO : adventure state might not work with not authenticated user #}
                    {% if user.is_authenticated %}
                        <form id="hero-apply" class="hfill" method="POST"
                              action="{% url "hero_update_quest" quest.pk %}">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="apply">
                            <button class="box-button text" type="submit" name="action_btn">
                                <span>{% trans "Apply" %}</span>
                            </button>
                        </form>
                    {% else %}
                        <a class="box-button text hfill"
                           href="{% url 'auth_login' %}?next={{ quest_url }}">
                            <span>{% trans "Apply" %}</span>
                        </a>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>



    {% include "herobase/quest/accepted_adventures.html" with adventures=quest.adventures.accepted %}
    {% if is_owner %}
        {% include "herobase/quest/unaccepted_adventures.html" with adventures=quest.adventures.applying %}
    {% endif %}
    <div class="row">
        {% include "herobase/quest/comments_box.html" %}
        {% include "herobase/quest/documentation.html" %}
    </div>
{% endblock %}
