{% extends "herobase/layout-3-9.html" %}
{% load static %}
{% load i18n %}

{% block head_javascript %}
    <script type="text/javascript" src="{% get_static_prefix %}bootstrap/js/bootstrap-tooltip.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}bootstrap/js/bootstrap-popover.js"></script>
{% endblock %}

{% block javascript %}
    <script>
        $(function() {
            $('.dropdown-menu p select, .dropdown label').click(function(e) {
                e.stopPropagation();
            });
        });
    </script>
{% endblock %}

{% block css %}
    <link  href="https://fonts.googleapis.com/css?
family=Reenie+Beanie:regular"
           rel="stylesheet"
           type="text/css">
{% endblock %}

{% block submenu %}
    {% include "herobase/quest/submenu.inc.html"%}
{% endblock %}

{% block content %}

    <div class="quest-list">
        <div class="btn-toolbar">
            <div class="btn-group" data-toggle="buttons-radio">
                <a class="btn active" href="#grid" data-toggle="tab"><i class="icon-th"></i></a>
                <a class="btn" href="#table" data-toggle="tab"><i class="icon-th-list"></i></a>
            </div>
            <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-filter"></i> Filter / Ordering
                    <span class="caret"></span>
                </a>
                <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                    <form action="" method="get">
                        {{ filter.form.as_p }}
                        {{ filter.form.ordering_field }}
                        <input type="submit" value="Update"/>
                    </form>
                </div>
            </div>
        </div>


        <div class="tab-content" style="padding-bottom: 38px">

            <div class="tab-pane active" id="grid">
                <ul>
                    {% for quest in filter %}
                        <li class="quest-class-{{ quest.hero_class }}">
                            <div>
                                <a href="{% url quest-detail quest.id %}">
                                    <h2>{{ quest.title|truncatechars:50 }}</h2>
                                    <!--<p>{{ quest.description|truncatechars:80 }}</p>-->
                                </a>
                            </div>
                        </li>
                    {% empty %}
                        {% if filter.is_filtered %}
                            {% trans "No quests found matching your current criteria." %}
                            <a href="./">{% trans "Show all." %}</a>
                        {% else %}
                            {% trans "There don't seem to be any quests." %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>


            <div class="tab-pane" id="table">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Quest</th>
                        <th>Class</th>
                        <th>Location</th>
                        <th>Experience</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for quest in filter %}
                        <tr>
                            <td><a href="{% url quest-detail quest.id %}" class="btn"><i class="icon-eye-open"></i></a></td>
                            <td>
                                {{ quest.title }}
                            </td>
                            <td><img src="{% static "img/icon_" %}{{ quest.get_hero_class_display|lower }}.png" /> {{ quest.get_hero_class_display }}</td>
                            <td>{{ quest.location }}</td>
                            <td>
                                {{ quest.experience }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
{% endblock %}