{% load i18n %}
<div class="col-sm-6 col-md-4">
    <div class="quest-short">
        <a href="{{ quest.get_absolute_url }}">
            <span class="header">!</span>
            <span class="text">
{#                Don't use h1 more than one time per page #}
                <h2>{{ quest.title }}</h2>
                <p>
                    {% if quest.remote %}
                        <span class="details disabled"><i class="icon-map-marker"></i> frei</span>
                    {% else %}
                        <span class="details"><i class="icon-map-marker"></i> {{ quest.address }}</span>
                    {% endif %}
                    <br>
                    {% with date=quest.expiration_date %}
                        {% if date %}
                            <span class="details"><i class="icon-calendar"></i> {{ date }}</span>
                        {% else %}
                            <span class="details disabled"><i class="icon-calendar"></i> frei</span>
                        {% endif %}
                    {% endwith %}
                </p>
                <p>
                {{ quest.description|truncatewords:24 }}
                </p>
                {% include "herobase/quest/quest_box_footer.html" %}
            </span>
        </a>
    </div>
</div>
