{% extends "herobase/layout/base.html" %}
{% load static %}
{% load i18n %}
{% load endless %}
{% load cache %}

{% block head_javascript %}
    <script type="text/javascript" src="{% get_static_prefix %}bootstrap/js/bootstrap-tooltip.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}bootstrap/js/bootstrap-popover.js"></script>
{% endblock %}

{% block javascript %}
    <script>
        $(function() {
            $('.dropdown-menu p select, .dropdown label').click(function(e) {
                e.stopPropagation();
            });
        });
    </script>
{% endblock %}
{##}
{#{% block css %}#}
{#    <link  href="https://fonts.googleapis.com/css?family=Coming+Soon"#}
{#           rel="stylesheet"#}
{#           type="text/css">#}
{#{% endblock %}#}

{% block page_title %}
    <h1>{% trans "Billboard" %}</h1>
{% endblock %}

{% block content %}
    {% paginate 12 quests %}
    <div style="text-align: right">{% show_pages %}</div>
    <div class="quest-list">
        <hr>

        <ul class="grid">
            {% for quest in quests %}
                <li class="span{% cycle '3-5' '2-75' '3' '3-25' %}">
                    {% include "herobase/quest/list_box.html" %}
                </li>
            {% empty %}
                {% if search %}
                    <li>{% trans "No quests found matching your current criteria." %}
                        <a href="?search=">{% trans "Show all." %}</a>
                    </li>
                {% else %}
                    <li>{% trans "There don't seem to be any quests." %}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div style="text-align: right">{% show_pages %}</div>
{% endblock %}
