{% extends "herobase/base.html" %}
{% block content %}
    {% for quest in quests %}
        {% if forloop.counter0|divisibleby:3 %}<div class="row-fluid">{% endif %}
        <div class="span3 quest-list-item">
            <a class='text' href="{% url quest-detail quest.id %}">
            <div class="content">
                <h2>{{ quest.title }}</h2>
                <p>{{ quest.description|truncatewords:40 }}{% if quest.description|wordcount > 40 %}...{% endif %}</p>
            </div>
        </a>
        </div>
        {% if forloop.counter|divisibleby:3 %}</div>{% endif %}
    {% endfor %}
{% endblock %}