{% extends "herobase/layout/base.html" %}
{% load staticfiles %}
{% load i18n hero_message %}
{% load endless %}

{% block page_title %}
    <h1>{% trans "My Quests" %}</h1>
{% endblock %}

{% block submenu %}
    {% include "herobase/quest/submenu.inc.html"%}
{% endblock %}

{% block content %}
{#    <h2>{% trans "Current Quests" %}</h2>#}
    {% paginate 6 quests %}
    <div style="text-align: right">{% show_pages %}</div>
    {% if quests %}
        {% for quest in quests %}
            {% if quest.owner == request.user %}
                {% include "herobase/quest/my_box_owner.html" %}
            {% else %}
                {% include "herobase/quest/my_box_hero.html" %}
            {% endif %}
        {% endfor %}
    {% else %}
{#        {% trans "There are no quests." %}#}
    {% endif %}
    <div style="text-align: right">{% show_pages %}</div>

{% endblock %}
