{% extends "herobase/layout/box.html" %}

{% block extra_classes %}{% endblock %}

{% block title %}

{% endblock %}

{% block content %}
    <div class="pull-right">
        {% if quest.remote %}
            <i class="icon-yah-distance icon-40"></i>
        {% endif %}
        {{ quest.time_effort }}
    </div>
    <div>
        <a href="{{ quest.get_absolute_url }}">
            <img src="{{ quest.owner.get_profile.avatar_thumbnail_70 }}" alt="" class="pull-left"/>
            <h3>{{ quest.title }}</h3>
        </a>
        {{ quest.description }}
    </div>

{% endblock %}

{% block buttons_top %}

{% endblock %}