{% load i18n %}
{% load url from future %}
<div class="applications">
  <h1>{% trans "Applications" %}</h1>
  {% for a in adventures %}
  <span class="application">
    <a href="{% url "userprofile_public" a.user.username %}">
      <img class="avatar" src="{{ a.user.profile.avatar }}"/>
      <p>{{ a.user.username }}</p>
    </a>
    <div class="buttons">
        <form id="owner_accept_{{ a.user.pk }}" action="{% url "owner_update_hero" quest.pk a.user.pk %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="action" value="accept">
            <button type="submit" name="action_btn"
                value="{% trans "Accept" %}" data-toggle="tooltip" data-title="Annehmen">
                <i class="icon-ok"></i>
            </button>
        </form>
        <form id="owner_reject_{{ a.user.pk }}" action="{% url "owner_update_hero" quest.pk a.user.pk %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="action" value="reject">
            <button type="submit" name="action_btn"
                value="{% trans "Reject" %}" data-toggle="tooltip" data-title="Ablehnen">
                <i class="icon-remove"></i>
            </button>
        </form>
        <a href="{% url "message_to" a.user.pk %}" data-toggle="tooltip"
          data-title="{% blocktrans with name=a.user.username%}Send a message to {{ name }}{% endblocktrans %}">
          <i class="icon-envelope-alt"></i>
        </a>
      </div>
  </span>
  {% endfor %}
</div>
