{% extends "herobase/layout/base.html" %}
{% load crispy_forms_tags i18n static thumbnail %}

{% block javascript %}
    <script type="text/javascript" src="{% get_static_prefix %}bootstrap/js/bootstrap-collapse.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}bootstrap/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        $('#id_expiration_date').datepicker({autoclose: true, format: 'dd.mm.yyyy'});
    });
    </script>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% get_static_prefix %}bootstrap/css/datepicker.css"/>
{% endblock %}

{% block page_title %}
    <h1>{% trans "Create a Quest" %}</h1>
{% endblock %}

{% block content %}
    {% include "herobase/layout/crispy_box.html" %}
{% endblock %}
