{% load static %}
{% load url from future %}
<div class="box-image" style="height: 593px;" data-position="6">
    <div class="image" style="height: 617px; background-image: url({% get_static_prefix %}img/articles/article6.png);"></div>
    <h1 class="header red" style="height: 35px;">Schlimme Neuigkeiten!</h1>
    <h2 class="subheader">Anonyma spurlos<br/>verschwunden - <br/>Kühlschrank-Ablenkung<br/>geglückt!</h2>
    <div class="text">
      <p>
      Durch einen fiesen Trick gelang es der Schurkin Anonyma am 26.10.2013 mit der gesuchten Zeitstoppmaschine zu entkommen.
      Ihre finale Botschaft, die sie in einem abgeschlossenen Kühlschrank hinterließ ist im Folgenden abgebildet.
      </p>
      <p style="font-style: italic;">
      Liebe Superhelden,<br/>
      zwei Monate lang habt ihr mich gejagt, gesucht und versucht mich aufzuhalten. Es ist euch bisher nicht gelungen.
      Ich will offen mit euch sein - es ist inzwischen irrelevant geworden.
      Zu dem Zeitpunkt, an dem ihr diesen Brief lest, wird mein finaler Plan bereits ausgeführt und ich weit, weit fort sein.
      Aber sorgt euch nicht, meine kleinen Helden.
      Für euch wird sich nichts ändern.
      Keine Leben werden verletzt.<br/>
      Genaugenommen war alles, was ich getan habe, sogar eines zu retten. Ich gehe nicht davon aus, dass ihr versteht.<br/>
      Prost, Anonyma<br/>
      PS: Sagt Entropius, dass ich die Zeitstoppmaschine behalte. Dieses Ding ist ziemlich nützlich!
      </p>
    </div>
    {% if not request.user.is_authenticated %}
        <div class="box-floating">
            <h1 class="header"><a class="plain" href="#yah-ist-ein-spiel">Helden<br/>bedarf</a></h1>
            <p>Erfahre mehr, <a href="{% url "registration_register" %}">registriere</a> dich jetzt und beginne noch heute mit dem Spiel!</p>
            <div class="box-footer">
                <a href="#yah-ist-ein-spiel"><i class="icon-yah-hand-down icon-2x"></i></a>
            </div>
        </div>
    {% endif %}
</div>
