{% extends "herobase/layout/base.html" %}
{% load i18n static humanize %}

{% block content %}
    <div class="box">
        <h1>{% trans "Delete profile" %}</h1>
        <div class="clearfix">
            <div class="alert alert-danger">
                <strong>{% trans "Warning!" %}</strong>
                {% blocktrans %}
                  Are you sure that you want to <strong>irrevocably delete</strong> 
                  your profile on you are hero?
                {% endblocktrans %}
            </div>
            <form method="POST" action="">
                {% csrf_token %}
                <a href="{% url 'userprofile_edit' %}" class="btn btn-primary col-sm-3">
                {% trans "No, preferrably not" %}</a>
                <button type="submit" name="submit" value="Ja" class="btn btn-danger col-sm-3 pull-right">
                    <span>{% trans "Yes, surely delete" %}</span>
                </button>
            </form>
        </div>
    </div>
{% endblock %}
