{% load crispy_forms_tags i18n static %}

{% load i18n static %}


{% block content %}

    <div class="row">
        <div class="col-sm-11">
            <div class="box userprofile">
                <div class="row">
                    <div class="col-sm-12">
                        {% if user != request.user %}
                          <h1>{% blocktrans %}This is {{ username }}{% endblocktrans %}</h1>
                        {% else %}
                            <a href="{% url 'userprofile_edit' %}" class="pull-right"><i
                                    class="icon-cogs icon-2x"></i></a>
                              <h1>{% blocktrans %}This is you, {{ user.username }} {% endblocktrans %}</h1>
                        {% endif %}
                    </div>
                    <div class="col-sm-4 avatar-col">
                        <img src="{{ user.get_profile.avatar }}" alt="{{ user.username }}">

                        <div class="experience-bar">
                            <div style="width: {{ user.profile.relative_level_experience }}%;"></div>
                        </div>
                        <div class="level">{{ user.profile.level }}</div>
                    </div>
                    <div class="col-sm-4">
                        <dl class="data">
                            {% if user.get_profile.team %}
                                <dt>{% trans "Team" %}</dt>
                                {% comment %}<dd><a href="{% url herobase.views.team user.get_profile.team %}">{{ user.get_profile.team }}</a></dd>{% endcomment %}
                                <dd>{{ user.get_profile.team }}</dd>
                            {% endif %}

                            <dt>{% trans "Member since" %} </dt>
                            <dd>{{ user.get_profile.created|timesince }}</dd>
                            {#                {% if user.get_profile.public_location %}#}
                            {#                    <dt>{% trans "Region" %}</dt><dd>{{ user.get_profile.location }}</dd>#}
                            {#                {% endif %}#}
                            <dt>{% trans "Finished quests" %}</dt>
                            <dd>{{ user.get_profile.quests_done }}</dd>
                            <dt>{% trans "Quests created" %}</dt>
                            <dd>{{ user.get_profile.quests_created }}</dd>
                            <dt>{% trans "Level" %}</dt>
                            <dd>{{ user.profile.level }}</dd>
                            <dt>{% trans "XP" %}</dt>
                            <dd>{{ user.profile.experience }}</dd>
                            <dt>{% trans "Rank" %}</dt>
                            <dd>{{ user.profile.rank }}</dd>
                        </dl>
                    </div>
                    <div class="col-sm-4">
                        {{ user.get_profile.about }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1">
            {% if user != request.user %}
                <a href="{% url "message_to" user.pk %}" data-toggle="tooltip" class="box-button"
                   data-title="{% blocktrans with name=user.username %}Send a message to {{ name }}{% endblocktrans %}">
                    <i class="icon-envelope-alt"></i>
                </a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="box">
                <h2>{% trans "Rank in the list" %}</h2>
                <table class="leader-table">
                    {% for user in relative_ladder %}
                        {% with active=user.active %}
                            {% include "herobase/leader_board_box.inc.html" %}
                        {% endwith %}
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="col-sm-6">
            <h2>{% blocktrans %}Achievenments of {{ user.username }}{% endblocktrans %}</h2>
            <div class="row">
            {% for achievement in user.achievements.all %}
                <div class="col-md-12">
                    {% include "heroachievements/achievement.html" %}
                </div>
            {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

