{% load i18n static %}
{% load url from future %}

{# Username and Avatar #}

<div class="userprofile-small">
    <a href="{% url "userprofile_private" %}">
        <h4>Profil</h4>

        <img src="{{ request.user.get_profile.avatar_thumbnail_110 }}" alt="{{ request.user.username }}">
        <h4>{{ request.user.username }}</h4>
    </a>
    {#  <span class="{{ request.user.get_profile.get_hero_class_display|lower }}">{{ request.user.get_profile.get_hero_class_display }}</span><br>#}

    <div>{% trans "Level" %}: {{ request.user.get_profile.level }}</div>

    <div class="progress" data-toggle="tooltip" data-title="{% trans "XP" %}: {{ request.user.get_profile.experience }}/{{ request.user.get_profile.next_level_experience }}">
        <div class="bar {{ request.user.get_profile.get_hero_class_display|lower }}" style="width: {{ request.user.get_profile.relative_level_experience }}%;"></div>
    </div>
</div>


