{% load i18n static %}
{% load url from future %}

{# Username and Avatar #}

<div class="avatar-small">
    <h4><a href="{% url "userprofile_private" %}">{{ request.user.username }}</a></h4>
    <a href="{% url "userprofile_private" %}"><img src="{{ request.user.get_profile.avatar_thumbnail_110 }}" alt="{{ request.user.username }}">
    </a>
    {#  <span class="{{ request.user.get_profile.get_hero_class_display|lower }}">{{ request.user.get_profile.get_hero_class_display }}</span><br>#}
    <span class="">{% trans "Level" %}: {{ request.user.get_profile.level }}</span>


    <div class="progress" rel="tooltip" title="{% trans "XP" %}: {{ request.user.get_profile.experience }}">
        <div class="bar {{ request.user.get_profile.get_hero_class_display|lower }}" style="width: {{ request.user.get_profile.relative_level_experience }}%;"></div>
    </div>
</div>


