{% extends "herobase/layout/base.html" %}
{% load crispy_forms_tags i18n static %}

{% block javascript %}

    <script type="text/javascript" src="{% get_static_prefix %}image-picker/image-picker.min.js"></script>
    {{ form.media }}
    <script type="text/javascript">
        $(function () {
            $("#id_image option").each(function () {
                var $option = $(this);
                var text = $option.text();
                if(text.indexOf('.png') != -1) {
                    $(this).attr('data-img-src', $(this).text())
                }
            });
            $("#id_image").imagepicker();
        })
    </script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% get_static_prefix %}image-picker/image-picker.css"/>
{% endblock %}

{% block page_title %}
    <h1>{% trans "Profile" %}</h1>
{% endblock %}

{% block submenu %}
    {% include "herobase/userprofile/submenu.inc.html" %}
{% endblock %}

{% block content %}
    {% if first_login %}{% trans "Welcome to you are hero." %}{% endif %}
   {% include "herobase/userprofile/form_box.html" %}
{% endblock %}





