{% load crispy_forms_tags i18n static %}

{% load i18n static %}

{% block content %}
    <div class="box">
        {% if first_login %}
            <h3>Willkommen bei You are Hero</h3>
            <p>Suche dir jetzt ein Profilbild aus und schreib' wenn du möchtest ein paar Zeilen über dich.</p>
        {% endif %}
        <form method="POST" action="" enctype="multipart/form-data" class="clearfix">
        {% crispy form %}
        <button class="box-button pull-right" type="submit" value="Save" name="save"  data-toggle="tooltip" data-title="Übernehmen">
            <i class="icon-ok"></i></button>
        </form>
        <a href="{% url 'userprofile_delete' %}">Profil löschen</a>
    </div>

{% endblock %}
