{% extends "herobase/layout/box.html" %}
{% load crispy_forms_tags i18n static %}
{% block box %}
    <form method="POST" action="">  {{ block.super }}</form>
{% endblock %}

{% load i18n static %}

{% block buttons_top %}

{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
    {% if first_login %}
    <h3>Willkommen bei You are Hero</h3>
    <p>Suche dir jetzt ein Profilbild aus und schreib' wenn du möchtest ein paar Zeilen über dich.</p>
    {% endif %}
    {% crispy form %}
{% endblock %}

{% block buttons_bottom %}
    <button type="submit" value="Save" name="save"  data-toggle="tooltip" data-title="Übernehmen">
        <i class="icon-yah-ok icon-40"></i></button>
{% endblock %}
