{% load i18n static %}
<div class="profile-private">
    <h1>
        <a href="{% url home %}"><span class="yellow-stripe">
        {{ request.user.username }}</span></a>
        <small>{{ request.user.get_profile.get_hero_class_display }}</small>
    </h1>

    <div class="portrait">
            <img src="{{ request.user.get_profile.avatar }}" alt="{{ request.user.username }}">
    </div>
    <div class="experience">
        <h4 class="pull-right">{{ request.user.get_profile.experience }} XP</h4>
        <h4>Level: {{ request.user.get_profile.level }}</h4>
        <div class="progress">
            <div class="bar" style="width: {{ request.user.get_profile.relative_level_experience }}%;"></div>
        </div>
    </div>
</div>