{% load url from future %}
{% if request.user.is_authenticated %}
    {% if request.user == user %}
        <ul class="page-tabs">
            <li><a href="{% url "userprofile_private" %}"><span class="stripe">Mein Profil</span></a></li>
            <li><a href="{% url "userprofile_edit" %}"><span class="stripe">Einstellungen</span></a></li>
{#            <li><a href="{% url "userprofile_privacy_settings" %}"><span class="stripe">Privatsphäre</span></a></li>#}
        </ul>
    {% endif %}
{% endif %}