// Import from bootstrap

@import "../bootstrap/less/variables.less";
@import "../bootstrap/less/mixins.less";

// Navigation
.menubar {
    margin-bottom: 14px;
    font-weight: bold;
    a {
        color: @grayDark;
    }
}
ul.menu {
    list-style: none;
    margin: 5px 0 5px -15px;

    li {
        float: left;
        margin: 9px 0 0 15px;
        [class^="icon-"],
        [class*=" icon-"] {
            margin: 1px 0px 0px 0px;
        }
        [class^="icon-custom-"],
        [class*=" icon-custom-"] {
            margin: -9px -10px 0px 0px;
        }
    }
}

// Layout
//------------------------

#header {
    margin-top: 25px;
}

// we have two larger spaces between the content and the sidebars
.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 960px; //940px;
}

//
.page-header {
    border-bottom: 0px none;
    margin: 32px 0 15px 20px;
    padding-bottom: 0px;
}

.sidebar-left {
    margin-right: 10px;
}
.sidebar-right {
    margin-left: 30px;
}



// Icons
//------------------------

.icon-custom-home { background: url(../img/icons/home.png) 0 0 no-repeat transparent; }
.icon-custom-quest { background: url(../img/icons/quest.png) 0 0 no-repeat transparent; }
.icon-custom-profile { background: url(../img/icons/profile.png) 0 0 no-repeat transparent; }
.icon-custom-stats { background: url(../img/icons/stats.png) 0 0 no-repeat transparent; }
.icon-custom-message { background: url(../img/icons/message.png) 0 0 no-repeat transparent; }
.icon-custom-leader { background: url(../img/icons/leader.png) 0 0 no-repeat transparent; }
.icon-custom-allies { background: url(../img/icons/allies.png) 0 0 no-repeat transparent; }
.icon-custom-groups { background: url(../img/icons/groups.png) 0 0 no-repeat transparent; }
.icon-custom-message-create { background: url(../img/icons/message_create.png) 0 0 no-repeat transparent; }
.icon-custom-my-heroes { background: url(../img/icons/my_heroes.png) 0 0 no-repeat transparent; }
.icon-custom-my-stats { background: url(../img/icons/my_stats.png) 0 0 no-repeat transparent; }
.icon-custom-profile-detail { background: url(../img/icons/profile_detail.png) 0 0 no-repeat transparent; }
.icon-custom-profile-edit { background: url(../img/icons/profile_edit.png) 0 0 no-repeat transparent; }
.icon-custom-quest-create { background: url(../img/icons/quest_create.png) 0 0 no-repeat transparent; }
.icon-custom-quest-edit { background: url(../img/icons/quest_edit.png) 0 0 no-repeat transparent; }
.icon-custom-quest-find { background: url(../img/icons/quest_find.png) 0 0 no-repeat transparent; }
.icon-custom-social { background: url(../img/icons/social.png) 0 0 no-repeat transparent; }

[class^="icon-custom-"],
[class*="icon-custom-"] {
    width: 32px;
    height: 32px;
    .ie7-restore-right-whitespace();
    line-height: 32px;
    &:hover {
        .scale(1.3);
    }
}

// Badges - little number of notifications
.badge {
    border-radius: 0px;
    padding: 0px 3px 0px 2px;
    text-shadow: none;
    font-size: 10px;
    background-color: @action;
}

[class^="icon-custom"] .badge,
[class*="icon-custom"] .badge {
    position: relative;
    bottom: -8px;
    left: 3px;
}

// Avatar
//------------------------
.avatar {
    font-weight: bold;
    img {
        margin: 0px 0px 10px 0px;
    }
    .status {
        margin-top: 1px;
        margin-bottom: 2px;
    }
    .progress {
        border: 2px solid black;
        .bar.action { #gradient > .vertical(lighten(@action, 15%), @action); }
        .bar.scientist { #gradient > .vertical(lighten(@scientist, 15%), @scientist); }
        .bar.gadgeteer { #gradient > .vertical(lighten(@gadgeteer, 15%), @gadgeteer); }
        .bar.diplomat { #gradient > .vertical(lighten(@diplomatLight, 15%), @diplomatLight); }
        .bar.protective { #gradient > .vertical(lighten(@protective, 15%), @protective); }

    }
}

// Heroclasses
//------------------------
span.action { color: @action; }
span.scientist { color: @scientist; }
span.diplomat { color: @diplomat; }
span.gadgeteer { color: @gadgeteer; }
span.protective { color: @protective; }


// Questboard, Postits
//------------------------
ul.questboard {
    list-style: none;
    margin: 0 0 0 -20px;
    li {
        margin: 0px 0px 20px 20px;
        float:left;

        .postit {
            width: 136px;
            height: 136px;
            padding: 7px 9px;
            word-wrap: break-word;
            //#gradient > .directional(@white, @grayLighter, 135deg);
            background: #f7f7ff;
            border: 3px solid @orange;
            text-decoration: none;
            color: @grayDark;

            display: block;
            position: relative;
            .box-shadow(-2px 2px 4px rgba(33,33,33,.4));
            .rotate(-6deg);
            .transition(transform .2s linear);
        }
        .postit.action { border-color: @action; h4 { color: @action; }}
        .postit.scientist { border-color: @scientist; h4 { color: @scientist; }}
        .postit.diplomat { border-color: @diplomat; h4 { color: @diplomat; }}
        .postit.gadgeteer { border-color: @gadgeteer; h4 { color: @gadgeteer; }}
        .postit.protective { border-color: @protective; h4 { color: @protective; }}

        &:nth-child(even) .postit { .rotate(4deg); top:5px;}
        &:nth-child(3n) .postit { .rotate(-3deg); top:-4px;}
        &:nth-child(4n) .postit { .rotate(-1deg); top:7px;}
        &:nth-child(5n) .postit { .rotate(5deg); top:-2px;}
        .postit:hover, .postit:active { .scale(1.25); z-index: 5; .box-shadow(-3px 3px 5px rgba(33,33,33,.4)); }
    }
}

// overflow fix for tab content (we want to see the postits)
.tab-content { overflow: visible; }

// Questboard on public home
.questboard.home {
    position: relative;
    li {
        .postit {
            position: absolute;
            top: 20px;
            left: 40px;
            background: url(../../static/img/stripes.png) 0 0 no-repeat scroll;
            background-size: 100%;
            text-align: center;
            img {
                max-width: 136px;
                max-height: 112px;
                position: absolute;
                bottom: 7px;
                left: 50%;
                margin-left: -65px;
            }
        }

        &:nth-child(even) .postit { top:-10px; left: 250px;}
        &:nth-child(3n) .postit { top:80px; left: 490px;}
        &:nth-child(4n) .postit { top:210px; left: 125px;}
        &:nth-child(5n) .postit { top:240px; left: 325px;}
    }
}

// Bootstrap specific fixes
// -----------------------

// Inputs in small Grid column FIX
.span3 .well{
    select,
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"],
    .uneditable-input {
        max-width: 171px;
    }
}
// well Divs
.well {
    margin-top: 6px;
}

// autocomplete light bootstrap FIX
.autocomplete_light_widget .autocomplete { margin-bottom: 0px; }
.autocomplete_light_widget .deck { padding-left: 0px; margin: 0; }
.autocomplete_light_widget .deck li { background: #f9f9fb; border: 1px solid #CCCCCC; border-radius: 3px 3px 3px 3px; color: #555555; display: inline-block; font-size: 13px; height: 18px; line-height: 18px; margin-bottom: 0px; padding: 4px 3px 4px 5px; width: 210px; -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset; }
.autocomplete_light_widget .deck li .remove { float: right; background-image: url("../bootstrap/img/glyphicons-halflings.png"); background-position: 14px 14px; background-repeat: no-repeat; display: inline-block; height: 14px; line-height: 14px; vertical-align: text-top; width: 14px; background-position: -312px 0; margin-right: 2px; }
.autocomplete_light_widget .deck li .remove:hover { background-position: -312px 0; }
.autocomplete_light_widget .yourlabs_autocomplete.inner_container { width: 221px; border-radius: 3px 3px 3px 3px; left: 0px; border: 1px solid #CCCCCC; }
.autocomplete_light_widget .yourlabs_autocomplete.inner_container ul { border-radius: 3px 3px 3px 3px; }


// Team Hints
// -----------------------
#team_hints {
    position: fixed;
    bottom: 0;
    left: 30%;
    background: @grayDark;
    a {
        margin: 2px 10px;
    }
}