// Icons
//------------------------

[class^="icon-yah"],
[class*=" icon-yah"] {
  margin: 0px 0px 0px 0px;
//  display: inline-block;
  width: 80px;
  height: 80px;
  vertical-align: middle;
  font-style: normal;
  font-family: 'Open Sans Condensed', sans-serif;
  font-variant: small-caps;
  white-space: nowrap;
  .ie7-restore-right-whitespace();
  background-image: url("../img/icons_80.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  span {
    left: 5px;
    position: relative;
    top: 62px;
    line-height:17px
  }
}

.icon-yah-home          { background-position: 0        0; }
.icon-yah-billboard     { background-position: -80px    0; }
.icon-yah-messages      { background-position: -160px   0; }
.icon-yah-calendar      { background-position: -240px   0; }
.icon-yah-new           { background-position: -320px   0; }
.icon-yah-my-quests     { background-position: -400px   0; }
.icon-yah-delete        { background-position: -480px   0; }
.icon-yah-edit          { background-position: -560px   0; }
.icon-yah-arrow         { background-position: -640px   0; }
.icon-yah-mail-all      { background-position: -720px   0; }
.icon-yah-time-short    { background-position: -800px   0; }
.icon-yah-time-middle   { background-position: -880px   0; }
.icon-yah-time-long     { background-position: -960px   0; }
.icon-yah-logout        { background-position: -1040px  0; }
.icon-yah-category      { background-position: -1120px  0; }
.icon-yah-distance      { background-position: -1200px  0; }
.icon-yah-social        { background-position: -1280px  0; }
.icon-yah-like          { background-position: -1360px  0; }
.icon-yah-upload        { background-position: -1440px  0; }
.icon-yah-ok            { background-position: -1520px  0; }
.icon-yah-ok-all        { background-position: -1600px  0; }
.icon-yah-mail          { background-position: -1680px  0; }

.icon-40 {
   width: 40px;
   height: 40px;

   line-height: 40px;
   background-image: url("../img/icons_40.png");
   span {
     left: 0px;
     top: 40px;

     vertical-align: top;
   }
   &.icon-yah-home          { background-position: 0        0; }
   &.icon-yah-billboard     { background-position: -40px    0; }
   &.icon-yah-messages      { background-position: -80px    0; }
   &.icon-yah-calendar      { background-position: -120px   0; }
   &.icon-yah-new           { background-position: -160px   0; }
   &.icon-yah-my-quests     { background-position: -200px   0; }
   &.icon-yah-delete        { background-position: -240px   0; }
   &.icon-yah-edit          { background-position: -280px   0; }
   &.icon-yah-arrow         { background-position: -320px   0; }
   &.icon-yah-mail-all      { background-position: -360px   0; }
   &.icon-yah-time-short    { background-position: -400px   0; }
   &.icon-yah-time-middle   { background-position: -440px   0; }
   &.icon-yah-time-long     { background-position: -480px   0; }
   &.icon-yah-logout        { background-position: -520px   0; }
   &.icon-yah-category      { background-position: -560px   0; }
   &.icon-yah-distance      { background-position: -600px   0; }
   &.icon-yah-social        { background-position: -640px   0; }
   &.icon-yah-like          { background-position: -680px   0; }
   &.icon-yah-upload        { background-position: -720px   0; }
   &.icon-yah-ok            { background-position: -760px   0; }
   &.icon-yah-ok-all        { background-position: -800px   0; }
   &.icon-yah-mail          { background-position: -840px   0; }
 }

.icon-30 {
  width: 30px;
  height: 30px;
  background-image: url("../img/icons_30.png");
  span {
    left: 0px;
    top: 30px;
  }
  &.icon-yah-home          { background-position: 0        0; }
  &.icon-yah-billboard     { background-position: -30px    0; }
  &.icon-yah-messages      { background-position: -60px    0; }
  &.icon-yah-calendar      { background-position: -90px    0; }
  &.icon-yah-new           { background-position: -120px   0; }
  &.icon-yah-my-quests     { background-position: -150px   0; }
  &.icon-yah-delete        { background-position: -180px   0; }
  &.icon-yah-edit          { background-position: -210px   0; }
  &.icon-yah-arrow         { background-position: -240px   0; }
  &.icon-yah-mail-all      { background-position: -270px   0; }
  &.icon-yah-time-short    { background-position: -300px   0; }
  &.icon-yah-time-middle   { background-position: -330px   0; }
  &.icon-yah-time-long     { background-position: -360px   0; }
  &.icon-yah-logout        { background-position: -390px   0; }
  &.icon-yah-category      { background-position: -420px   0; }
  &.icon-yah-distance      { background-position: -450px   0; }
  &.icon-yah-social        { background-position: -480px   0; }
  &.icon-yah-like          { background-position: -510px   0; }
  &.icon-yah-upload        { background-position: -540px   0; }
  &.icon-yah-ok            { background-position: -570px   0; }
  &.icon-yah-ok-all        { background-position: -600px   0; }
  &.icon-yah-mail          { background-position: -630px   0; }
}

.icon-20 {
  width: 20px;
  height: 20px;
  background-image: url("../img/icons_30.png");
  span {
    left: 0px;
    top: 20px;
  }
  &.icon-yah-home          { background-position: 0        0; }
  &.icon-yah-billboard     { background-position: -30px    0; }
  &.icon-yah-messages      { background-position: -60px    0; }
  &.icon-yah-calendar      { background-position: -90px    0; }
  &.icon-yah-new           { background-position: -120px   0; }
  &.icon-yah-my-quests     { background-position: -150px   0; }
  &.icon-yah-delete        { background-position: -180px   0; }
  &.icon-yah-edit          { background-position: -210px   0; }
  &.icon-yah-arrow         { background-position: -240px   0; }
  &.icon-yah-mail-all      { background-position: -270px   0; }
  &.icon-yah-time-short    { background-position: -300px   0; }
  &.icon-yah-time-middle   { background-position: -330px   0; }
  &.icon-yah-time-long     { background-position: -360px   0; }
  &.icon-yah-logout        { background-position: -390px   0; }
  &.icon-yah-category      { background-position: -420px   0; }
  &.icon-yah-distance      { background-position: -450px   0; }
  &.icon-yah-social        { background-position: -480px   0; }
  &.icon-yah-like          { background-position: -510px   0; }
  &.icon-yah-upload        { background-position: -540px   0; }
  &.icon-yah-ok            { background-position: -570px   0; }
  &.icon-yah-ok-all        { background-position: -600px   0; }
  &.icon-yah-mail          { background-position: -630px   0; }
}