// Grids

@import "../bootstrap/less/variables.less";
@import "../bootstrap/less/mixins.less";

@boxPaddingTop: 10px;
@boxPaddingRight: 10px;
@boxPaddingBottom: @boxPaddingTop;
@boxPaddingLeft: @boxPaddingRight;

@boxBtnTop: 6px;
@boxBtnRight: 13px;
@boxBtnBottom: @boxBtnTop;
@boxBtnLeft: @boxBtnRight;

@caretSize: 8px;
@caretColor: @grayDarker;

.span1-5  { width: (@gridColumnWidth * 1.5)}
.span2-25 { width: (@gridColumnWidth * 2.25) + @gridGutterWidth; }
.span2-5  { width: (@gridColumnWidth * 2.5)  + @gridGutterWidth; }
.span2-75 { width: (@gridColumnWidth * 2.75) + @gridGutterWidth; }
.span3-25 { width: (@gridColumnWidth * 3.25) + (@gridGutterWidth * 2); }
.span3-5  { width: (@gridColumnWidth * 3.5)  + (@gridGutterWidth * 2); }
.span3-75 { width: (@gridColumnWidth * 3.75) + (@gridGutterWidth * 2); }
.span4-25 { width: (@gridColumnWidth * 4.25) + (@gridGutterWidth * 3); }
.span4-5  { width: (@gridColumnWidth * 4.5)  + (@gridGutterWidth * 3); }
.span4-75 { width: (@gridColumnWidth * 4.75) + (@gridGutterWidth * 3); }


ul.grid {
  list-style: none;
  margin: 0 0 0 -20px;
  li {
    float: left;
    margin: 0px 0px 20px 20px;
  }
  .clearfix;
}

ul.small-grid {
  list-style: none;
  margin: 0 0 0 -10px;
  li {
    float: left;
    margin: 0px 0px 10px 10px;
  }
  .clearfix;
}

ul.menu-grid {
  li {
    background-color: @menuBackground;
    &.on,
    &:hover {
      background-color: @menuBackgroundHover;
      a { color: @linkColorHover; }
    }
    a { color: @linkColor; }
  }
  &.grid {
    li {
      a { color: @menuTextColor; }
      color: @menuTextColor;
      &.on,
      &:hover {
        a { color: @menuTextColorHover; }
      }
    }
  }
}

ul.box-grid li,
.box {
  background: @boxBackground;
  color: @boxTextColor;
  a {
    color:  @boxLinkColor;
    &:hover {
      color: @boxLinkColorHover;
    }
  }
  position: relative;
  padding: @boxPaddingTop @boxPaddingRight @boxPaddingBottom @boxPaddingLeft;
//  margin-bottom: 20px;
  &.mini  { width: 210px; }
  &.small   { width: 250px; }
  &.half   { width: 270px; }
  &.big   { width: 290px; }
  &.large   { width: 310px; }
  .clearfix;

  img {
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
  }

}

.inner-box {
  position: relative;
  .clearfix;
  margin-top: @boxBtnTop;
  margin-right: @boxBtnRight;
  margin-bottom: @boxBtnBottom;
}
.box-80 {
  width: 80px;
}



//.box-btn-top,
//.box-btn-bottom {
//  background: @boxIconBackground;
//  display: block;
//  border: 0px none;
//  padding: 0px;
//  position: absolute;
//  right: -@boxBtnRight;
//}
//.box-btn-top {
//  top: -@boxBtnTop;
//}
//
//.box-btn-bottom {
//  bottom: -@boxBtnBottom;
//
//}
//.box-btn-bottom + .box-btn-bottom,
//form + .box-btn-bottom{
//  right: 45px - @boxBtnRight;
//}

.box-header {
  margin-right: 30px;
}

// Horizontal Rule
hr {
  border: 0 none;
  margin: 10px 0;
}

.box {
  .box-buttons-top {
    position: relative;
    display: inline-block;
    float: right;
    margin-top: -(@boxBtnTop + @boxPaddingTop);
    margin-right: -(@boxBtnRight + @boxPaddingRight);
    margin-left: 10px;
    margin-bottom: 5px;
  }
  .box-buttons-bottom {
    position: relative;
    display: inline-block;
    float: right;
    margin-bottom: -(@boxBtnBottom + @boxPaddingBottom + 6px);
    margin-right: -(@boxBtnRight + @boxPaddingRight);
    margin-left: 10px;
    margin-top: 5px;
  }
  .box-buttons-top,
  .box-buttons-bottom {
    a, button, input {
      display: inline-block;
      background: @boxIconBackground;
      border: 0px none;
      padding: 0px;
    }
  }
  .caret {
    margin-left: 10px;
    margin-top: 4px;
    border-left-width:  @caretSize;
    border-right-width: @caretSize;
    border-top-width:   @caretSize;
    border-bottom: @caretSize solid @caretColor;
    border-top: 0;

  }
  .box-content {
    .clearfix;
  }
  &.collapsed {
    .box-content {
      display: none;
    }
    .caret {
      border-top: @caretSize solid @caretColor;
      border-bottom: 0;
    }
  }
}