Django==1.5.6
South==0.8.2
-e git://github.com/voidus/django-autocomplete-light.git@master#egg=django-autocomplete-light
django-crispy-forms==1.1.3
django-extensions==1.2.2
django-registration==1.0
easy-thumbnails==1.4
Pillow==2.2.1
-e git://github.com/alex/django-filter.git#egg=django-filter
geopy

django-activelink
django-like-button
pytz==2013b
docopt==0.6.1
