{% extends "herobase/layout/base.html" %}
{% load static %}
{% block page_title %}
    <h1>Welcome to a place where you can become a HERO!</h1>
{% endblock %}

{% block content %}
    <img class="pull-right einladungskarte" src="{% get_static_prefix %}img/einladungskarte.jpg" />
    <p>
        You are HERO ist ein Spiel in zwei Welten. In der <strong>Onlinewelt</strong> kreierst Du Dir einen
        Heldencharakter und sammelst Heldenpunkte indem Du Aufgaben oder Aufträge
        –sogenannte <strong>Quests</strong> – von unserer Pinnwand annimmst und erfüllst. Die große
        Herausforderung ist dabei, dass Du diese Quests im <strong>realen Leben bewältigen</strong> musst. You
        are HERO -Quests können alles Mögliche beinhalten, von kleineren Alltagsproblemen bis
        zur Rettung der Menschheit. Jeder Held kann innerhalb der You are HERO-Plattform die
        angebotenen Quests annehmen, aber auch selbst welche einstellen. Die einzige Regel
        lautet: Die Erfüllung der Quests darf die Helden kein Geld kosten, denn You are HERO ist
        Open-Source, <strong>frei und kostenlos</strong> für jeden, der etwas zum Allgemeinwohl beitragen möchte
        – egal wie groß oder klein diese Allgemeinheit auch sein mag. Das Ziel des Spiels ist
        schließlich ganz einfach: Nicht nur reden, sondern handeln – also rettet die Welt.
    </p>
    <p>
        Wenn Du bereits über ausreichende Helden-Skills in Form von Programmieren,
        Designen, Spielen, Texten oder Denken verfügst bist Du natürlich herzlich willkommen dem
        Headquarter der Superhelden beizutreten. Melde Dich einfach bei greta@youarehero.net
        und finde heraus, wie Du Deine Helden-Skills noch weiter ausbauen kannst!
    </p>
{%  endblock %}