{% extends "herobase/layout/base.html" %}
{% load i18n hero_message static %}

{% block background %}
    <div class="background-arg"></div>
{% endblock %}

{% block title %}
    Held Sein
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="box">
      <iframe width="800" height="467" src="http://youtube.com/embed/aZB5wuXGwGU?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class="row centering">
  <div class="linkbox">
      <a href="#">
        <i class="icon-yah-hand-right"></i>
        <span class="small">
          Spielanleitung<br/>Alternate Reality Games
        </span>
        <i class="icon-yah-hand-left"></i>
      </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="linkbox hfill">
      <a href="#">
        <span class="small">ARG Quests</span>
        <br/><i class="icon-yah-hand-down small"></i>
      </a>
    </div>
  </div>
</div>

<div class="arg-quests js-masonry"
      data-masonry-options='{ "columnWidth": 160, "itemSelector": ".arg-quest"}'>
      <div><div class="arg-quest unannounced"><i class="icon-yah-question-mark"></i></div></div>
      <div><div class="arg-quest unannounced"><i class="icon-yah-question-mark"></i></div></div>
      <div><div class="arg-quest unannounced"><i class="icon-yah-question-mark"></i></div></div>
      <div><div class="arg-quest unannounced"><i class="icon-yah-question-mark"></i></div></div>
      <div><div class="arg-quest unannounced"><i class="icon-yah-question-mark"></i></div></div>
      <div><div class="arg-quest unannounced large"><i class="icon-yah-question-mark"></i></div></div>
      <div><div class="arg-quest unannounced"><i class="icon-yah-question-mark"></i></div></div>
      <div><div class="arg-quest unannounced"><i class="icon-yah-question-mark"></i></div></div>
      <div><div class="arg-quest unannounced"><i class="icon-yah-question-mark"></i></div></div>
      <div><div class="arg-quest unannounced"><i class="icon-yah-question-mark"></i></div></div>
      <div><div class="arg-quest unannounced large"><i class="icon-yah-question-mark"></i></div></div>
      <div><div class="arg-quest unannounced"><i class="icon-yah-question-mark"></i></div></div>
      <div><div class="arg-quest unannounced"><i class="icon-yah-question-mark"></i></div></div>
      <div><div class="arg-quest unannounced"><i class="icon-yah-question-mark"></i></div></div>
</div>
{% endblock %}

{% block javascript %}
 <script src="{% get_static_prefix %}js/masonry.pkgd.min.js"></script>
{% endblock %}

