{% extends "herobase/layout/base.html" %}
{% load i18n hero_message static %}

{% block background %}
    <div class="background-arg"></div>
{% endblock %}

{% block title %}
    Held Sein
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="box">
      <iframe width="800" height="377" src="http://youtube.com/embed/aZB5wuXGwGU?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class="row centering">
  <div class="linkbox">
      <a href="#">
        <i class="icon-yah-hand-right"></i>
        <span class="small">
          Spielanleitung<br/>Alternate Reality Games
        </span>
        <i class="icon-yah-hand-left"></i>
      </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="linkbox hfill">
      <a href="#quests" name="quests">
        <span class="small">ARG Quests</span>
        <br/><i class="icon-yah-hand-down small"></i>
      </a>
    </div>
  </div>
</div>

<div class="arg-quests js-masonry"
      data-masonry-options='{ "columnWidth": 162, "itemSelector": ".arg-quest"}'>
      <div><div class="arg-quest unannounced"><i class="icon-yah-question-mark"></i></div></div>
      <div><div class="arg-quest unannounced"><i class="icon-yah-question-mark"></i></div></div>
      <div><div class="arg-quest unannounced"><i class="icon-yah-question-mark"></i></div></div>
      <div><div class="arg-quest unannounced"><i class="icon-yah-question-mark"></i></div></div>
      <div><div class="arg-quest unannounced"><i class="icon-yah-question-mark"></i></div></div>
      <div><div class="arg-quest unannounced large"><i class="icon-yah-question-mark"></i></div></div>
      <div><div class="arg-quest unannounced"><i class="icon-yah-question-mark"></i></div></div>
      <div><div class="arg-quest unannounced"><i class="icon-yah-question-mark"></i></div></div>
      <div><div class="arg-quest unannounced"><i class="icon-yah-question-mark"></i></div></div>
      <div><div class="arg-quest unannounced"><i class="icon-yah-question-mark"></i></div></div>
      <div><div class="arg-quest unannounced large"><i class="icon-yah-question-mark"></i></div></div>
      <div><div class="arg-quest unannounced"><i class="icon-yah-question-mark"></i></div></div>
      <div><div class="arg-quest unannounced"><i class="icon-yah-question-mark"></i></div></div>
      <div><div class="arg-quest unannounced"><i class="icon-yah-question-mark"></i></div></div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="box centering">
      <h1>Helden stellen sich vor</h1>
      <h4>4 Wochenenden / 4 Themen</h4>
      <h4>28.9.-26.10.</h4>
    </div>
  </div>
</div>

<div class="arg-agenda">
  <div class="col-md-4">
    <div class="info">
      <i class="icon-yah-hand-right"></i>
      <p>
        Damit ihr Anonyma nicht ohne Training gegenübertreten müsst, werden wir Euch neue Kräfte verleihen.  An vier
        Wochenenden habt ihr die Chacne, Eure Heldenkräfte zu trainieren, Tipps zu erhalten und Euch auf ein Dasein als
        Superheld vorzubereiten, während Ihr unter der Woche nach Hinweisen und Spuren über den Verbleib der Schurkin
        Anonyma sucht.
      </p>
    </div>
    <div class="hero-box trashley">
        <div class="background"></div>
        <div class="text">
          <h3>Trashley Treasure</h3>
          Man erzählt sich, ihre Mutter sei eine Nähmaschine und ihr Vater eine Pyrolyseanlage. An ihrem
          Wochenende wird der Mülleimer wieder leer und der Kleiderschrank voll.
        </div>
    </div>
  </div>

  <div class="col-md-4">
      <div class="hero-box glitch">
          <div class="background"></div>
          <div class="text">
            <h3>The Glitch</h3>
            Das Internet? Computer? Panik? The Glitch ist ein Hacker. Er ist aber auch lieb zu seinen Nachbarn.
            Sein Wochenende ist freie Information.
          </div>
      </div>
  </div>
  <div class="col-md-4">
    <div class="hero-box citizeng">
      <div class="background"></div>
      <div class="text">
        <h3>Citizen G</h3>
        Er beweist, dass man auch ohne schottische Ahnen Schotte sein kann; oder eben, was und wann immer man
        sein möchte. Hier geht es um interkulturellen Austausch und Röcke.
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="hero-box maitre">
      <div class="background"></div>
      <div class="text">
        <h3>Ma&icirc;tre</h3>
        Er beweist, dass man auch ohne schottische Ahnen Schotte sein kann; oder eben, was und wann immer man
        sein möchte. Hier geht es um interkulturellen Austausch und Röcke.
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block javascript %}
 <script src="{% get_static_prefix %}js/masonry.pkgd.min.js"></script>
{% endblock %}

