{% extends "herobase/layout/base.html" %}
{% load i18n hero_message static %}
{% load url from future %}

{% block background %}
    <div class="background-arg"></div>
{% endblock %}

{% block title %}
    Held Sein
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="box">
      <iframe width="800" height="467" src="//www.youtube.com/embed/Q5IfsqWQJC8?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class="row centering">
  <div class="linkbox col-sm-8 col-sm-offset-2">
  <a href="{% url "help" %}">
        <i class="icon-yah-hand-right"></i>
        <span class="small">{% trans "Spielanleitung<br/>Alternate Reality Games" %}</span>
        <i class="icon-yah-hand-left"></i>
      </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="linkbox hfill">
      <a href="#quests" name="quests">
        <span class="small">{% trans "ARG Quests" %}</span>
        <br/><i class="icon-yah-hand-down small"></i>
      </a>
    </div>
  </div>
</div>

<div class="arg-quests js-masonry"
      data-masonry-options='{ "columnWidth": 162, "itemSelector": ".arg-quest"}'>
      <div><div class="arg-quest">
        <a href="/quest/160">
          <i class="icon-puzzle-piece"></i>
          <h1>Der Zeitstopper</h1>
          <i class="icon-yah-exclamation-mark"></i>
        </a>
      </div></div>
      <div><div class="arg-quest done">
        <a href="/quest/161">
          <i class="icon-puzzle-piece"></i>
          <h1>Spannung auf dem Ludwigsplatz</h1>
          <i class="icon-ok"></i>
        </a>
      </div></div>
      <div><div class="arg-quest">
        <a href="/quest/162">
          <i class="icon-puzzle-piece"></i>
          <h1>Helden-caching</h1>
          <i class="icon-yah-exclamation-mark"></i>
        </a>
      </div></div>
      <div><div class="arg-quest">
        <a href="/quest/165">
          <i class="icon-puzzle-piece"></i>
          <h1>Der Tracker - Anomalie</h1>
          <i class="icon-ok"></i>
        </a>
      </div></div>
      <div><div class="arg-quest">
        <a href="/quest/168">
          <i class="icon-puzzle-piece"></i>
          <h1>Der Bote</h1>
          <i class="icon-ok"></i>
        </a>
      </div></div>

      <div><div class="arg-quest large" style="background: url('../static/img/grit.jpg') 0 -50px no-repeat">
          <a href="http://www.flickr.com/photos/youarehero/sets/72157636153328183/">
              <h1>Trash & Treasure</h1>
              <i class="icon-ok"></i>
          </a>
      </div></div>
      <div><div class="arg-quest">
        <a href="/quest/177">
          <i class="icon-puzzle-piece"></i>
          <h1>Heldenschlonz</h1>
          <i class="icon-ok"></i>
        </a>
      </div></div>
      <div><div class="arg-quest">
        <a href="/quest/176">
          <i class="icon-puzzle-piece"></i>
          <h1>Zahlensender</h1>
          <i class="icon-yah-exclamation-mark"></i>
        </a>
      </div></div>
      <div><div class="arg-quest">
        <a href="/quest/195">
          <i class="icon-puzzle-piece"></i>
          <h1>Das Paket</h1>
          <i class="icon-yah-exclamation-mark"></i>
        </a>
      </div></div>
      <div><div class="arg-quest unannounced"><i class="icon-yah-question-mark"></i></div></div>
      <div><div class="arg-quest large" style="background: url('../static/img/Pachi-Attack.JPG')no-repeat">
          <a href="http://www.flickr.com/photos/youarehero/sets/72157636633003415/">
              <h1>Swords & Kilts</h1>
              <i class="icon-ok"></i>
          </a>
      </div></div>
      <div><div class="arg-quest unannounced"><i class="icon-yah-question-mark"></i></div></div>
      <div><div class="arg-quest unannounced"><i class="icon-yah-question-mark"></i></div></div>
      <div><div class="arg-quest unannounced"><i class="icon-yah-question-mark"></i></div></div>
</div>
<div class="row">
  <div class="col-md-12 centering">
    <div class="linkbox col-sm-10 col-sm-offset-1">
        <a href="/forums">
            <i class="icon-yah-hand-right"></i>
            <span>{% trans "Gemeinschaft" %}</span>
            <i class="icon-yah-hand-left"></i>
        </a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="box centering">
      <h1>{% trans "Helden stellen sich vor" %}</h1>
      <h4>{% trans "4 Wochenenden / 4 Themen" %}</h4>
      <h4>{% trans "28.9.-26.10." %}</h4>
    </div>
  </div>
</div>

<div class="arg-agenda">
  <div class="col-md-4">
    <div class="info">
      <i class="icon-yah-hand-right"></i>
      <p>
        {% blocktrans %}
        Damit ihr Anonyma nicht ohne Training gegenübertreten müsst, werden wir euch neue
          Kräfte verleihen.  An vier
        Wochenenden habt ihr die Chance, eure Heldenkräfte zu trainieren, Tipps zu erhalten
          und euch auf ein Dasein als
        Superheld vorzubereiten, während ihr unter der Woche nach Hinweisen und Spuren
          über den Verbleib der Schurkin
        Anonyma sucht.
        {% endblocktrans %}
      </p>
    </div>
  </div>

  {% if not request.user.is_authenticated %}
  <div class="col-md-8 centering">
    <div class="linkbox col-md-8 col-md-offset-1">
        <a href="{% url "registration_register" %}">
            <i class="icon-yah-hand-right"></i>
            <span>{% trans "Registrieren" %}</span>
            <i class="icon-yah-hand-left"></i>
        </a>
    </div>
  </div>
  {% else %}
  <div class="col-md-4">
    <div class="hero-box trashley">

        <div class="background">
            <a style="display: inline-block; height:100%; width:100%" href="https://www.youtube.com/watch?v=3Qlyv0TtBLw&list=PL-l5UIcgDrFIPR9XtOdJWoIgb-I7goApy"></a>
        </div>
      <div class="text">
        <h1>Trashley Treasure</h1>
        <h2>28./29. September</h2>
        <p>
        Man erzählt sich, ihre Mutter sei eine Nähmaschine und ihr Vater eine Pyrolyseanlage. An ihrem
        Wochenende wird der Mülleimer wieder leer und der Kleiderschrank voll.
        </p>
        <p>
        <h3>Samstag, 28.9.</h3>
        HfG Karlsruhe, Lichthöfe
        </p>
        <p>10:00       <br/> Treffen, kurze Einführung</p>
        <p>10:30       <br/> Recycling, was bedeutet das genau? (Vortrag)</p>
        <p>11:00       <br/> Videovortrag</p>
        <p>12:00-13:30 <br/> Mittagspause</p>
        <p>13:30-19:00 <br/> Aus Müll mach Mode! (Workshop)</p>

        <p>
        <h3>Sonntag, 29.9</h3>
        HfG Karlsruhe, Lichthöfe
        </p>
        <p>11:00 <br/> Streetart und was es noch so alles gibt Vortrag</p>
        <p>12:00 <br/> … und ab in die Stadt (Workshop)</p>
        <p>16:00 <br/> Ende</p>
      </div>
    </div>
    <div class="hero-box citizeng">
      <div class="background"></div>
      <div class="text">
        <h1>Citizen G</h1>
        <h2>12./13. Oktober</h2>
        Er beweist, dass man auch ohne schottische Ahnen Schotte sein kann; oder eben, was und wann immer man
        sein möchte. Hier geht es um interkulturellen Austausch und Röcke.
        <p>
        <h3>Samstag, 12.10.</h3>
        Innenstadt Karlsruhe,
        bei Regen HfG Karlsruhe
        </p>
        <p>11:00 <br/> Intercultural Scrabble (Workshop)</p>
        <p>
        13:30 <br/> Schnupperkurse mit Hand und Fuß:<br>
        – Französisch für Liebhaber<br>
        – Isländisch für Vikinger<br>
        – Spanisch für Leidenschaftliche
        </p>
        <p>16:00 <br/> Der globale Held (Diskussionsforum)</p>

        <p>
        <h3>Sonntag, 13.10.</h3>
        Schloßgarten Karlsruhe,
        bei Regen HfG Karlsruhe
        </p>
        <p>11:00 <br/> Live Action Roleplaying – LARP und sein kultureller Bezug (Vortrag)</p>
        <p>13:00 <br/> Schwertkampf in Praxis und Theorie (Einführungslehrstunde)</p>
        <p>16:00 <br/> HIGHLAND-CHARGE – Die Schotten sind los</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="hero-box glitch">
        <div class="background"></div>
        <div class="text">
          <h1>The Glitch</h1>
          <h2>5./6. Oktober</h2>
          Das Internet? Computer? Panik? The Glitch ist ein Hacker. Er ist aber auch lieb zu seinen Nachbarn.
          Sein Wochenende ist freie Information.
          <p>
          <h3>Samstag, 5.10.</h3>
          HfG Karlsruhe, Lichthöfe
          </p>
          <p>10:00 <br/> Treffen, kurze Einführung</p>
          <p>10:30 <br/> Software &amp; Space (Vortrag)</p>
          <p>11:00 <br/> Hilfe, mein Computer hasst mich! (Workshop)</p>
          <p>12:00-13:30 <br/> Mittagspause</p>
          <p>13:30 <br/> Wir machen Spiele 1/2 (Workshop)</p>
          <p>15:00 <br/> Neue Spielkulturen (Vortrag)</p>
          <p>15:30-9:00 <br/> Wir machen Spiele 2/2 (Workshop)</p>

          <p>
          <h3>Sonntag, 6.10.</h3>
          HfG Karlsruhe, Lichthöfe
          </p>
          <p>11:00 <br/> Datenschutz: Was &amp; Warum? (Vortrag)</p>
          <p>12:00-13:00 <br/> Mittagspause</p>
          <p>13:00 <br/> Lockpicking (Workshop)</p>
          <p>13:00 <br/> Projekte mit Open Source Programmen: Einführung (Workshop)</p>
        </div>
    </div>
    <div class="hero-box maitre">
      <div class="background"></div>
      <div class="text">
        <h1>Ma&icirc;tre</h1>
        <h2>19./20. Oktober</h2>
        Gelangweilt vom Essen, begann er zu kochen. Er setzt sich ein für all die entrechteten Zutaten und weist ihnen
        einen Platz zu, in seinem Kochtopf. An diesem Wochenende geht es um die Sicherung unserer Ernährung.
        <p>
        <h3>Samstag, 19.10.</h3>
        HfG Karlsruhe, Lichthöfe
        </p>
        <p>10:00 <br/> Biowahn – Wo beginnt er, wo endet er? (Vortrag)</p>
        <p>11:00 <br/> Schnitzeljagd – Urbaner Speiseplan (Workshop)</p>
        <p>14:30 <br/> gemeinsames Kochen und Mittagessen<br/>
        anschließend: Gesprächsrunde mit "Tischlein deck dich"</p>
        <p>
        </h3>Sonntag, 20.10.<//h3>
        HfG Karlsruhe, Lichthöfe
        </p>
        <p>11:00 <br/> Containern Was ist verdorben und was nicht?</p>
        <p>13:00 <br/> Ein Pop-Up Restaurant an einem Tag gebaut (Workshop)</p>
      </div>
    </div>
  </div>
  {% endif %}
</div>

{% endblock %}

{% block javascript %}
 <script src="{% get_static_prefix %}js/masonry.pkgd.min.js"></script>
{% endblock %}

