{% load static %}
<div class="row vertical-offset" style="position: relative;">
  <div class="col-md-12">
    <div class="box-image">
      <div class="image" style="background-image: url({% get_static_prefix %}img/kitten.png);"></div>
      <h1 class="header">Die Schlagzeile</h1>
      <p class="text">
      Lorem ipsum6px Ferrovidit asi doluptati conessitis iligenecat
      voluptur ant, simeniste
      porere perrovidem ad que
      veles nobitatem explam
      volorit que magni nullist
      iaspit del magnient.
      Ibus, incidus dollut aditasitas dolorro iliquis mos es
      aborepe liquod ullaccate
      peria dolorum asimoditiis
      dolor simus eos explantu-
      me minulla cearionsedit
      </p>
      {% if not request.user.is_authenticated %}
      <div class="box-floating">
        <h1>Helden<br/>bedarf</h1>
        <p>Erfahre mehr und registriere dich jetzt</p>
        <div class="box-footer icon-yah-hand-down icon-2x"></div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
