{% load i18n static %}
{% load activelink %}
<div id="butler">
    <a href="#butler-bubble" role="button" data-toggle="modal">
        <img id="butler-image" src="{% get_static_prefix %}img/butler.png" alt="Butler">
    </a>

    <div id="butler-bubble" class="modal hide fade">
{#        <div class="modal-header">#}
{##}
{#        </div>#}
{#        <div class="modal-body box">#}
            <a href="#" class="iconbg pull-right" data-dismiss="modal" aria-hidden="true"><i class="icon-yah-x icon-30"></i></a>
            <div class="bubble-line"></div>
            {% if butler_text %}
                <p>{{ butler_text }}</p>
            {% else %}
                <p>{{ butler_default_text }}</p>
            {% endif %}
{#        </div>#}
{#        <div class="modal-footer">#}
{##}
{#        </div>#}
    </div>
</div>