{% load i18n static %}
<div id="butler">
    <a href="#butler-bubble" role="button" data-toggle="modal">
        <img id="butler-image" src="{% get_static_prefix %}img/butler.png" alt="Butler">
    </a>

    <div id="butler-bubble" class="modal hide fade">
        <div class="modal-header">

        </div>
        <div class="modal-body box">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <p>Wollen Sie mich ärgern, sir?</p>
        </div>
        <div class="modal-footer">

        </div>
    </div>
</div>