{% extends "herobase/layout/base.html" %}

{% block page_title %}
    <h1>Impressum</h1>
{% endblock %}

{% block content %}
    <div class="box">
        <h1>Credits</h1>
        <h4>Projektleitung</h4>
        <ul>
            <li>Greta Hoffmann</li>
        </ul>
        <h4>Programmierung</h4>
        <ul>
            <li>Raphael Kimmig</li>
            <li>Simon Kohlmeyer</li>
            <li>Hannes Wächter</li>
            <li>Patrick Müller</li>
            <li>Niklas Plessing</li>
        </ul>
        <h4>Forum & Wiki</h4>
        <ul>
            <li>Brice Clocher</li>
        </ul>
        <h4>Blog</h4>
        <ul>
            <li>Benedikt Morschheuser</li>
            <li>Eva Nitsche</li>
        </ul>
        <h4>Grafikdesign/Gestaltung</h4>
        <ul>
            <li>Damian Domes - www.damiandomes.de</li>
        </ul>
        <h4>Illustration</h4>
        <ul>
            <li>Greta Hoffmann</li>
            <li>Sebastian Finzenhagen</li>
        </ul>
        <h4>Gamedesign & Content</h4>
        <ul>
            <li>Greta Hoffmann</li>
            <li>Brice Clocher</li>
        </ul>
        <h4>Helden</h4>
        <ul>
            <li>geheim</li>
        </ul>
        <h4>Presse, Content und Organisation</h4>
        <ul>
            <li>Sabine Scharff</li>
        </ul>
        <h4>Besonderer Dank an</h4>
        <ul>
            <li>Andreas Goralczyk</li>
            <li>Eva Franz</li>
            <li>Carola Lingelbach</li>
            <li>Antje Günther</li>
            <li>Grit Werner</li>
            <li>Felix Kalka</li>
            <li>Gregor Belogour</li>
            <li>Immanuel Janicky</li>
            <li>Denis Krämer</li>
            <li>Anna Lukasik</li>
            <li>Malte Pawelcek</li>
            <li>Michael Bielicky</li>
            <li>Juli Foos</li>
            <li>Martin Buntz</li>
        </ul>
    </div>

{% endblock %}