{% extends "herobase/layout/base.html" %}

{% block page_title %}
    <h1>Impressum</h1>
{% endblock %}

{% block content %}
    <div class="box">
        <h1>Credits</h1>
        <div class="row">
            <div class="col-sm-6">
                <h2>Projektleitung</h2>
                <ul>
                    <li>Greta Hoffmann</li>
                </ul>
                <h2>Programmierung</h2>
                <ul>
                    <li>Patrick Müller</li>
                    <li>Raphael Kimmig</li>
                    <li>Simon Kohlmeyer</li>
                    <li>Niklas Plessing</li>
                    <li>Hannes Wächter</li>
                </ul>
                <h2>Blog</h2>
                <ul>
                    <li>Benedikt Morschheuser</li>
                    <li>Eva Nitsche</li>
                </ul>
                <h2>Grafikdesign/Gestaltung</h2>
                <ul>
                    <li>Damian Domes - www.damiandomes.de</li>
                </ul>
                <h2>Illustration</h2>
                <ul>
                    <li>Sebastian Finzenhagen</li>
                    <li>Greta Hoffmann</li>
                </ul>
            </div>
            <div class="col-sm-6">
                <h2>Gamedesign & Content</h2>
                <ul>
                    <li>Brice Clocher</li>
                    <li>Greta Hoffmann</li>
                </ul>
                <h2>Helden</h2>
                <ul>
                    <li>Geheim</li>
                </ul>
                <h2>Presse, Content und Organisation</h2>
                <ul>
                    <li>Sabine Scharff</li>
                </ul>
                <h2>Besonderer Dank an</h2>
                <ul>
                    <li>Gregor Belogour</li>
                    <li>Michael Bielicky</li>
                    <li>David Bruchmann</li>
                    <li>Martin Buntz</li>
                    <li>Antje DiFoglio</li>
                    <li>Julia Emmler</li>
                    <li>Juli Foos</li>
                    <li>Eva Franz</li>
                    <li>Hannes Gerlach</li>
                    <li>Andreas Goralczyk</li>
                    <li>Hochschule für Gestaltung Karlsruhe</li>
                    <li>Immanuel Janicky</li>
                    <li>Felix Kalka</li>
                    <li>Yps Knauber</li>
                    <li>Denis Krämer</li>
                    <li>Carola Lingelbach</li>
                    <li>Anna Lukasik</li>
                    <li>Vivian Maas</li>
                    <li>Malte Pawelcek</li>
                    <li>Juan Pedraza Kranz</li>
                    <li>Minne Reijnders</li>
                    <li>Stadt Karlsruhe</li>
                    <li>Grit Werner</li>
                </ul>
                <h2>Sound and music</h2>
                <ul>
                    <li>Uses samples from 833-45 on <a href="freesound.org">freesound.org</a></li>
                    <li>Uses samples from Gorky173 on <a href="freesound.org">freesound.org</a></li>
                    <li>Uses samples from ERH on <a href="freesound.org">freesound.org</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}