{% extends "herobase/layout/base.html" %}

{% load i18n %}

{% block page_title %}
    <h1>{% trans "Imprint" %}</h1>
{% endblock %}

{% block content %}
    <div class="box">
        <h1>{% trans "Credits" %}</h1>
        <div class="row">
            <div class="col-sm-6">
                <h2>{% trans "Project lead" %}</h2>
                <ul>
                    <li>Greta Hoffmann</li>
                </ul>
                <h2>{% trans "Programming" %}</h2>
                <ul>
                    <li>Raphael Kimmig</li>
                    <li>Simon Kohlmeyer</li>
                    <li>Hannes Wächter</li>
                    <li>Patrick Müller</li>
                    <li>Niklas Plessing</li>
                </ul>
                <h2>{% trans "Blog" %}</h2>
                <ul>
                    <li>Benedikt Morschheuser</li>
                    <li>Eva Nitsche</li>
                </ul>
                <h2>{% trans "Graphicdesign/composition" %}</h2>
                <ul>
                    <li>Damian Domes - www.damiandomes.de</li>
                </ul>
                <h2>{% trans "Illustration" %}</h2>
                <ul>
                    <li>Greta Hoffmann</li>
                    <li>Sebastian Finzenhagen</li>
                </ul>
            </div>
            <div class="col-sm-6">
                <h2>{% trans "Gamedesign & Content" %}</h2>
                <ul>
                    <li>Greta Hoffmann</li>
                    <li>Brice Clocher</li>
                </ul>
                <h2>{% trans "Heroes" %}</h2>
                <ul>
                    <li>geheim</li>
                </ul>
                <h2>{% trans "Press, content and organisation" %}</h2>
                <ul>
                    <li>Sabine Scharff</li>
                </ul>
                <h2>{% trans "Special thanks to" %}</h2>
                <ul>
                    <li>Andreas Goralczyk</li>
                    <li>Eva Franz</li>
                    <li>Carola Lingelbach</li>
                    <li>Antje Günther</li>
                    <li>Grit Werner</li>
                    <li>Felix Kalka</li>
                    <li>Gregor Belogour</li>
                    <li>Immanuel Janicky</li>
                    <li>Denis Krämer</li>
                    <li>Anna Lukasik</li>
                    <li>Malte Pawelcek</li>
                    <li>Michael Bielicky</li>
                    <li>Juli Foos</li>
                    <li>Martin Buntz</li>
                </ul>
                <h2>{% trans "Sound and music" %}</h2>
                <ul>
                    <li>Uses samples from 833-45 on <a href="freesound.org">freesound.org</a></li>
                    <li>Uses samples from Gorky173 on <a href="freesound.org">freesound.org</a></li>
                    <li>Uses samples from ERH on <a href="freesound.org">freesound.org</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
