{% extends "herobase/layout/base.html" %}
{% load i18n %}

{% block content %}
<div class="box">
    <h1>{% trans "Important usage hints for you are hero" %}</h1>
    <div class="row">
        <div class="col-sm-6">
            <h2>{% trans "General:" %}</h2>
            <p>
            {% blocktrans %}            Quests, whose fulfillment criterias are bound to money or other goods violate the principles of you are hero.
			 An example: If you are being offered, while fulfilling your Quest, some snacks or something to drink, this is no problem at all. 
			 Whereas a quest, whre you are being offered food and drink in exchange, this goes against the ethic of you are hero. 
			 These kinds of violations should be reported to info@youarehero.net.Should you get doubts about the integrity of a players participation, 
			 please inform us as soon as possible at info@youarehero.net. Should you are hero receive a complaint or a message, 
			 that questions your legitimity or identity at your application, fulfillment or set up of quests, you are hero ventures to 
			 get into personal contact with you, deleting your quests p.r.n. or to even delete your profile. Should you choose to exchange 
			 data with a questgiver or -taker in the process of communication, please treat it with the utmost discretion and confidentiality.{% endblocktrans %}
            </p>
        </div>
        <div class="col-sm-6">
            <h2>{%  trans "Youth protection:" %}</h2>

            <p>
            {% blocktrans %}Generally the registration on www.youarehero.net, as well as the participation at you are hero-actions only allowed starting the age of 15. Users below the age of 18 can only fulfill quests that can’t be done from a computer with consent of their parents. Users below the age of 18 can´t and are not allowed to post quests on the platform.{% endblocktrans %}
            </p>

            <h2>{% trans "Application and acceptance of quests:" %}</h2>

            <p>
            {% blocktrans %}Please think carefully about accepting a quest and take it seriously. Some quests demand a high level of sensibility for the respective situation (e.g. in the dealings with sick or weak people). Please inform yourself beforehand and sufficiently about the demanded requirements. Should any question towards an application appear, do not baulk to contact the quest provider.{% endblocktrans %}
            </p>


            <h2>{% trans "Posting and assignment of quests:" %}</h2>

            <p>
            {% blocktrans %}With the assignment of a quest you enlist yourself to not abuse quest takers for dishonest means but act in the sense of the common good. If you decide to give a quest to an underage, you are encouraged to ask for a consent of legal guardians. See also youth protection. Quest providers accept full responsibility for the procedure of the quest fulfillment. you are hero is not taking responisbility for this.{% endblocktrans %}
            </p>
        </div>
    </div>
</div>
{%  endblock %}
