{% load static i18n %}
<div id="header" class="row">
    <div class="span3">
        <a href="{% url home %}">
            <img id="logo" src="{% get_static_prefix %}/img/logo.png" alt="You Are Hero">
        </a>
    </div>
    <div class="span9 header">
        <div class="submenu">
            {% block submenu %}&nbsp;{% endblock %}
        </div>
        <div class="submenu usermenu">
            {% include "herobase/usermenu.inc.html" %}
        </div>
    </div>
</div>

<div id="menu" class="row">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav">
                    <li>
                        <a href="{% url home %}"><i class="icon-custom-home"></i></a>
                    </li>
                    <li>
                        <a href="{% url home %}"><i class="icon-custom-quest"></i></a>
                    </li>
                    <li>
                        <a href="{% url home %}"><i class="icon-custom-profil"></i></a>
                    </li>
                    <li>
                        <a href="{% url home %}"><i class="icon-custom-stats"></i></a>
                    </li>
                    <li>
                        <a href="{% url home %}"><i class="icon-custom-leader"></i></a>
                    </li>
                    <li>
                        <a href="{% url home %}"><i class="icon-custom-mail"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>