{% extends "herobase/layout/base.html" %}
{% load i18n hero_message static %}
{% load url from future %}

{% block title %}
    you are hero - {% trans "Help" %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <div class="box">
      <h1>{% trans "Rules for the Alternate Reality Game" %}</h1>
      <p>
      {% blocktrans %}This game is no ordinary game: it’s an “alternate reality game”. That means that the story of Anonyma happens “for real” in the city of Karlsruhe, and all the players are acting like if they were “real” heroes. This is a fun, but also kind of new game, so here are some basic rules that explain it clearly!{% endblocktrans %}
      </p>

      <h2>1) {% trans "Collaborate." %}</h2>
      <p>
      {% blocktrans %}When quests become mentally or physically challenging, heroes rely on teamwork and community. Don’t be shy; interacting with fellow players can be the best part of the game! So go and check out the forums.{% endblocktrans %}
      </p>

      <h2>2) {% trans "Share." %}</h2>
      <p>
      {% blocktrans %}If you find a piece of information, or even if you get a fresh idea about a quest, don’t keep it to yourself! Remember that all heroes are allies against Anonyma and the other villains. There is no single winner in the end, so just share what you’ve got on the forums or the hero wiki!{% endblocktrans %}
      </p>

      <h2>3) {% trans "Go out." %}</h2>
      <p>
      {% blocktrans %}At some point, quests will take heroes out there in the world. Whether it is to look for important clues, or to perform heroic actions, remember to obey elementary safety measures. Heroes too can get hurt.{% endblocktrans %}
      </p>

      <h2>4) {% trans "Persevere (Think out of the box)." %}</h2>
      <p>
      {% blocktrans %}When quests require them to do things they never have done - or even heard of - before, true heroes don’t give up. Even if the task is seamingly impossible. Sometimes, it’s just a matter of perspective. So, be resourceful, imaginative and persistent. And don’t forget to play with your friends and fellow heroes!{% endblocktrans %}
      </p>

      <p>
      {% url 'hotline' as hotline_url %}
      {% blocktrans %}
      In case of great need, the community will be able to turn to the elder heroes        <a href="{{hotline_url}}">for advice.</a>
        {% endblocktrans %}
      </p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="box">

      <h1>{% trans "How does you are hero work?" %}</h1>
      <div>
        <h2><i class="icon-caret-down"></i> {% trans "Manage the profile" %}</h2>
        <p>
        {% blocktrans %}
If you want to manage your profile click on the symbol with the cog on the upper right of the page, change whatever needs changing and complete the process by clicking on the red button with the tick on the lower part of the page.Your actions are thereby being saved and immediately depicted according to the changes you made.{% endblocktrans %}
        </p>
      </div>
      <div>
        <h2><i class="icon-caret-down"></i> {% trans "Collecting XP" %}</h2>
        <p>
        {% blocktrans %}
You can collect XP (or Experience Points), by accepting quests and solving them.But you also get experience points by posting quests and seeing them through.The points are being delivered after the conclusion of the quest.After having aqcuired a certain amount of XP you gain a level. This will prove you to the rest of the community as experienced heroes.{% endblocktrans %}
        </p>
      </div>
      <div>
        <h2><i class="icon-caret-down"></i> {% trans "Accepting a quest" %}</h2>
        <p>
        {% blocktrans %}
If you feel that a quests suits you and you´d like to take part then just press the big red button that sais “apply”.As soon as the quest provider accepts you as a participant you are part of the quest and therefore also partly responsible for its solving.After the conclusion of the quest, which happens as soon as the quest provider marks it as finished, you receive your well-earned XP.{% endblocktrans %}
        </p>

        <h3>{% trans "Symbol time exposure" %}</h3>
        <p>
        {% blocktrans %}
The symbol with the clock indicates the approximate time it will take to solve the quest.{% endblocktrans %}
        </p>

        <h3>{% trans "Symbol location" %}</h3>
        <p>
        {% blocktrans %}
If you see this symbol, it means that this quest has to be solved locally. Every quest without this symbol can be solved online or digitally.The place is depicted in the quest.{% endblocktrans %}
        </p>
      </div>
      <div>
        <h2><i class="icon-caret-down"></i> {% trans "Post a quest" %}</h2>
        <p>
        {% blocktrans %}
The icon “new quest” (the one with the pencil) provides you with a form that allows you to post your own quests. Fill in all the fields conscientiously. The more informations you provide, the easier it will be to find heros that want to participate.{% endblocktrans %}
        </p>
      </div>
      <div>
        <h2><i class="icon-caret-down"></i> {% trans "Sending messages" %}</h2>
        <p>
        {% blocktrans %}
The icon that says messages and that looks like an envelope provides you with your platforminternal mailbox.There you can write your own messages to other users (you’ll need to know the username of the person you want to contact though) and check out all messages that you have sent and received.{% endblocktrans %}
        </p>
      </div>
      <div>



        <h2><i class="icon-caret-down"></i> {% trans "Notifications" %}</h2>
        <p>
        {% blocktrans %}
The symbol with the bell represents notifications.With it you can immediatly see if something new happens on the plattform.If you click on it you will be forwarded to a list that tells you everything that has happened on the platform.{% endblocktrans %}
        </p>
      </div>
      <div>

        <h2><i class="icon-caret-down"></i> {% trans "Das Spiel" %}</h2>
        <p>
        {% blocktrans %}
The icon with the puzzle piece reveals all that happened in the course of the arg that has happened over the summer in Karlsruhe.{% endblocktrans %}
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
