{% extends "herobase/layout/base.html" %}
{% load i18n hero_message static %}
{% load url from future %}

{% block title %}
    you are hero - {% trans "Hilfe" %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <div class="box">
      <h1>{% trans "Spielanleitung Alternate Reality Games" %}</h1>
      <p>
      {% blocktrans %}
      Dieses ist kein gewöhnliches Spiel; es ist ein “Alternate Reality Game”. Das heisst, dass Anonymas Geschichte
      “wirklich” in der Stadt Karlsruhe passiert. Und alle Spieler spielen “wirkliche” Helden. Das macht ziemlich viel
      Spaß, ist aber eine neue Spielform, daher im Folgenden ein paar Basisregeln um es besser zu erklären:
      {% endblocktrans %}
      </p>

      <h2>1) {% trans "Zusammenarbeiten." %}</h2>
      <p>
      {% blocktrans %}
      Wenn eine Aufgabe mental oder physisch zu anstrengend wird, verlassen sich Helden auf Teamwork und die
      Gemeinschaft.  Seid nicht schüchtern, die Zusammenarbeit mit den anderen Spielern ist das Beste am Spiel! Also
      besucht das Forum regelmässig.
      {% endblocktrans %}
      </p>

      <h2>2) {% trans "Teilen." %}</h2>
      <p>
      {% blocktrans %}
      Wenn ihr mit einer Information konfrontiert seid oder eine neue Idee für das Lösen einer Quest habt, behaltet sie
      nicht für euch! Vergesst nicht, dass alle Helden Verbündete sind im Kampf gegen Anonyma und die anderen Schurken!
      Es gibt keinen einzelnen Gewinner am Schluss also teilt alle Infos und Hinweise, die ihr findet auf den Foren oder
      im Heldenwiki.
      {% endblocktrans %}
      </p>

      <h2>3) {% trans "Rausgehen." %}</h2>
      <p>
      {% blocktrans %}
      An einem bestimmten Punkt werden die Quests die Helden raus ins reale Leben führen. Ob es auf der Suche nach
      wichtigen Hinweisen ist oder um heldenhafte Aktionen zu vollbringen, bitte denkt an elementare Sicherheitsregeln.
      Auch Helden können sich verletzen.
      {% endblocktrans %}
      </p>

      <h2>4) {% trans "Durchhalten (und manchmal über den Tellerrand schauen)" %}</h2>
      <p>
      {% blocktrans %}
      Wenn Quests vom einem verlangen, Dinge zu tun, die man noch nie getan
          oder von denen man noch nicht mal gehört
      hat - Helden geben nicht auf. Auch wenn das Problem erst mal unlösbar
          scheint. Manchmal ist alles nur eine Frage
      der Perspektive. Also seid einfallsreich, erfindungsreich und ausdauernd.
          Und vergesst nicht, gemeinsam mit euren
      Freunden und Mithelden zu spielen!
      {% endblocktrans %}
      </p>

      <p>
      {% url 'hotline' as hotline_url %}
      {% blocktrans %}
      In case of great need, the community will be able to turn to the elder heroes        <a href="{{hotline_url}}">for advice.</a>
        {% endblocktrans %}
      </p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="box">

      <h1>{% trans "Wie funktioniert you are hero?" %}</h1>
      <div>
        <h2><i class="icon-caret-down"></i> {% trans "Profil verwalten" %}</h2>
        <p>
        {% blocktrans %}
        Wenn ihr euer Profil verwalten wollt, dann klickt auf das Symbol mit den Zahnrädern rechts oben, bearbeitet und ändert was es zu ändern gibt und klickt abschliessend auf den roten Knopf mit dem Haken unten auf der Seite.
        Eure Änderungen werden damit gespeichert und sofort geändert angezeigt.
        {% endblocktrans %}
        </p>
      </div>
      <div>
        <h2><i class="icon-caret-down"></i> {% trans "EP sammeln" %}</h2>
        <p>
        {% blocktrans %}
        EP (oder auch Erfahrungspunkte; aus dem englischen: Experience Points) sammelt ihr, indem ihr Quests annehmt und
        diese löst.  Ihr bekommt aber auch Erfahrungspunkte als Auftraggeber.  Vergeben werden die Punkte nach Abschluss
        der Quest.  Wenn ihr eine bestimmte Menge an Erfahrungspunkten erreicht habt, steigt ihr ein Level auf. Das
        kennzeichnet euch gegenüber der Gemeinschaft als erfahrene Helden.
        {% endblocktrans %}
        </p>
      </div>
      <div>
        <h2><i class="icon-caret-down"></i> {% trans "Quest annehmen" %}</h2>
        <p>
        {% blocktrans %}
        Wenn euch eine Quest gefällt und ihr gerne mitmachen möchtet, dann drückt einfach den großen roten Knopf, auf
        dem “Bewerben” steht.  Sobald der Auftraggeber euch bestätigt seid ihr Teil der Quest und mit dafür
        verantwortlich, dass sie auch gelöst wird.  Nach Abschluss der Quest, die durch den Auftraggeber als
        abgeschlossen markiert wird, bekommt ihr dann eure Erfahrungspunkte zugewiesen.
        {% endblocktrans %}
        </p>

        <h3>{% trans "Symbol Zeitaufwand" %}</h3>
        <p>
        {% blocktrans %}
        Das Symbol mit der Uhr kennzeichnet wie viel Zeit die Erfüllung der Quest vermutlich in Anspruch nehmen wird.
        {% endblocktrans %}
        </p>

        <h3>{% trans "Symbol Ort" %}</h3>
        <p>
        {% blocktrans %}
        Wenn ihr dieses Symbol seht, heisst das, dass diese Quest lokal vor Ort erledigt werden muss. Alle Quests ohne dieses Symbol können online bzw. digital erfüllt werden.
        Den Ort seht ihr in der Quest angezeigt.
        {% endblocktrans %}
        </p>
      </div>
      <div>
        <h2><i class="icon-caret-down"></i> {% trans "Quest einstellen" %}</h2>
        <p>
        {% blocktrans %}
        Unter dem Icon “neue Quest” (das mit dem Stift) findet ihr ein Formular, das es euch ermöglicht, selbst Quests
        einzustellen. Füllt die Felder alle gewissenhaft aus, je mehr Informationen ihr eingebt, desto leichter wird es
        sein, Helden zu finden, die teilnehmen wollen.
        {% endblocktrans %}
        </p>
      </div>
      <div>
        <h2><i class="icon-caret-down"></i> {% trans "Nachrichten versenden" %}</h2>
        <p>
        {% blocktrans %}
The icon that says messages and that looks like an envelope provides you with your platforminternal mailbox.There you can write your own messages to other users (you’ll need to know the username of the person you want to contact though) and check out all messages that you have sent and received.{% endblocktrans %}
        </p>
      </div>
      <div>



        <h2><i class="icon-caret-down"></i> {% trans "Benachrichtigungen" %}</h2>
        <p>
        {% blocktrans %}
        Das Glockensymbol oben repräsentiert eure Benachrichtigungen.  Ihr könnt dort
            sofort sehen, wenn etwas Neues auf
        der Plattform passiert.  Wenn ihr draufklickt werdet ihr zu einer Liste geführt,
            die euch genau aufzeigt, was
        alles schon auf der Plattform passiert ist.
        {% endblocktrans %}
        </p>
      </div>
      <div>

        <h2><i class="icon-caret-down"></i> {% trans "Das Spiel" %}</h2>
        <p>
        {% blocktrans %}
        Unter dem Icon mit dem Puzzlesymbol findet ihr alle Infos, die relevant sind für das in Karlsruhe stattfindende
        Spiel.
        {% endblocktrans %}
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
