{% extends "herobase/layout/base.html" %}
{% load i18n hero_message humanize %}
{% load url from future %}

{% block content %}

  <div class="row">
      <div class="col-md-6 col-md-offset-6">
      {% for notification in notifications %}
        {{ notification.html }}
            {#          {% with url=notification.target.get_absolute_url %}#}
{#          {% if url %}#}
{#            <a href="{{ url }}">#}
{#          {% endif %}#}
{#              <p>{{ notification.text|truncatechars:120 }}</p>#}
{#              <div class="info">{{ notification.created|naturaltime }}</div>#}
{#          {% if url %}#}
{#            </a>#}
{#          {% endif %}#}
{#          {% endwith %}#}
      {% empty %}
          <p>Du hast keine neue Benachrichtigung</p>
      {% endfor %}
    </div>
  </div>
    {% include "herobase/articles/articles.inc.html" %}
{%  endblock %}
