{% load i18n %}

    <p>{% blocktrans %}Die Heldenklasse Deines Charakters gibt an welche Arten von Quests Du bevorzugst. Natürlich kannst Du jede Quest
        annehmen, die Dir gefällt, aber Deine Klasse sollte eine gewisse Präverenz zum Ausdruck bringen.{% endblocktrans %}</p>

    <p>{% blocktrans %}Jede Quest ist entsprechend einer dieser Heldenklassen zugeordnet.{% endblocktrans %}</p>

    <h3><div class="charicon-3"></div>{% trans "Action" %}</h3>
    <p>{% blocktrans %}Der Actionheld will raus und die Welt verändern.
        Wenn er die Dinge nicht in die Hand nimmt, wer dann?
        Das aktive VERÄNDERN eines für ihn inakzeptablen Zustands ist sein Motto.{% endblocktrans %}</p>

    <p>{% blocktrans %}Actionquests können z.B. die Aufforderung des Besuchens und/oder
        organisieren von Demos oder anderen Veranstaltungen sein.{% endblocktrans %}</p>

    <h3><div class="charicon-4"></div>{% trans "Protective" %}</h3>
    <p>{% blocktrans %}Der Protective Hero ist besorgt um Dinge und Wesen.
        Zu BESCHÜTZEN und zu Bewahren ist sein Ziel{% endblocktrans %}</p>

    <p>{% blocktrans %}Protective Quests können Tier oder dritte-Welt-Patenschaften sein,
        Blutspenden, mit Denkmal- und Umweltschutz zusammenhängende Quests, usw.{% endblocktrans %}</p>

    <h3><div class="charicon-2"></div>{% trans "Diplomat" %}</h3>
    <p>{% blocktrans %}Menschen und Nationen miteinander zu VERBINDEN ist die Mission des Diplomaten;
        eine Mission, die sich manchmal als wichtiger erweisen mag, als alle
        anderen zusammen.{% endblocktrans %}</p>

    <p>{% blocktrans %}Diplomatenquests können das Mitsingen in einem Chor sein,
        Übersetzungen von Texten, Anbieten eines Couchsurfingplatzes usw.{% endblocktrans %}</p>

    <h3><div class="charicon-1"></div>{% trans "Gadgeteer" %}</h3>
    <p>{% blocktrans %}Wie sieht die Welt aus, in der wir uns bewegen?
        Wer gestaltet sie, wenn nicht der Gadgeteer?
        Kreation und KREATIVITÄT sind sowohl die Mittel als auch das Ziel.{% endblocktrans %}</p>

    <p>{% blocktrans %}Gadgeteerquests können unter Anderem das Erstellen von Designartikeln
        aus Müll sein, das Erzeugen von Altpapier, oder das Bauen einer
        Baumhütte, etc.{% endblocktrans %}</p>

    <h3><div class="charicon-5"></div>{% trans "Scientist" %}</h3>
    <p>{% blocktrans %}Wissenschaft, Entwicklung und Wissen - dass unsere Gesellschaft da
        ist, wo sie jetzt ist,
        ist allen frei denkenden Geistern zu verdanken, die je auf diesem
        Planeten gelebt haben.
        Diese Werte gehören allen und es ist das Ziel des Scientist nicht nur
        die Grenzen des Wissens auszuloten und zu erweitern,
        sondern den Zugang für jedermann zu gewährleisten und zu beschützen.{% endblocktrans %}</p>

    <p>{% blocktrans %}Scientistquests können alle Arten von Open Source Projekten sein,
        Umfragen, Einträge in die Wikipedia, usw.{% endblocktrans %}</p>
