{% extends "herobase/layout-3-9.html" %}
{% block sidebar_left %}
    <h1>Welcome, Hero {{ user.username }}</h1>
{% endblock %}
{% block content %}
    {% if quests %}
    <ul>
    {% for quest in quests %}
        <li>
        {% if quest.owner == request.user %}
            <a href="{{ quest.get_absolute_url }}">{{ quest.title }}</a> --&gt;
        {% else %}
            <a href="{{ quest.get_absolute_url }}">{{ quest.title }}</a> &lt;--
        {% endif %}
        </li>
    {% endfor %}
    </ul>
    {% else %}
        No quests.
    {% endif %}
{%  endblock %}