{% extends "herobase/layout/box.html" %}
{% load crispy_forms_tags i18n static %}
{% load url from future %}

{% load i18n static %}

{% block box %}
    <form method="POST" action="{% url "auth_login" %}">  {{ block.super }}</form>
{% endblock %}

{% block buttons_top %}

{% endblock %}

{% block title %}
    <h2>Werde Teil der Community!</h2>
{% endblock %}

{% block content %}

<br>
    <p style="text-align: center;">
        <a class="btn btn-warning btn-large" href="{% url "registration_register" %}"  id="join">{% trans "Join now!" %}</a>
    </p>


{% endblock %}
{% block buttons_bottom %}

{% endblock %}


