{% extends "herobase/layout/base.html" %}
{% load i18n hero_message static %}
{% load url from future %}

{% block title %}
    Held Sein - Hotline
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="hotlinebox box">
      <h1>Helden Hotline</h1><h3>- Soforthilfe für Helden in Not</h3>

      <p>
      Wenn Helden Hilfe brauchen, fragen sie erstmal die Community in den Foren.<br/>
      Aber wenn auch das nicht mehr hilft, wenden sich die Helden an die Helden-Hotline.<br/>
      Mit dieser Hotline können sie schnell mit den erfahrenen Helden in Kontakt treten - den Erschaffern des Spiels und
      dieser Website.
      </p>

      <p>“Der Helden-Briefkasten”: <a href="mailto:info@youarehero.net">info@youarehero.net</a></p>
    </div>
  </div>
</div>
{% endblock %}
