{% extends "herobase/layout/base.html" %}
{% load i18n hero_message static %}
{% load url from future %}

{% block title %}
    Held Sein - {% trans "Hotline" %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="hotlinebox box">
      <h1>{% trans "Hero hotline" %}</h1><h3>- {% trans "Immediate help for stranded heroes" %}</h3>

      <p>
      {% blocktrans %}
When heroes need help, they ask the community on the forums. But when even that is not enough, heroes turn to the hero hotline. Thanks to the hotline, they can quickly get in touch with the elder heroes - creators of this game and website.“The Hero Phone”: 01573-1914755 (leave message if no answer)“The Hero Mailbox”: info@youarehero.net{% endblocktrans %}
      </p>

      <p>“{% trans "The heroic mailbox" %}”: <a href="mailto:info@youarehero.net">info@youarehero.net</a></p>
    </div>
  </div>
</div>
{% endblock %}
