{% extends "herobase/layout/base.html" %}
{% load i18n %}

{% block page_title %}
    <h1>{% trans "Imprint" %}</h1>
{% endblock %}

{% block content %}
    <div class="box">

        <div class="row">
            <div class="col-sm-6">
                <h1>{% trans "Responsible for content" %}</h1>
                <p>Greta Hoffmann</p>

                <p>Karlstraße 127<br>
                76199 Karlsruhe<br>
                Karlsruhe</p>

                <a href="mailto:greta.luise@googlemail.com">
                    <i class="icon-envelope-alt"></i>
                    greta.luise@googlemail.com
                </a>
            </div>
            <div class="col-sm-6">
                <h2>{% trans "liability note" %}</h2>
                <p>{% blocktrans %}
                    Despite thorough contentual controls we do not assume liability for content of external links. The content of the linked pages lies solemnly in the responsibility of the respective owners.
                    In case that statements on this website infringe property rights, like trade- or copyright breaches, we entreat you to give us immediaty notice via email or otherwise.
                    In that case we will immediatly rid the page from its unlawful condition.
                {% endblocktrans %}</p>
            </div>
        </div>
</div>
{%  endblock %}
