{% extends "herobase/layout/base.html" %}
{% load i18n %}

{% block page_title %}
    <h1>{% trans "Impressum" %}</h1>
{% endblock %}

{% block content %}
    <div class="box">

        <div class="row">
            <div class="col-sm-6">
                <h1>{% trans "Verantwortlich für den Inhalt" %}</h1>
                <p>Greta Hoffmann</p>

                <p>Karlstraße 127<br>
                76199 Karlsruhe<br>
                Karlsruhe</p>

                <a href="mailto:greta.luise@googlemail.com">
                    <i class="icon-envelope-alt"></i>
                    greta.luise@googlemail.com
                </a>
            </div>
            <div class="col-sm-6">
                <h2>{% trans "Haftungshinweise" %}</h2>
                <p>{% blocktrans %}
                    Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
                    Für den Fall, dass durch Angaben auf dieser Webseite möglicherweise Schutzrechte verletzt werden, also etwa ein Marken- oder Urheberrechtsverstoß gegeben sein könnte, werden Sie gebeten, dies umgehend per E-Mail oder sonst in Textform mitzuteilen.
                    Wir werden in diesem Fall sofort rechtmäßige Zustände herstellen.
                {% endblocktrans %}</p>
            </div>
        </div>
</div>
{%  endblock %}
