{% extends "herobase/base.html" %}
{% load static %}

{% block layout %}
    <div class="row">
        <div class="span3">
            {% block sidebar_left %}
                {% include "herobase/sidebar_left.inc.html" %}
            {% endblock %}
        </div><!--/span-->
        <div class="span9">
            <div class="page-header">&nbsp;</div>
            <div class="container-fluid">
                {% include "herobase/messages.inc.html" %}
            </div>
            {% block content %}{% endblock %}
        </div><!--/span-->
    </div>
{% endblock %}