{% extends "herobase/base.html" %}
{% load static %}

{% block layout %}
    <div class="row">
        <div class="span3">
            <a href="{% url home %}">
                <img src="{% get_static_prefix %}/img/logo.png" alt="You Are Hero">
            </a>
            {% block sidebar_left %}
                {% include "herobase/userprofile/private.inc.html" %}
            {% endblock %}
        </div><!--/span-->
        <div class="span9">
            {% block content %}{% endblock %}
        </div><!--/span-->
    </div>
{% endblock %}