{% extends "herobase/layout-3-6-3.html" %}
{% load i18n %}
{% block content %}
    <div class="well">
    <h1><span class="orange-stripe">Leader Board</span></h1>
    <h2><span class="yellow-stripe">Erfahrungspunkte</span></h2>
    <ul>
    {% for user in total|slice:":10" %}
        <li><a href="{% url userprofile-public user.username %}">{{ user.username }}: {{ user.get_profile.experience }} Erfahrung</a></li>
    {% endfor %}
    </ul>
    <h3>Nach Klasse</h3>
    {% for class_name, leaders in by_class.items  %}
        <h4>{{ class_name }}</h4>
        <ul>
            {% for user in leaders|slice:":10" %}
                <li><a href="{% url userprofile-public user.username %}">{{ user.username }}: {{ user.get_profile.experience }} Erfahrung</a></li>
            {% endfor %}
        </ul>
    {% endfor %}

    <h3>Nach Arten von Quests</h3>
    {% for class_name, leaders in by_quest_class.items  %}
        <h4>{{ class_name }}</h4>
        <ul>
            {% for user in leaders|slice:":10" %}
                <li><a href="{% url userprofile-public user.username %}">{{ user.username }}: {{ user.class_experience }} Erfahrung</a></li>
            {% endfor %}
        </ul>
    {% endfor %}
    </div>
{% endblock %}