{% load url from future %}
{% load i18n %}
<tr {% if active %}class="active"{% endif %}>
    <td class="rank">{{ user.profile.rank }}.</td>
    <td>
        <a href="{% url "userprofile_public" user.username %}">
            <img src="{{ user.profile.avatar_thumbnail_80 }}">
        </a>
    </td>
    <td>
        <strong><a href="{% url "userprofile_public" user.username %}">
            {{ user.username }}</a></strong><br>
        {% trans "Level" %}: {{ user.profile.level }}<br/>
        {% trans "XP" %}: {{ user.profile.experience }}<br/>
        {% trans "Erfolge" %}: {{ user.profile.achievements.count }}
    </td>
</tr>
