{% extends "herobase/layout/base.html" %}
{% load i18n %}

{% block extra_classes %}collapsible{% endblock %}


{% block page_title %}
    <h1>{% trans "Leaderboard" %}</h1>
{% endblock %}

{% block content %}
    <div class="box">
        <h1>{% trans "Leaderboard" %}</h1>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="box">
                <h2>{% trans "Top 5" %}</h2>
                <table class="leader-table">
                    {% for user in top1to5 %}
                        {% with active=False %}
                            {% include "herobase/leader_board_box.inc.html" %}
                        {% endwith %}
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="box">
                <h2>{% trans "Ranks 6 to 10" %}</h2>
                <table class="leader-table">
                    {% for user in top6to10 %}
                        {% with active=False %}
                            {% include "herobase/leader_board_box.inc.html" %}
                        {% endwith %}
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="box">
                <h2>{% trans "Ranks 11 to 25" %}</h2>

                <p>
                    {% for user in top11to25 %}
                        {{ user.profile.rank }}.
                        <a href="{% url "userprofile_public" user.username %}">
                            {{ user.username }}</a><br>
                    {% endfor %}
                </p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="box">
                <h2>{% trans "Ranks 26 to 50" %}</h2>

                <p>
                    {% for user in top26to50 %}
                        {{ user.profile.rank }}
                        <a href="{% url "userprofile_public" user.username %}">
                            {{ user.username }}</a><br>
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
    <div class="box">
        <h2>{% trans "List of Achievements" %}</h2>
    </div>
    <div class="row">
        {% for achievement in achievements %}
            <div class="col-md-6 col-xs-12">
                <div class="box">
                    <div class="box-content">
                        <img class="pull-left" src="{{ achievement.image }}"/>

                        <p class="pull-left">
                            <strong>&nbsp;{{ achievement.title }}</strong><br/>
                            &nbsp;{{ achievement.text }}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
