{% extends "herobase/layout/layout-3-6-3.html" %}
{% load i18n %}

{% block page_title %}
    <h1>{% trans "Leaderboard" %}</h1>
{% endblock %}

{% block content %}
    <div class="well">
    <h2>Nach Erfahrungspunkten</h2>
    <ul>
    {% for user in total|slice:":10" %}
        <li><a href="{% url userprofile-public user.username %}">{{ user.username }}: {{ user.get_profile.experience }} Erfahrung ({{ user.get_profile.get_hero_class_display}})</a></li>
    {% endfor %}
    </ul>
    <h2><span class="yellow-stripe">Nach Organisierten Quests</span></h2>
    <ul>
        {% for user in top_creators|slice:":10" %}
            <li><a href="{% url userprofile-public user.username %}">{{ user.username }}: {{ user.quest_count }} Quests</a></li>
        {% endfor %}
    </ul>
{#    <h3>Nach Klasse</h3>#}
{#    {% for class_name, leaders in by_class.items  %}#}
{#        <h4>{{ class_name }}</h4>#}
{#        <ul>#}
{#            {% for user in leaders|slice:":10" %}#}
{#                <li><a href="{% url userprofile-public user.username %}">{{ user.username }}: {{ user.get_profile.experience }} Erfahrung</a></li>#}
{#            {% endfor %}#}
{#        </ul>#}
{#    {% endfor %}#}
{##}
{#    <h3>Nach Arten von Quests</h3>#}
{#    {% for class_name, leaders in by_quest_class.items  %}#}
{#        <h4>{{ class_name }}</h4>#}
{#        <ul>#}
{#            {% for user in leaders|slice:":10" %}#}
{#                <li><a href="{% url userprofile-public user.username %}">{{ user.username }}: {{ user.class_experience }} Erfahrung</a></li>#}
{#            {% endfor %}#}
{#        </ul>#}
{#    {% endfor %}#}
    </div>
{% endblock %}