{% extends "herobase/layout/base.html" %}

{% block page_title %}
    <h1>Impressum</h1>
{% endblock %}

{% block content %}
<div class="manifestobox english">
  <h1>
    We believe gaming can make a better world.  Here’s why.
  </h1>

  <h2>
    1. Everybody can be a hero.
  </h2>

  <p>
  It’s true! We all have inside us the need and desire to achieve big things. You feel it when you work hard to get
  a good grade or a promotion in your job, when you passionately take care of your garden, or even when you shyly talk
  to this person you have fallen in love with. Each one of us can be a hero, because we all share this need to achieve
  <em>something</em>, and that is because:
  </p>

<h2>
  2. There aren’t good or bad people, just circumstances.
</h2>

<p>
People aren’t born heroes or villains, they’re born with strengths and weaknesses. What your strengths and weaknesses
make you think, feel and do is just a matter of <em>context</em>. You can ignore homeless people for years and one day save
a kid. Or you can be a teacher and one day turn your eyes off a robbery. You’re not a good or bad person. It just
depends, and that is because:
</p>

<h2>
  3. Social is the best friend and the worst enemy.
</h2>

<p>
Most of your life has been influenced by what you <em>believe</em> people think of you. Why does it matter? Because it’s the
recipe for both heroism and villainy. As we gather online and unite to like Facebook pages, our physical interactions
with fellow human beings are becoming awkward. People are like a switch that can empower you to do your best, but also
can make you feel alone and caving in. Therefore:
</p>

<h2>
  4. If you expect people to do good, be a model for them first.
</h2>

<p>
What if heroes were walking among us in the streets, ready to help whomever needs it? Just like in a video game! What if
it was fun to help, and to be helped? Wouldn’t you feel like being a part of it? We’re betting you would, and we’re
doing just that, because:
</p>

<h2>
  5. Life doesn’t lack story and fun, it lacks perspective.
</h2>

<p>
Have you ever wondered why it’s easier slaying a dragon than doing the laundry? That’s because the latter is never
presented in a way that doesn’t makes it sound boring. What if now the laundry needs to be done to get rid of
a stain-propagated zombie disease, or to prepare a nice-smelling home for a whole world of friendly tiny invisible
homeless space-creatures. Does it sound cooler now? If it does, it’s because of story. Everything, even your daily life,
can be fun when it is <em>presented</em> in the right way. Stories are hidden everywhere, and games expose them and make you
interact with them. As a result:
</p>

<h2>
  6. Playing makes us stronger.
</h2>

<p>
Games are a privileged medium to discover about oneself and the world around. Kids first learn interacting with each
other through play. Action game players are known to develop better visual skills than other people. Adaptability,
perseverance, communication, physical strength, creativity… In fact, there isn’t a single human asset that cannot be
developed while playing. Games help you grow as an individual and as a member of your community. And, as a result:
</p>

<h2>
  7. Playing is natural.
</h2>

<p>
Like every single human being on this planet, you appear to be <em>predisposed</em> and compelled to play ever since your
childhood up to your death. Actually, many other species display playful behaviors in similar fashions. At you are hero,
we strongly believe that playing is part of what makes us alive, and that, furthermore, associating playfulness with
childhood and seriousness with adulthood is, at best, sad and absurd. As a consequence:
</p>

<h2>
  8. Playing is for adults, too.
</h2>

<p>
Fact: the average gamer is thirty-something. Fact: four players out of five are 18 or more. Fact: there are more adult
women playing than underage boys. Fact: one player out of three is over 50. It has become undeniable that games are an
extremely widespread medium. We believe that in a society where all media converge and intertwine, games are getting
attention from every generation regardless, and this is why we shout the following:
</p>

<h2>
  9. Everybody can be a hero, thanks to games.
</h2>

<p>
In her 2010 book <cite>Reality Is Broken: Why Games Make Us Better and How They Can Change The World</cite>, game designer and
researcher <a href="http://janemcgonigal.com/">Jane McGonigal</a> advocates that the most challenging problems facing
the world could be solved by adopting a gamer’s <em>heroic</em> mindset. We at YouAreHero are proudly walking in
<a href="http://www.ted.com/talks/jane_mcgonigal_gaming_can_make_a_better_world.html">her footsteps</a>, as we attempt
to bring together the powers of gaming and charity into the everyday life.
</p>
<h1>
  And that’s why gamers will save the world.
</h1>
</div>
{%  endblock %}
