{% load i18n static %}

<ul class="navigation">
    <li><a href="{% url quest-list %}">Quests</a></li>
    <li><a href="{% url quest-create %}">Create Quest</a></li>
    <li><a href="{% url quest-list %}">Show Quests</a></li>
    <li><a href="{% url userprofile-edit %}">Profil</a></li>
    <li><a href="{% url userprofile-privacy-settings %}">Privatsphäre</a></li>
    <li><a href="{% url leader-board %}">Leader</a></li>
    <li><a href="{% url stats %}">Stats</a></li>
    <li><a href="http://webengage.com/s/~3dij6ek">Fragebogen (1min)</a></li>
    <li><a href="{% url django.contrib.auth.views.logout %}">Logout</a></li>
</ul>