{% extends "herobase/layout/base.html" %}
{% load static i18n %}
{% block page_title %}
    <h1>{% trans "Welcome to a place where you can become a hero!" %}</h1>
{% endblock %}

{% block content %}
  <div class="pressbox">
    <div class="image">
      <img class="pull-right einladungskarte" src="{% get_static_prefix %}img/einladungskarte_240.jpg" />
    </div>
    <div>
      <h1>{% trans "you are hero &ndash; May the game begin!" %}</h1>
      <h2>{% trans "a heroic game from the Karlsruhe University of Arts and Design " %}</h2>
      <p>{% blocktrans %}
      <em>Gaming can make a better world</em> &ndash; this is the ,essage of game designer Jane McGonigal. At the Karlsruhe University of Arts and Design
      Student Greta Hoffmann has accepted this challenge together with a group of heroes dieser Aufgabe under the motto 
      <em>you are hero</em>. These heroes want to introduce themselvesto the city of Karlsruhe with a big game starting on the 16. September 2013.
 Because <em>you are hero</em> urgently needs reinforcements!
      {% endblocktrans %}</p>
      <p>{% blocktrans %}
The game has already started: Recently an attractive but dubious figure calling herself <em>Anonyma</em> has been increasingly sighted in Karlsruhe. Especially on das FEST and at the KAMUNA she rocked the boat.One asks oneself, why this <em>Femme fatale</em> has chosen our city to do her mischief. Actually we enjoy quite a peaceful living here{% endblocktrans %}</p>
      <p>{% blocktrans %}
      you are hero bittet daher ganz Karlsruhe aufs Spielfeld, um sich der Gefolgschaft von Müllexpertin <em>Trashley</em>
      (28./29. September), Informatics-Guru <em>Glitch</em> (05./06. Oktober), Weltenbummler <em>Citizen G.</em> (12./13.
      Oktober) oder Gourmet <em>Maître</em> (19./20. Oktober) anzuschließen. Von Rätseln bis zu Workshops und
      Outdoor-Aktionen finden sich viele heldenhafte Möglichkeiten der Unterstützung, um es mit <em>Anonyma</em>
      aufzunehmen. Wer weder ihre Verführungskünste noch unerwartete Begegnungen mit dem seltsamen <em>Professor Dr.
        Entropius</em> scheut, hat beste Chancen selbst zum Helden zu avancieren.
      {% endblocktrans %}</p>
      <p>{% blocktrans %}
      Sowohl Einzelpersonen als auch Gruppen können sich ab sofort auf
      <a href="http://www.youarehero.net">www.youarehero.net</a> registrieren. Das gesamte Spiel findet zwischen dem 16.
      September und dem 26. Oktober statt. Die Intensität der Teilnahme kann vollkommen flexibel gestaltet werden
      und ist kostenfrei.
      {% endblocktrans %}</p>
    </div>
  </div>
{%  endblock %}
