{% extends "herobase/layout/base.html" %}
{% load static %}
{% block page_title %}
    <h1>Welcome to a place where you can become a HERO!</h1>
{% endblock %}

{% block content %}
  <div class="pressbox">
    <div class="image">
      <img class="pull-right einladungskarte" src="{% get_static_prefix %}img/einladungskarte_240.jpg" />
    </div>
    <div>
      <h1>you are hero &ndash; Das Spiel möge beginnen!</h1>
      <h5>(k)ein Heldenspiel aus der HfG Karlsruhe</h5>
      <p>
      <em>Gaming can make a better world</em> &ndash; das ist die Botschaft der Spieldesignerin Jane McGonigal. An der
      HfG Karlsruhe hat sich die Studentin Greta Hoffmann mit einer kleinen Gruppe von „Helden“ dieser Aufgabe unter
      dem Motto <em>you are hero</em> angenommen. Die Heldentruppe möchte sich ab dem 16. September 2013 mit einem
      großen Spiel in ganz Karlsruhe vorstellen &ndash; denn <em>you are hero</em> braucht dringend Verstärkung!
      </p>
      <p>
      Das Spiel hat bereits begonnen: Kürzlich wurde vermehrt eine attraktive, aber zwielichtige Gestalt namens
      <em>Anonyma</em> in Karlsruhe gesichtet, besonders auf dem FEST und der KAMUNA sorgte sie für Unruhe. Man
      wundert sich zu Recht, weshalb sich diese <em>Femme fatale</em> gerade Karlsruhe ausgesucht hat, um ihr Unwesen
      zu treiben. Denn eigentlich lebt es sich hier doch ganz angenehm: Eine quirlige Innenstadt, der Rhein und viel
      Grün außen rum, interessante Kunst, eine niedrige Arbeitslosenquote und bald gibt’s auch noch die Kombi-Lösung.
      Doch genau eine solche Umgebung sucht sich die Schurkin <em>Anonyma</em> gerne aus, um uns zu bezirzen und
      nachlässig werden zulassen. Wir kennen das alle, nach einem harten Tag, lässt man die Welt gerne mal Welt sein.
      Man wirft dann doch die Plastikflasche in den Restmüll, bemüht den Pizzaservice anstatt zu kochen, klickt noch
      wahllos im Internet herum. Am Wochenende klappt es dann meistens auch ganz gut, den Wohltätigkeitsflohmarkt und
      die Großmutter im Seniorenheim auf ein anderes Mal zu verschieben. Ja genau das sind die kleinen Schwächen, auf
      die <em>Anonyma</em> aus ist, um sie sich zu Nutze zu machen.
      </p>
      <p>
      you are hero bittet daher ganz Karlsruhe aufs Spielfeld, um sich der Gefolgschaft von Müllexpertin <em>Trashley</em>
      (28./29. September), Informatics-Guru <em>Glitch</em> (05./06. Oktober), Weltenbummler <em>Citizen G.</em> (12./13.
      Oktober) oder Gourmet <em>Maître</em> (19./20. Oktober) anzuschließen. Von Rätseln bis zu Workshops und
      Outdoor-Aktionen finden sich viele heldenhafte Möglichkeiten der Unterstützung, um es mit <em>Anonyma</em>
      aufzunehmen. Wer weder ihre Verführungskünste noch unerwartete Begegnungen mit dem seltsamen <em>Professor Dr.
        Entropius</em> scheut, hat beste Chancen selbst zum Helden zu avancieren.
      </p>
      <p>
      Sowohl Einzelpersonen als auch Gruppen können sich ab sofort auf
      <a href="http://www.youarehero.net">www.youarehero.net</a> registrieren. Das gesamte Spiel findet zwischen dem 16.
      September und dem 26. Oktober statt. Die Intensität der Teilnahme kann vollkommen flexibel gestaltet werden
      und ist kostenfrei.
      </p>
    </div>
  </div>
{%  endblock %}
