{% extends "herobase/layout/base.html" %}
{% load static i18n crispy_forms_tags %}
{% load url from future %}
{% load like_button %}


{% block javascript %}
    <script type="text/javascript">
        $('body').on('click' , '#video, #blog, #about', function(e) {
            //$(this).addClass('hover');
{#            console.debug($(this));#}
{#            if ($(e.target).is('a')) {#}
{#                return;#}
{#            } else {#}
{#                $('.box-buttons-bottom a', this).click();#}
{#            }#}
            if ($(e.target).is('a') || $(e.target).parent().is('a')) {
                return
            }
            e.preventDefault();
            var $box = $(e.target).closest('.box');
            var $link = $box.find('.box-buttons-bottom a');
            var url = $link.attr('href');
            if (url !== undefined) {
                if ($link.attr('target') == '_blank') {
                    window.open(url);
                } else {
                    window.location.href = url;
                }
            }
        });
{#        $('body').on('blur', '.box', function(e) {#}
{#            $(this).removeClass('hover');#}
{#        });#}
    </script>
{% endblock %}

{% block body %}
    <div id="background"></div>
    <div id="background-top"></div>
    <div id="background-city"></div>
    <div id="layout-container" class="container front-page">

        {% block site_header_container %}
            <div id="site-header-container" class="row">
                <div class="span100">
                    <a href="{% url "home" %}" class="logo pull-left">
                        {#                        <img src="{% get_static_prefix %}img/logo.png" alt="You Are Hero">#}
                        <img src="{% get_static_prefix %}img/logo.png" alt="You Are Hero">

                    </a>
                    {% if not request.user.is_authenticated %}

                    {% endif %}
                    {% block site_header %}

                    {% endblock %}
                </div>
            </div>
        {% endblock %}

        <div class="row">
            {% block sidebar_left_container %}
            {% endblock %}
            <div class="span4">
                <h2 class="slogan">{% trans "Welcome to a place where you can become a hero!" %}</h2>

                <div id="video" class=" box">
                    <h2>{% trans "Videos" %}</h2>
                    <iframe width="280" height="166" src="http://www.youtube.com/embed/7gp4X-0XSQA?rel=0&loop=1&autohide=1&controlers=0" frameborder="0" allowfullscreen></iframe>
                    <div class="box-buttons-bottom">
                        <a href="http://www.youtube.com/user/youareher0?feature=watch" target="_blank">
                            <span>{% trans "More Videos" %}</span></a>
                    </div>
                </div>
            </div>

            <div id="login" class="span2-5">
                {% include "herobase/home_login_box.inc.html" %}
                <div class="fb-like" data-href="http://youarehero.net/" data-send="true" data-width="450" data-show-faces="true" data-font="arial" og:image="http://snapshot.youarehero.net/static/img/logo.png"></div>
            </div>

            <div id="register-now" class="span2">
                <a href="{% url "registration_register" %}">
                {% trans "Join now!" %}
                </a>
            </div>
        </div>
        <div class="row">
            <div id="about" class="span5 box">
                <h2>{% trans "What's it all about?" %}</h2>
                <p>
                    You are HERO ist ein virtueller <strong>Treffpunkt für Helden</strong> und Heldenanwärter. Sogleich nach
                    der Registrierung kreierst Du Deinen Heldencharakter und sammelst Heldenpunkte indem
                    Du Quests (Aufgaben und Aufträge) von der Pinnwand erfüllst. Die Herausforderung und
                    zugleich heldenhafte Chance liegt darin, dass alle Quests in der Realität erfüllt werden.
                    Natürlich könnt auch Ihr selbst Quests einstellen, schließlich braucht jeder Held hin und
                    wieder Unterstützung. Das Ziel des Spiels ist ganz einfach: <strong>Nicht nur reden, sondern handeln</strong>
                     – also rettet die Welt!
                </p>
                <div class="box-buttons-bottom">
                    <a href="./abstract">
                        <span>{% trans "Read more" %}</span></a>
                </div>
            </div>
            <div id="blog" class="box">
                <h2>{% trans "News" %}</h2>
                <img src="{% get_static_prefix %}img/fotocouch_240.jpg" alt="YAH-Team">
                <div class="box-buttons-bottom">
                    <a href="./blog/" target="_blank">
                        <span>Zum Blog</span></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="awards" class="pull-right">

                <a href="https://youarehero.net/blog/2013/05/06/you-are-hero-gewinnt-preis-des-rotary-clubs-karlsruhe/" target="_blank">
                    <img src="{% get_static_prefix %}img/award_rotary.png" alt="Award: ROTARY-Club Karlsruhe" data-toggle="tooltip" data-title="Stipendium vom ROTARY-Club Karlsruhe">
                </a>
                <a href="https://youarehero.net/blog/2012/10/17/you-are-hero-gewinnt-forderpreis-der-heinrich-hertz-gesellschaft/" target="_blank">
                    <img src="{% get_static_prefix %}img/award_hhg.png" alt="Award: HHG" data-toggle="tooltip" data-title="Gesellschaft zur Pflege wissenschaftlicher Kontakte im Hause Heinrich Hertz e.V.">
                </a>

            </div>
        </div>

        {% block site_footer_container %}
            {{ block.super }}
        {% endblock %}
    </div>
{% endblock %}
