{% extends "herobase/layout/base.html" %}
{% load static i18n crispy_forms_tags %}
{% load url from future %}
{% load like_button %}


{% block javascript %}
    <script type="text/javascript">
        $('body').on('click' , '#video, #blog, #about', function(e) {
            //$(this).addClass('hover');
{#            console.debug($(this));#}
{#            if ($(e.target).is('a')) {#}
{#                return;#}
{#            } else {#}
{#                $('.box-buttons-bottom a', this).click();#}
{#            }#}
            if ($(e.target).is('a') || $(e.target).parent().is('a')) {
                return
            }
            e.preventDefault();
            var $box = $(e.target).closest('.box');
            var $link = $box.find('.box-buttons-bottom a');
            var url = $link.attr('href');
            if (url !== undefined) {
                if ($link.attr('target') == '_blank') {
                    window.open(url);
                } else {
                    window.location.href = url;
                }
            }
        });
{#        $('body').on('blur', '.box', function(e) {#}
{#            $(this).removeClass('hover');#}
{#        });#}
    </script>
{% endblock %}

{% block content %}
    {% include "herobase/article_imagerow.html" %}

    <div class="row vertical-offset">
        <div class="col-md-4">
            <div class="hero-box trashley">
                <div class="background"></div>
                <div class="text">
                  <h3>Trashley Treasure</h3>
                  <dt>You have:</dt>
                  <dd>
                    Die Kraft, aus Müll ästhetische Produkte zu zaubern<br/>
                    Das Wissen, was mit dem Müll passiert<br/>
                    Den Mut, Müll anzufassen
                  </dd>
                  <dt>You save:</dt>
                  <dd>Müll</dd>
                  <dt>You look:</dt>
                  <dd>Like Quality</dd>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hero-box glitch">
                <div class="background"></div>
                <div class="text">
                  <h3>Glitch</h3>
                  <dl>
                    <dt> You have: </dt>
                    <dd>
                      Die Kraft, Technologien für das Gute zu Nutzen.<br/>
                      Das Wissen um ihre Schattenseiten.<br/>
                      Den Mut, beide Seiten zu zeigen.
                    </dd>
                    <dt> You save: </dt>
                    <dd> Informationen </dd>
                    <dt> You look: </dt>
                    <dd> Wie aus dem Internet </dd>
                  </dl>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hero-box citizeng">
                <div class="background"></div>
                <div class="text">
                  <h3>Citizen G</h3>
                  <p>
                </div>
            </div>
        </div>
    </div>
    <div class="row vertical-offset">
        <div class="col-md-4">
            <div class="hero-box maitre">
                <div class="background"></div>
                <div class="text"><h3>Ma&icirc;tre</h3></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hero-box you">
                <div class="background"></div>
                <div class="text"><h3>Du</h3></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hero-box more">
                <div class="background"></div>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
