{% load i18n static %}
<div id="logo" class="page-header-100">
    <a href="{% url home %}">
        <img src="{% get_static_prefix %}/img/logo.png" alt="You Are Hero">
    </a>
</div>

{% if request.user.is_authenticated %}
    {% include "herobase/userprofile/private.inc.html" %}
    {% include "herobase/navigation.inc.html" %}
{% else %}
    <h2><span class="stripe">are you?</span></h2>
    <a type="button" href="{% url django.contrib.auth.views.login %}" class="btn btn-large" id="join">Helden-Login</a>
    <h2><span class="stripe">not yet?</span></h2>
    <a type="button" href="{% url registration_register %}" class="btn btn-primary btn-large" id="join">Join now!</a>
{% endif %}
