{% load i18n %}

{% if request.user.is_authenticated %}
    <ul>
        <li><a href="{% url message-list %}">
            <i class="icon-envelope-large">
                {% if request.user.get_profile.unread_messages_count != 0 %}
                    <span class="badge badge-orange"> {{ request.user.get_profile.unread_messages_count }}</span>
                {% endif %}
            </i>
        </a></li>
        <li><a href="{% url django.contrib.auth.views.logout %}"><span class="stripe">Logout</span></a></li>
        <li>Falls ihr zwischem dem Vortrag auf der GPN und ~0:45 Nachrichten verschickt habt - die hat das System leider nie Verschickt :-(</li>
    </ul>
{% endif %}

