{% load crispy_forms_tags i18n static %}
{% load i18n static %}


{% block content %}
    <div class="row">
        <div class="col-md-7 col-md-offset-3">
            <div class="box clearfix">
                <form method="POST" action="" class="form-inline clearfix">
                    {% crispy form %}
                    <div class="red-buttons pull-right">
                        <button type="submit" name="save" class="btn"  data-toggle="tooltip" data-title="Versenden">
                            <i class="icon-ok icon-2x"></i></button>
                        <button type="reset" name="reset" class="btn"  data-toggle="tooltip" data-title="Zurücksetzen">
                            <i class="icon-remove icon-2x"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

