{% load crispy_forms_tags i18n static %}
{% load i18n static %}


{% block content %}
    <form method="POST" action="">
        <div class="box clearfix">
            <h1>Send Message</h1>
            <div class="clearfix">
                {% crispy form %}
                <ul class="buttons">
                    <li>
                        <button type="submit" name="save" class="btn btn-primary"  data-toggle="tooltip" data-title="Versenden">
                            <p>Nachricht senden</p></button>
                    </li>
                </ul>
            </div>

        </div>
    </form>
{% endblock %}

