{% extends "herobase/layout/base.html" %}
{% load i18n %}
{% block javascript %}
    <script type="text/javascript">
    function linkify(text) {
        // HACK HACK HACK :-)
    var replae = /(\b(https):\/\/youarehero.net)(\/quests\/[0-9]+\/)/gim;
    return text.replace(replae, '<a href="$3">$1$3</a>');
    }
    $(function () {
        $("#message_text").html(linkify($("#message_text").text()));
    })
    </script>
{% endblock %}
{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <div class="well well-small">
            <div class="page-header">
            {% if message.sender == request.user %}

                <h4>{% trans "Message to" %} <a href="{% url userprofile-public message.recipient.username %}">{{ message.recipient }}</a>
                    {% trans "sent" %} {{ message.sent }}</h4>
            {% else %}
                <h4>{% trans "Message from" %} <a href="{% url userprofile-public message.sender.username %}">{{ message.sender }}</a>
                    {% trans "received" %} {{ message.sent }}</h4>
            {% endif %}
            </div>
                <h3>{{ message.title }}</h3>
                <p id="message_text">{{ message.text }}</p>
            </div>
            <a href="{% url message-list %}">{% trans "Back to inbox" %}</a>
        </div>

    </div>
{%  endblock %}