{% extends "herobase/layout-3-9.html" %}
{% load crispy_forms_tags i18n static %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#typeahead').typeahead()
        });
    </script>
{% endblock %}

{% block content %}
            <ul class="nav nav-pills">
                <li> <a href="{% url message-create %}" class="">Write</a></li>
                <li class="active"><a href="#in" data-toggle="tab"><i class="icon-arrow-down"></i>In</a></li>
                <li><a href="#out" data-toggle="tab"><i class="icon-arrow-up"></i>Out</a></li>
            </ul>
            <div class="row">
                <div class="span9">

                <div class="tab-content">
                <div class="tab-pane active" id="in">
                    {% if received_messages %}
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Subject</th>
                                <th>From</th>
                                <th>Date</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for message in received_messages %}
                                <tr {% if not message.is_read %}class="new"{% endif %}>
                                    <td>
                                        <a href="{% url message-detail message.pk %}">{{ message.title }}</a>
                                    </td>
                                    <td><a href="{% url userprofile-public message.sender.username %}">{{ message.sender }}</a></td>
                                    <td>{{ message.sent }}</td>
                                    <td>
                                        <a class="btn btn-small" href="{% url message-reply message.pk %}">reply<i class=" icon-share-alt icon-black"></i></a>
                                        <form method="post" action="{% url message-update message.pk %}">
                                            {% csrf_token %}
                                            <button class="btn btn-small" type="submit" value="delete" name="delete">delete <i class="icon-trash icon-black"></i></button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>No messages yet :(</p>
                    {% endif %}

                </div>


                <div class="tab-pane" id="out">
                    {% if sent_messages %}
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Subject</th>
                                <th>To</th>
                                <th>Date</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for message in sent_messages %}
                                <tr>
                                    <td>
                                        <a href="{% url message-detail message.pk %}">{{ message.title }}</a>
                                    </td>
                                    <td><a href="{% url userprofile-public message.recipient.username %}">{{ message.recipient }}</a></td>
                                    <td>{{ message.sent }}</td>
                                    <td>
                                        <form method="post" action="{% url message-update message.pk %}">
                                            {% csrf_token %}
                                            <button class="btn btn-small" type="submit" value="delete" name="delete">delete <i class="icon-trash icon-black"></i></button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>You did not send any messages yet</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}