{% extends "herobase/layout/base.html" %}
{% load crispy_forms_tags i18n static %}

{% block javascript %}
    <script type="text/javascript" src="{% get_static_prefix %}js/forms.js"></script>
    <script>
        $(function() {
            confirm_button("button[name=delete]", "{% trans "Really delete this Message?" %}");
        });
        // this is for switching tabs on pageload :-)
        // not needed any more, only for info
        $(function () {
            var activeTab = $('[href=' + location.hash + ']');
            activeTab && activeTab.tab('show');
        });
    </script>
{% endblock %}

{% block submenu %}
    {% include "message/submenu.inc.html"%}
{% endblock %}

{% block page_title %}
    <h1>{% trans "Messages" %}</h1>
{% endblock %}



{% block content %}
    <ul class="grid">
        {% for message in received_messages %}
            <li class="span6">
            {% with image=message.sender.get_profile.avatar_thumbnail_80 %}
                {% include "message/message_box.inc.html" %}
            {% endwith %}
            </li>
        {% empty %}
            <li>{% trans "No messages yet." %}</li>
        {% endfor %}
    </ul>
{% endblock %}