{% extends "herobase/layout/box.html" %}
{% load i18n static %}
{% load url from future %}

{% block extra_classes %}collapsible{% if not message.is_relatively_new %} collapsed{% endif %}{% endblock %}

{% block title %}
        <span class="pull-right">{{ message.sent }}</span>
    {% if message.sender == request.user %}
        an <strong>{{ message.recipient }}:</strong>
    {% else %}
        von <strong>{{ message.sender }}:</strong>
    {% endif %}
        {{ message.title }}
{% endblock %}

{% block content %}
    <img src="{{ image }}" alt="" class="pull-left">
    <p>{{ message.text }}</p>
{% endblock %}

{% block buttons_bottom %}
    {% if message.sender != request.user %}
    <a href="{% url "message_reply" message.pk %}"  data-toggle="tooltip" data-title="Antworten">
        <i class=" icon-yah-arrow icon-40"></i>
    </a>
    {% endif %}
{% endblock %}






