{% load i18n activelink %}
{% load url from future %}
<ul class="page-tabs">
    <li
            class="{% ifstartswith '/messages/create' %}on{% endifstartswith%}
                   {% ifstartswith '/messages/reply' %}on{% endifstartswith%}
                   {% ifstartswith '/message/to' %}on{% endifstartswith%}">
        <a href="{% url "message_create" %}" class="">{% trans "compose" %}
        </a>
    </li>
    <li class="{% ifstartswith '/messages/team' %}on{% endifstartswith%}">
        <a href="{% url "message_team" %}" class="">{% trans "Compose message to team" %}
        </a>
    </li>
    <li class="{% ifactive "message_list_in" %}on{% endifactive %}">
        <a href="{% url "message_list_in" %}#in">
            <i class="icon-arrow-down"></i>{% trans "Inbox" %}
        </a>
    </li>
    <li class="{% ifactive "message_list_out" %}on{% endifactive %}">
        <a href="{% url "message_list_out" %}#out">
            <i class="icon-arrow-up"></i>{% trans "Outbox" %}
        </a>
    </li>
</ul>
