{% extends "herobase/layout/box.html" %}
{% load url from future %}
{% block box %}
    <div class="notification{% if notification.is_read %} read{% endif %}"
            {% if notification.is_dismissible and not notification.is_read %}
                data-dismiss-url="{% url "mark_notification_read" notification.pk %}"
            {% endif %}
        >
        {% if url %}
            <a href="{{ url }}">{{ block.super }}</a>
        {% else%}
            {{ block.super }}
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <img src="{{ notification.image }}" alt=""/>
    <p>{% block text %}{{ notification.text }}{% endblock %}</p>
{% endblock %}