{% load humanize %}
{% block content %}
    <div class="box notification{% if notification.read %} read{% endif %}"
            {% if notification.is_dismissible and not notification.read %}
                data-dismiss-url="{% url "mark_notification_read" notification.pk %}"
            {% endif %}
        >
        {% with url=notification.target.get_absolute_url %}
            <div class="box-content">
              <a {% if url %}href="{{ url }}"{% endif %}>
                <img src="{{ notification.image }}" alt="" class="pull-left"/>
                <p>{% block text %}{{ notification.text }}{% endblock %}</p>
              </a>
              <div class="pull-right">{{ notification.created|naturaltime }}</div>
            </div>
        {% endwith %}
    </div>
{% endblock %}
