{% extends "herobase/base.html" %}
{% load i18n crispy_forms_tags %}
{% block content %}
    <form method="post" action=".">{% csrf_token %}
        <div class="row-fluid">
            <div class="span16">
                {{ form|crispy }}
            </div>
        </div>

        <div class="row-fluid">
            <div class="span16">
                <div class="well align_button">
                    <input type="submit" class="btn primary" value="{% trans 'Log in' %}" />
                    <input type="hidden" name="next" value="{{ next }}" />

                    <p>{% trans "Forgot password" %}? <a href="{% url auth_password_reset %}">{% trans "Reset it" %}</a></p>
                </div>
            </div>
        </div>
    </form>
{% endblock %}