{% extends "herobase/layout/box.html" %}
{% load crispy_forms_tags i18n static %}
{% load url from future %}

{% block title %}
    <h2>{% trans "Login" %}</h2>
{% endblock %}

{% block content %}
    {% crispy form %}

    <p>
        <a href="{% url "auth_password_reset" %}">{% trans "Forgot the password?" %}</a>
    </p>
    <p>
        {% trans "You don't have an account yet?" %}
        <a href="{% url "registration_register" %}"  id="join">{% trans "Join now!" %}</a>
    </p>
{% endblock %}
