{% extends "herobase/layout-3-6-3.html" %}
{% load crispy_forms_tags i18n static %}
{% block content %}
{% if validlink %}
<p>Please enter your new password twice so we can verify you typed it in correctly.</p>
<form action="" method="post" class="well">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="form-actions">
        <input type="submit" class="btn" value="Change my password" />
    </div>
</form>
{% else %}
<h1>Password reset unsuccessful</h1>
<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
{% endif %}
{% endblock %}