{% extends "herobase/layout/layout-3-6-3.html" %}
{% load crispy_forms_tags i18n static %}

{% block page_title %}
    <h1>{% trans "Password reset" %}</h1>
{% endblock %}

{% block content %}
    {% if validlink %}
        <h2>{% trans "Confirm password reset" %}</h2>
        <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
        <form action="" method="post" class="well">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-actions">
                <input type="submit" class="btn" value="{% trans 'Change my password' %}" />
            </div>
        </form>
    {% else %}
        <h2>{% trans "Password reset failed" %}</h2>
        <p>{% trans 'The password reset link was invalid, possibly because it has already been used. Please request a <a href="{% url auth_password_reset %}">new password reset.</a>' %}</p>
    {% endif %}
{% endblock %}