{% extends "herobase/layout/base.html" %}
{% load crispy_forms_tags i18n static %}

{% block page_title %}
    <h1>{% trans "Password reset" %}</h1>
{% endblock %}

{% block content %}
<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>

<form action="" method="post" class="well">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="{% trans 'Reset my password' %}" />
    </div>
</form>
{% endblock %}
