{% extends "herobase/layout/box.html" %}
{% load crispy_forms_tags i18n static %}
{% block box %}
    <form method="POST" action="">  {{ block.super }}</form>
{% endblock %}

{% load i18n static %}

{% block buttons_top %}

{% endblock %}

{% block title %}
    <h2>{% trans "Be a Hero!" %}</h2>
{% endblock %}

{% block content %}


    <p>{% trans "Being a hero is exciting. Try it yourself!" %}</p>

   {% csrf_token %}
        {{ form|crispy }}

{% endblock %}

{% block buttons_bottom %}
    <button class="box-button text" type="submit" value="{% trans "Login" %}" name="login">
      <span>Registrieren</span></button>
{% endblock %}
