{% block box %}
<div class="box {% block extra_classes %}{% endblock %}{% if collapsible %} collapsible{% endif %}{% if collapsed %} collapsed{% endif %}">
    <div class="box-buttons-top">
        {% block buttons-top %}
        {% endblock %}
    </div>

    <div class="box-title">
        {% if collapsible %}
            <span class="caret pull-right"></span>
        {% endif %}
        {% block title %}
        {% endblock %}
    </div>

    <div class="box-content">
        {% block content %}
        {% endblock %}
    </div>

    <div class="box-buttons-bottom">
        {% block buttons-bottom %}
        {% endblock %}
    </div>

</div>
{% endblock %}