{% block box %}
<div class="box {% block extra_classes %}{% endblock %}">
    <div class="box-buttons-top">
        {% block buttons-top %}
        {% endblock %}
    </div>

    <div class="box-header{% if collapsible %} collapsible{% endif %}{% if collapsed %} collapsed{% endif %}">
        {% if collapsible %}
            <span class="caret"></span>
        {% endif %}
        {% block header %}
        {% endblock %}
    </div>

    <div class="box-content">
        {% block content %}
        {% endblock %}
    </div>

    <div class="box-buttons-bottom">
        {% block buttons-bottom %}
        {% endblock %}
    </div>

</div>
{% endblock %}