{% block box %}
<div class="box {% block extra_classes %}{% endblock %}" {% block extra_attrs %}{% endblock %}>
    <div class="box-buttons-top">
        {% block buttons_top %}
        {% endblock %}
    </div>

    <div class="box-title">
        <span class="caret pull-right"></span>
        {% block title %}
        {% endblock %}
    </div>

    <div class="box-content">
        {% block content %}
        {% endblock %}
    </div>

    <div class="box-buttons-bottom">
        {% block buttons_bottom %}
        {% endblock %}
    </div>

</div>
{% endblock %}