{% load url from future %}
{% load i18n %}
<div id="page-footer" class="container clearfix">
    <ul class="nav nav-blue">
        <li><a href="{% url "imprint" %}" title="Impressum">{% trans "Imprint/Contact" %}</a></li>
        <li><i class="icon-circle"></i></li>
        <li><a href="{% url "press" %}">{% trans "Presse" %}</a></li>
        <li><i class="icon-circle"></i></li>
        <li><a href="{% url "dosanddonts" %}">{% trans "Hints" %}</a></li>
        <li><i class="icon-circle"></i></li>
        <li><a href="{% url "help" %}">?</a></li>
        <li><i class="icon-circle"></i></li>
        <li><a href="{% url "manifesto" %}">{% trans "Manifesto" %}</a></li>
        <li><i class="icon-circle"></i></li>
        <li><a target="_blank" href="/blog/">{% trans "Blog" %}</a></li>
        <li><i class="icon-circle"></i></li>
        <li><a target="_blank" href="/forums/">{% trans "Forum" %}</a></li>
        <li><i class="icon-circle"></i></li>
        <li><a target="_blank" href="/wiki/">{% trans "Wiki" %}</a></li>
        <li><i class="icon-circle"></i></li>
        <li><a href="{% url 'credits' %}">{% trans "Credits" %}</a></li>
    </ul>
    <p style="text-aign: center; margin-top: 5px;">
        <a href="{% url 'home' %}">
            <i class="icon-yah-logo icon-3x"></i>
        </a>
    </p>

</div>
