{% load url from future %}
<div id="page-footer" class="container">
  <ul class="nav nav-blue">
    <li><a href="{% url "imprint" %}" title="Impressum">Impressum/Kontakt</a></li>
    <li><i class="icon-circle"></i></li>
    <li><a href="{% url "press" %}">Presse</a></li>
    <li><i class="icon-circle"></i></li>
    <li><a href="{% url "manifesto" %}">Manifest</a></li>
    <li><i class="icon-circle"></i></li>
    <li><a href="/blog/">Blog</a></li>
    <li><i class="icon-circle"></i></li>
    <li><a href="/forums/">Forum</a></li>
    <li><i class="icon-circle"></i></li>
    <li><a href="/wiki/">Wiki</a></li>
  </ul>
  <i class="icon-yah"></i>
</div>
