{% extends "herobase/layout/base.html" %}
{% load i18n hero_base %}
{% block page %}

    <div class="span3 sidebar-left">
        {% block sidebar_left %}
            {% include "herobase/layout/sidebar_left.inc.html" %}
        {% endblock %}
    </div><!--/span-->

    <div class="span6">
        {% include "herobase/layout/messages.inc.html" %}
        {% block content %}&nbsp;{% endblock %}
    </div><!--/span-->

    <div class="span3 sidebar-right">
        {% block sidebar_right %}
            {% if request.user.is_authenticated %}
                {% suggest_quests 3 as quests %}
                {% if quests %}
                    <div class="quest-list">
                        <h3>{% trans "Suggested quests" %}</h3>
                        <ul>
                            {% for quest in quests %}
                                {% include "herobase/quest/postit.inc.html" %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endif %}
        {% endblock %}
    </div><!--/span-->

{% endblock %}