{% load i18n static crispy_forms_tags %}

{% if request.user.is_authenticated %}
    <ul class="icons clearfix">
        <li><a href="{% url home %}" rel="tooltip" title="{% trans 'Dashboard' %}">
            <i class="menu-icon-dashboard"><span>{% trans 'Dashboard' %}</span></i></a></li>
        <li><a href="{% url quest-list %}" rel="tooltip" title="{% trans 'Billboard' %}">
            <i class="menu-icon-billboard"><span>{% trans 'Billboard' %}</span></i></a></li>
        <li><a href="{% url message-list %}" rel="tooltip" title="{% trans 'Private Messages' %}">
            <i class="menu-icon-messages">
                {% if request.user.get_profile.unread_messages_count != 0 %}
                    <span class="badge"> {{ request.user.get_profile.unread_messages_count }}</span>
                {% endif %}
                <span>{% trans 'Messages' %}</span>
            </i></a></li>
        <li><a href="{% url quest-create %}" rel="tooltip" title="{% trans 'Create new Quest' %}">
            <i class="menu-icon-new"><span>{% trans 'New' %}</span></i></a></li>
        <li><a href="{% url quest-my %}" rel="tooltip" title="{% trans 'My Quests' %}">
            <i class="menu-icon-my-quests"><span>{% trans 'My Quests' %}</span></i></a></li>
{#        <li><a href="{% url userprofile-private %}" rel="tooltip" title="{% trans 'Profile' %}">#}
{#            <i class="menu-icon-profile"><span>{% trans 'Profile' %}</span></i></a></li>#}
{#        <li><a href="{% url stats %}" rel="tooltip" title="{% trans 'Statistics' %}">#}
{#            <i class="menu-icon-stats"><span>{% trans 'Statistics' %}</span></i></a></li>#}
{#        <li><a href="{% url leader-board %}" rel="tooltip" title="{% trans 'Leader board' %}">#}
{#            <i class="menu-icon-leader">{% trans 'Leader board' %}</i></a></li>#}

    </ul>
{% else %}
    <ul class="icons clearfix">
        <li><a href="{% url home %}" rel="tooltip" title="{% trans 'Dashboard' %}">
            <i class="menu-icon-dashboard"></i><br>{% trans 'Dashboard' %}</a></li>
        <li><a href="{% url stats %}" rel="tooltip" title="{% trans 'Statistics' %}">
            <i class="menu-icon-stats"></i><br>{% trans 'Statistics' %}</a></li>
        <li><a href="{% url leader-board %}" rel="tooltip" title="{% trans 'Leader board' %}">
            <i class="menu-icon-leader"></i><br>{% trans 'Leader board' %}</a></li>
    </ul>
{% endif %}