{% load static i18n crispy_forms_tags activelink %}
{% load url from future %}
{% load i18n %}
<div id="navigation" role="navigation">
  <div class="nav-container">
    <ul id="brand" class="nav nav-blue">
      <li><a href="{% url "home" %}"><h2 class="subheader"><i class="icon-yah-logo icon-4x"></i><br>you are hero</h2></a></li>
    </ul>
    <div class="langswitchflags">
      <a href="#"><img src="{% get_static_prefix %}img/200px-Flag_of_Germany.png" class="langswitcher flag" data-target-lang="de"/></a>
      <a href="#"><img src="{% get_static_prefix %}img/200px-Flag_of_the_United_States.png" class="langswitcher flag" data-target-lang="en"/></a>
    </div>
  </div>
  {% if request.user.is_authenticated %}
    {% include "herobase/layout/navigation_authenticated.html" %}
  {% else %}
  <div class="nav-container">
    <ul class="nav nav-white nav-font">
      <li>
      <a href="{% url "arg" %}">
        {% comment %}Translators: This refers to the arg{% endcomment %}
        <i class="icon-puzzle-piece"></i><br/>{% trans "Das Spiel" %}
      </a>
      <a href="{% url 'quest_list' %}">
        <i class="icon-pushpin"></i><br/>{% trans "Quests" %}
      </a>
      </li>
    </ul>
  </div>
  <div class="nav-container">
    <ul class="nav nav-red nav-font learn-more">
        <li><a href="{% url "manifesto" %}">
          <i class="icon-yah-hand-right"></i> {% trans "Find out more" %} <i class="icon-yah-hand-left"></i>
      </a></li>
    </ul>
  </div>
  <div class="nav-container">
    <ul class="nav nav-red nav-font">
      <li>
      <ul class="nav nav-blue">
        <li>
          {% crispy login_form %}
        </li>
      </ul>
      </li>
      <li class="pull-down"><a href="{% url "registration_register" %}">{% trans "Registrieren" %}</a></li>
    </ul>
  </div>
  {% endif %}
</div>
